In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('unifed_csv_with_uuid.csv')
df.drop_duplicates(subset=['company_name'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4031 entries, 0 to 4049
Data columns (total 97 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   company_name                                 4031 non-null   object
 1   status                                       4031 non-null   object
 2   num_funding_rounds                           4031 non-null   float64
 3   total_funding_usd                            4031 non-null   float64
 4   founded_on                                   4031 non-null   float64
 5   employee_count                               4031 non-null   object
 6   cat_pca_0                                    4031 non-null   float64
 7   cat_pca_1                                    4031 non-null   float64
 8   cat_pca_2                                    4031 non-null   float64
 9   cat_pca_3                                    4031 non-null   float64
 10  cat_pca_4                                    4031 non-null   float64
 11  fd_rd_latest_investment                      4031 non-null   float64
 12  fd_rd_investment_type_series_unknown         4031 non-null   float64
 13  fd_rd_investment_type_grant                  4031 non-null   float64
 14  fd_rd_investment_type_debt_financing         4031 non-null   float64
 15  fd_rd_investment_type_pre_seed               4031 non-null   float64
 16  fd_rd_investment_type_post_ipo_equity        4031 non-null   float64
 17  fd_rd_investment_type_convertible_note       4031 non-null   float64
 18  fd_rd_investment_type_equity_crowdfunding    4031 non-null   float64
 19  fd_rd_investment_type_private_equity         4031 non-null   float64
 20  fd_rd_investment_type_undisclosed            4031 non-null   float64
 21  fd_rd_investment_type_post_ipo_debt          4031 non-null   float64
 22  fd_rd_investment_type_corporate_round        4031 non-null   float64
 23  fd_rd_investment_type_product_crowdfunding   4031 non-null   float64
 24  fd_rd_investment_type_non_equity_assistance  4031 non-null   float64
 25  fd_rd_investment_type_initial_coin_offering  4031 non-null   float64
 26  fd_rd_investment_type_secondary_market       4031 non-null   float64
 27  fd_rd_investment_type_post_ipo_secondary     4031 non-null   float64
 28  fd_rd_num_invested_by_top_100                4031 non-null   float64
 29  event_count                                  4031 non-null   float64
 30  job_duration                                 4031 non-null   float64
 31  gender_male                                  4031 non-null   float64
 32  gender_female                                4031 non-null   float64
 33  degree_type                                  4031 non-null   float64
 34  subject_Business                             4031 non-null   float64
 35  subject_STEM                                 4031 non-null   float64
 36  subject_Arts_SoSc                            4031 non-null   float64
 37  num_exec                                     4031 non-null   float64
 38  first_fund_raised                            4031 non-null   float64
 39  first_fund_post_money                        3257 non-null   float64
 40  first_fund_investor_count                    3257 non-null   float64
 41  has_parent                                   4031 non-null   int64
 42  continent_NA                                 4031 non-null   int64
 43  continent_EU                                 4031 non-null   int64
 44  continent_AS                                 4031 non-null   int64
 45  continent_SA                                 4031 non-null   int64
 46  continent_AF                                 4031 non-null   int64
 47  continent_OC                                 4031 non-null   int64
 48  country_code_USA                             4031 non-null   int64
 49  country_code_GBR                             4031 non-null   int64
 50  country_code_IND                             4031 non-null   int64
 51  country_code_CHN                             4031 non-null   int64
 52  country_code_CAN                             4031 non-null   int64
 53  country_code_SGP                             4031 non-null   int64
 54  country_code_AUS                             4031 non-null   int64
 55  country_code_DEU                             4031 non-null   int64
 56  country_code_BRA                             4031 non-null   int64
 57  country_code_CHE                             4031 non-null   int64
 58  country_code_ESP                             4031 non-null   int64
 59  country_code_FRA                             4031 non-null   int64
 60  country_code_NLD                             4031 non-null   int64
 61  country_code_HKG                             4031 non-null   int64
 62  country_code_ISR                             4031 non-null   int64
 63  country_code_KOR                             4031 non-null   int64
 64  country_code_SWE                             4031 non-null   int64
 65  country_code_JPN                             4031 non-null   int64
 66  country_code_MEX                             4031 non-null   int64
 67  country_code_IDN                             4031 non-null   int64
 68  city_London                                  4031 non-null   int64
 69  city_New York                                4031 non-null   int64
 70  city_San Francisco                           4031 non-null   int64
 71  city_Singapore                               4031 non-null   int64
 72  city_Toronto                                 4031 non-null   int64
 73  city_Beijing                                 4031 non-null   int64
 74  city_Mumbai                                  4031 non-null   int64
 75  city_Los Angeles                             4031 non-null   int64
 76  city_Chicago                                 4031 non-null   int64
 77  city_Sydney                                  4031 non-null   int64
 78  city_Paris                                   4031 non-null   int64
 79  city_São Paulo                               4031 non-null   int64
 80  city_Tokyo                                   4031 non-null   int64
 81  city_Berlin                                  4031 non-null   int64
 82  city_Boston                                  4031 non-null   int64
 83  city_Stockholm                               4031 non-null   int64
 84  city_Shanghai                                4031 non-null   int64
 85  city_Tel Aviv                                4031 non-null   int64
 86  city_Amsterdam                               4031 non-null   int64
 87  city_Madrid                                  4031 non-null   int64
 88  status_operating                             4031 non-null   int64
 89  status_exited                                4031 non-null   int64
 90  status_closed                                4031 non-null   int64
 91  has_acquisitions                             4031 non-null   int64
 92  has_ipo                                      4031 non-null   int64
 93  org_uuid                                     4031 non-null   object
 94  average_change_in_funds                      4031 non-null   float64
 95  average_momentum                             4031 non-null   float64
 96  latest_momentum                              4031 non-null   float64
dtypes: float64(41), int64(52), object(4)
memory usage: 3.0+ MB

In [3]:
df.head()

,company_name,status,num_funding_rounds,total_funding_usd,founded_on,employee_count,cat_pca_0,cat_pca_1,cat_pca_2,cat_pca_3,...,city_Madrid,status_operating,status_exited,status_closed,has_acquisitions,has_ipo,org_uuid,average_change_in_funds,average_momentum,latest_momentum
0,All of Us,operating,3.0,4025000.0,4.0767,1-10,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,00184562-d645-41c5-ae6b-f8e4359efc4d,1.478261,2.964229,2.964229
1,PayPlug,acquired,5.0,13316538.0,8.7507,11-50,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,00251aad-6e34-0898-8a72-fe8864a90f92,0.557546,0.934681,0.331667
2,Zeitgold,operating,5.0,57011648.0,6.0795,101-250,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,004a46b6-701c-937a-068b-7c0a5471eaa8,0.579845,0.825104,1.801594
3,AID:Tech,operating,10.0,3180350.0,4.7068,11-50,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0052bd88-2c89-e881-3533-0cff4c853d2c,0.515446,0.228600,0.228600
4,OwlTing,operating,4.0,5700000.0,10.4164,101-250,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,005cee33-07d2-81f9-c879-2dcf17e2d436,0.908425,0.341418,0.298739

In [4]:
org_df = pd.read_csv("organizations.csv")

keep_col = ['uuid','category_groups_list']
org_df = org_df[keep_col]

In [5]:
# filter by category group: keep fintech companies
# https://support.crunchbase.com/hc/en-us/articles/360043146954-What-Industries-are-included-in-Crunchbase-
org_df.dropna(subset=['category_groups_list'], inplace=True)
fintech_category_groups = ['Commerce and Shopping','Financial Services','Lending and Investments','Payments']

# categories can be formed from one or more above elementary keywords
org_df = org_df[org_df['category_groups_list'].str.contains('|'.join(fintech_category_groups))]
for keyword in fintech_category_groups:
    org_df[keyword] = org_df['category_groups_list'].str.contains(keyword)*1
# original col not dropped coz frontend needs it

In [6]:
org_df.head()

,uuid,category_groups_list,Commerce and Shopping,Financial Services,Lending and Investments,Payments
3,f4d5ab44-058b-298b-ea81-380e6e9a8eec,"Financial Services,Lending and Investments,Sof...",0,1,1,0
5,7ca12f7a-2f8e-48b4-a8d1-1a33a0e275b9,"Financial Services,Lending and Investments,Sof...",0,1,1,0
6,b08efc27-da40-505a-6f9d-c9e14247bf36,"Financial Services,Internet Services,Lending a...",0,1,1,0
7,8d5c7e48-82da-3025-dd46-346a31bab86f,"Financial Services,Lending and Investments",0,1,1,0
8,60485007-8856-bbac-aa1b-c535c41f5f47,"Commerce and Shopping,Internet Services,Media ...",1,0,0,0

In [7]:
org_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244441 entries, 3 to 1230948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   uuid                     244441 non-null  object
 1   category_groups_list     244441 non-null  object
 2   Commerce and Shopping    244441 non-null  int32
 3   Financial Services       244441 non-null  int32
 4   Lending and Investments  244441 non-null  int32
 5   Payments                 244441 non-null  int32
dtypes: int32(4), object(2)
memory usage: 9.3+ MB

In [8]:
final_df = df.set_index('org_uuid').join(org_df.set_index('uuid'))
# final_df = df.merge(org_df,on='zip_code',how='left')
final_df.head()

,company_name,status,num_funding_rounds,total_funding_usd,founded_on,employee_count,cat_pca_0,cat_pca_1,cat_pca_2,cat_pca_3,...,has_acquisitions,has_ipo,average_change_in_funds,average_momentum,latest_momentum,category_groups_list,Commerce and Shopping,Financial Services,Lending and Investments,Payments
org_uuid,,,,,,,,,,,,,,,,,,,,,
00184562-d645-41c5-ae6b-f8e4359efc4d,All of Us,operating,3.0,4025000.0,4.0767,1-10,0.0,0.0,0.0,0.0,...,0,0,1.478261,2.964229,2.964229,"Financial Services,Lending and Investments",0.0,1.0,1.0,0.0
00251aad-6e34-0898-8a72-fe8864a90f92,PayPlug,acquired,5.0,13316538.0,8.7507,11-50,0.0,0.0,0.0,0.0,...,0,0,0.557546,0.934681,0.331667,"Commerce and Shopping,Financial Services,Payments",1.0,1.0,0.0,1.0
004a46b6-701c-937a-068b-7c0a5471eaa8,Zeitgold,operating,5.0,57011648.0,6.0795,101-250,0.0,0.0,0.0,0.0,...,0,0,0.579845,0.825104,1.801594,"Artificial Intelligence,Data and Analytics,Fin...",0.0,1.0,0.0,0.0
0052bd88-2c89-e881-3533-0cff4c853d2c,AID:Tech,operating,10.0,3180350.0,4.7068,11-50,0.0,0.0,0.0,0.0,...,0,0,0.515446,0.228600,0.228600,"Financial Services,Government and Military,Inf...",0.0,1.0,0.0,0.0
005cee33-07d2-81f9-c879-2dcf17e2d436,OwlTing,operating,4.0,5700000.0,10.4164,101-250,0.0,0.0,0.0,0.0,...,0,0,0.908425,0.341418,0.298739,"Commerce and Shopping,Mobile,Other,Travel and ...",1.0,0.0,0.0,0.0

In [9]:
final_df.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
Index: 4050 entries, 00184562-d645-41c5-ae6b-f8e4359efc4d to ffffabce-6d4a-b3d1-13c0-4e90cedf5270
Data columns (total 101 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   company_name                                 4050 non-null   object
 1   status                                       4050 non-null   object
 2   num_funding_rounds                           4050 non-null   float64
 3   total_funding_usd                            4050 non-null   float64
 4   founded_on                                   4050 non-null   float64
 5   employee_count                               4050 non-null   object
 6   cat_pca_0                                    4050 non-null   float64
 7   cat_pca_1                                    4050 non-null   float64
 8   cat_pca_2                                    4050 non-null   float64
 9   cat_pca_3                                    4050 non-null   float64
 10  cat_pca_4                                    4050 non-null   float64
 11  fd_rd_latest_investment                      4050 non-null   float64
 12  fd_rd_investment_type_series_unknown         4050 non-null   float64
 13  fd_rd_investment_type_grant                  4050 non-null   float64
 14  fd_rd_investment_type_debt_financing         4050 non-null   float64
 15  fd_rd_investment_type_pre_seed               4050 non-null   float64
 16  fd_rd_investment_type_post_ipo_equity        4050 non-null   float64
 17  fd_rd_investment_type_convertible_note       4050 non-null   float64
 18  fd_rd_investment_type_equity_crowdfunding    4050 non-null   float64
 19  fd_rd_investment_type_private_equity         4050 non-null   float64
 20  fd_rd_investment_type_undisclosed            4050 non-null   float64
 21  fd_rd_investment_type_post_ipo_debt          4050 non-null   float64
 22  fd_rd_investment_type_corporate_round        4050 non-null   float64
 23  fd_rd_investment_type_product_crowdfunding   4050 non-null   float64
 24  fd_rd_investment_type_non_equity_assistance  4050 non-null   float64
 25  fd_rd_investment_type_initial_coin_offering  4050 non-null   float64
 26  fd_rd_investment_type_secondary_market       4050 non-null   float64
 27  fd_rd_investment_type_post_ipo_secondary     4050 non-null   float64
 28  fd_rd_num_invested_by_top_100                4050 non-null   float64
 29  event_count                                  4050 non-null   float64
 30  job_duration                                 4050 non-null   float64
 31  gender_male                                  4050 non-null   float64
 32  gender_female                                4050 non-null   float64
 33  degree_type                                  4050 non-null   float64
 34  subject_Business                             4050 non-null   float64
 35  subject_STEM                                 4050 non-null   float64
 36  subject_Arts_SoSc                            4050 non-null   float64
 37  num_exec                                     4050 non-null   float64
 38  first_fund_raised                            4050 non-null   float64
 39  first_fund_post_money                        3274 non-null   float64
 40  first_fund_investor_count                    3274 non-null   float64
 41  has_parent                                   4050 non-null   int64
 42  continent_NA                                 4050 non-null   int64
 43  continent_EU                                 4050 non-null   int64
 44  continent_AS                                 4050 non-null   int64
 45  continent_SA                                 4050 non-null   int64
 46  continent_AF                                 4050 non-null   int64
 47  continent_OC                                 4050 non-null   int64
 48  country_code_USA                             4050 non-null   int64
 49  country_code_GBR                             4050 non-null   int64
 50  country_code_IND                             4050 non-null   int64
 51  country_code_CHN                             4050 non-null   int64
 52  country_code_CAN                             4050 non-null   int64
 53  country_code_SGP                             4050 non-null   int64
 54  country_code_AUS                             4050 non-null   int64
 55  country_code_DEU                             4050 non-null   int64
 56  country_code_BRA                             4050 non-null   int64
 57  country_code_CHE                             4050 non-null   int64
 58  country_code_ESP                             4050 non-null   int64
 59  country_code_FRA                             4050 non-null   int64
 60  country_code_NLD                             4050 non-null   int64
 61  country_code_HKG                             4050 non-null   int64
 62  country_code_ISR                             4050 non-null   int64
 63  country_code_KOR                             4050 non-null   int64
 64  country_code_SWE                             4050 non-null   int64
 65  country_code_JPN                             4050 non-null   int64
 66  country_code_MEX                             4050 non-null   int64
 67  country_code_IDN                             4050 non-null   int64
 68  city_London                                  4050 non-null   int64
 69  city_New York                                4050 non-null   int64
 70  city_San Francisco                           4050 non-null   int64
 71  city_Singapore                               4050 non-null   int64
 72  city_Toronto                                 4050 non-null   int64
 73  city_Beijing                                 4050 non-null   int64
 74  city_Mumbai                                  4050 non-null   int64
 75  city_Los Angeles                             4050 non-null   int64
 76  city_Chicago                                 4050 non-null   int64
 77  city_Sydney                                  4050 non-null   int64
 78  city_Paris                                   4050 non-null   int64
 79  city_São Paulo                               4050 non-null   int64
 80  city_Tokyo                                   4050 non-null   int64
 81  city_Berlin                                  4050 non-null   int64
 82  city_Boston                                  4050 non-null   int64
 83  city_Stockholm                               4050 non-null   int64
 84  city_Shanghai                                4050 non-null   int64
 85  city_Tel Aviv                                4050 non-null   int64
 86  city_Amsterdam                               4050 non-null   int64
 87  city_Madrid                                  4050 non-null   int64
 88  status_operating                             4050 non-null   int64
 89  status_exited                                4050 non-null   int64
 90  status_closed                                4050 non-null   int64
 91  has_acquisitions                             4050 non-null   int64
 92  has_ipo                                      4050 non-null   int64
 93  average_change_in_funds                      4050 non-null   float64
 94  average_momentum                             4050 non-null   float64
 95  latest_momentum                              4050 non-null   float64
 96  category_groups_list                         3867 non-null   object
 97  Commerce and Shopping                        3867 non-null   float64
 98  Financial Services                           3867 non-null   float64
 99  Lending and Investments                      3867 non-null   float64
 100 Payments                                     3867 non-null   float64
dtypes: float64(45), int64(52), object(4)
memory usage: 3.3+ MB