In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('unifed_csv_with_uuid.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3274 entries, 0 to 3273
Data columns (total 97 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   company_name                                 3274 non-null   object
 1   status                                       3274 non-null   object
 2   num_funding_rounds                           3274 non-null   float64
 3   total_funding_usd                            3274 non-null   float64
 4   founded_on                                   3274 non-null   float64
 5   employee_count                               3274 non-null   object
 6   cat_pca_0                                    3274 non-null   float64
 7   cat_pca_1                                    3274 non-null   float64
 8   cat_pca_2                                    3274 non-null   float64
 9   cat_pca_3                                    3274 non-null   float64
 10  cat_pca_4                                    3274 non-null   float64
 11  fd_rd_latest_investment                      3274 non-null   float64
 12  fd_rd_investment_type_series_unknown         3274 non-null   float64
 13  fd_rd_investment_type_grant                  3274 non-null   float64
 14  fd_rd_investment_type_debt_financing         3274 non-null   float64
 15  fd_rd_investment_type_pre_seed               3274 non-null   float64
 16  fd_rd_investment_type_post_ipo_equity        3274 non-null   float64
 17  fd_rd_investment_type_convertible_note       3274 non-null   float64
 18  fd_rd_investment_type_equity_crowdfunding    3274 non-null   float64
 19  fd_rd_investment_type_private_equity         3274 non-null   float64
 20  fd_rd_investment_type_undisclosed            3274 non-null   float64
 21  fd_rd_investment_type_post_ipo_debt          3274 non-null   float64
 22  fd_rd_investment_type_corporate_round        3274 non-null   float64
 23  fd_rd_investment_type_product_crowdfunding   3274 non-null   float64
 24  fd_rd_investment_type_non_equity_assistance  3274 non-null   float64
 25  fd_rd_investment_type_initial_coin_offering  3274 non-null   float64
 26  fd_rd_investment_type_secondary_market       3274 non-null   float64
 27  fd_rd_investment_type_post_ipo_secondary     3274 non-null   float64
 28  fd_rd_num_invested_by_top_100                3274 non-null   float64
 29  event_count                                  3274 non-null   float64
 30  job_duration                                 3274 non-null   float64
 31  gender_male                                  3274 non-null   float64
 32  gender_female                                3274 non-null   float64
 33  degree_type                                  3274 non-null   float64
 34  subject_Business                             3274 non-null   float64
 35  subject_STEM                                 3274 non-null   float64
 36  subject_Arts_SoSc                            3274 non-null   float64
 37  num_exec                                     3274 non-null   float64
 38  first_fund_raised                            3274 non-null   float64
 39  first_fund_post_money                        3274 non-null   float64
 40  first_fund_investor_count                    3274 non-null   float64
 41  has_parent                                   3274 non-null   int64
 42  continent_NA                                 3274 non-null   int64
 43  continent_EU                                 3274 non-null   int64
 44  continent_AS                                 3274 non-null   int64
 45  continent_SA                                 3274 non-null   int64
 46  continent_AF                                 3274 non-null   int64
 47  continent_OC                                 3274 non-null   int64
 48  country_code_USA                             3274 non-null   int64
 49  country_code_GBR                             3274 non-null   int64
 50  country_code_IND                             3274 non-null   int64
 51  country_code_CHN                             3274 non-null   int64
 52  country_code_CAN                             3274 non-null   int64
 53  country_code_SGP                             3274 non-null   int64
 54  country_code_AUS                             3274 non-null   int64
 55  country_code_DEU                             3274 non-null   int64
 56  country_code_BRA                             3274 non-null   int64
 57  country_code_CHE                             3274 non-null   int64
 58  country_code_ESP                             3274 non-null   int64
 59  country_code_FRA                             3274 non-null   int64
 60  country_code_NLD                             3274 non-null   int64
 61  country_code_HKG                             3274 non-null   int64
 62  country_code_ISR                             3274 non-null   int64
 63  country_code_KOR                             3274 non-null   int64
 64  country_code_SWE                             3274 non-null   int64
 65  country_code_JPN                             3274 non-null   int64
 66  country_code_MEX                             3274 non-null   int64
 67  country_code_IDN                             3274 non-null   int64
 68  city_London                                  3274 non-null   int64
 69  city_New York                                3274 non-null   int64
 70  city_San Francisco                           3274 non-null   int64
 71  city_Singapore                               3274 non-null   int64
 72  city_Toronto                                 3274 non-null   int64
 73  city_Beijing                                 3274 non-null   int64
 74  city_Mumbai                                  3274 non-null   int64
 75  city_Los Angeles                             3274 non-null   int64
 76  city_Chicago                                 3274 non-null   int64
 77  city_Sydney                                  3274 non-null   int64
 78  city_Paris                                   3274 non-null   int64
 79  city_São Paulo                               3274 non-null   int64
 80  city_Tokyo                                   3274 non-null   int64
 81  city_Berlin                                  3274 non-null   int64
 82  city_Boston                                  3274 non-null   int64
 83  city_Stockholm                               3274 non-null   int64
 84  city_Shanghai                                3274 non-null   int64
 85  city_Tel Aviv                                3274 non-null   int64
 86  city_Amsterdam                               3274 non-null   int64
 87  city_Madrid                                  3274 non-null   int64
 88  status_operating                             3274 non-null   int64
 89  status_exited                                3274 non-null   int64
 90  status_closed                                3274 non-null   int64
 91  has_acquisitions                             3274 non-null   int64
 92  has_ipo                                      3274 non-null   int64
 93  org_uuid                                     3274 non-null   object
 94  average_change_in_funds                      3274 non-null   float64
 95  average_momentum                             3274 non-null   float64
 96  latest_momentum                              3274 non-null   float64
dtypes: float64(41), int64(52), object(4)
memory usage: 2.4+ MB

In [3]:
df.head()

,company_name,status,num_funding_rounds,total_funding_usd,founded_on,employee_count,cat_pca_0,cat_pca_1,cat_pca_2,cat_pca_3,...,city_Madrid,status_operating,status_exited,status_closed,has_acquisitions,has_ipo,org_uuid,average_change_in_funds,average_momentum,latest_momentum
0,All of Us,operating,3.0,4025000.0,4.0767,1-10,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,63fa63c6-a528-4c86-bf2c-1d49aba1767e,1.478261,2.964229,2.964229
1,PayPlug,acquired,5.0,13316538.0,8.7507,11-50,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,55003c8d-441c-80bb-2d71-e26d212a9441,0.557546,0.934681,0.331667
2,Zeitgold,operating,5.0,57011648.0,6.0795,101-250,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,54c9fba5-a3ea-73bb-cf6c-ffcd396e74a3,0.579845,0.825104,1.801594
3,AID:Tech,operating,10.0,3180350.0,4.7068,11-50,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,c2bd02ac-b368-4324-a9ff-e603f8f909a7,0.515446,0.228600,0.228600
4,OwlTing,operating,4.0,5700000.0,10.4164,101-250,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,8b0259e0-2484-61fd-f708-6552fd353336,0.908425,0.341418,0.298739

In [4]:
org_df = pd.read_csv("organizations.csv")

keep_col = ['uuid','category_groups_list']
org_df = org_df[keep_col]

In [5]:
# filter by category group: keep fintech companies
# https://support.crunchbase.com/hc/en-us/articles/360043146954-What-Industries-are-included-in-Crunchbase-
org_df.dropna(subset=['category_groups_list'], inplace=True)
fintech_category_groups = ['Commerce and Shopping','Financial Services','Lending and Investments','Payments']

# categories can be formed from one or more above elementary keywords
org_df = org_df[org_df['category_groups_list'].str.contains('|'.join(fintech_category_groups))]
for keyword in fintech_category_groups:
    org_df[keyword] = org_df['category_groups_list'].str.contains(keyword)*1
# original col not dropped coz frontend needs it

In [6]:
org_df.head()

,uuid,category_groups_list,Commerce and Shopping,Financial Services,Lending and Investments,Payments
3,f4d5ab44-058b-298b-ea81-380e6e9a8eec,"Financial Services,Lending and Investments,Sof...",0,1,1,0
5,7ca12f7a-2f8e-48b4-a8d1-1a33a0e275b9,"Financial Services,Lending and Investments,Sof...",0,1,1,0
6,b08efc27-da40-505a-6f9d-c9e14247bf36,"Financial Services,Internet Services,Lending a...",0,1,1,0
7,8d5c7e48-82da-3025-dd46-346a31bab86f,"Financial Services,Lending and Investments",0,1,1,0
8,60485007-8856-bbac-aa1b-c535c41f5f47,"Commerce and Shopping,Internet Services,Media ...",1,0,0,0

In [7]:
org_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244441 entries, 3 to 1230948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   uuid                     244441 non-null  object
 1   category_groups_list     244441 non-null  object
 2   Commerce and Shopping    244441 non-null  int32
 3   Financial Services       244441 non-null  int32
 4   Lending and Investments  244441 non-null  int32
 5   Payments                 244441 non-null  int32
dtypes: int32(4), object(2)
memory usage: 9.3+ MB

In [8]:
# final_df = df.set_index('org_uuid').join(org_df.set_index('uuid'))
# final_df = df.merge(org_df,on='zip_code',how='left')
final_df.head()

,company_name,status,num_funding_rounds,total_funding_usd,founded_on,employee_count,cat_pca_0,cat_pca_1,cat_pca_2,cat_pca_3,...,has_acquisitions,has_ipo,average_change_in_funds,average_momentum,latest_momentum,category_groups_list,Commerce and Shopping,Financial Services,Lending and Investments,Payments
org_uuid,,,,,,,,,,,,,,,,,,,,,
63fa63c6-a528-4c86-bf2c-1d49aba1767e,All of Us,operating,3.0,4025000.0,4.0767,1-10,0.0,0.0,0.0,0.0,...,0,0,1.478261,2.964229,2.964229,NaN,NaN,NaN,NaN,NaN
55003c8d-441c-80bb-2d71-e26d212a9441,PayPlug,acquired,5.0,13316538.0,8.7507,11-50,0.0,0.0,0.0,0.0,...,0,0,0.557546,0.934681,0.331667,NaN,NaN,NaN,NaN,NaN
54c9fba5-a3ea-73bb-cf6c-ffcd396e74a3,Zeitgold,operating,5.0,57011648.0,6.0795,101-250,0.0,0.0,0.0,0.0,...,0,0,0.579845,0.825104,1.801594,NaN,NaN,NaN,NaN,NaN
c2bd02ac-b368-4324-a9ff-e603f8f909a7,AID:Tech,operating,10.0,3180350.0,4.7068,11-50,0.0,0.0,0.0,0.0,...,0,0,0.515446,0.228600,0.228600,NaN,NaN,NaN,NaN,NaN
8b0259e0-2484-61fd-f708-6552fd353336,OwlTing,operating,4.0,5700000.0,10.4164,101-250,0.0,0.0,0.0,0.0,...,0,0,0.908425,0.341418,0.298739,NaN,NaN,NaN,NaN,NaN

In [11]:
final_df.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
Index: 3274 entries, 63fa63c6-a528-4c86-bf2c-1d49aba1767e to c09637c8-bbaf-bef0-3ebb-39f50f8063fc
Data columns (total 101 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   company_name                                 3274 non-null   object
 1   status                                       3274 non-null   object
 2   num_funding_rounds                           3274 non-null   float64
 3   total_funding_usd                            3274 non-null   float64
 4   founded_on                                   3274 non-null   float64
 5   employee_count                               3274 non-null   object
 6   cat_pca_0                                    3274 non-null   float64
 7   cat_pca_1                                    3274 non-null   float64
 8   cat_pca_2                                    3274 non-null   float64
 9   cat_pca_3                                    3274 non-null   float64
 10  cat_pca_4                                    3274 non-null   float64
 11  fd_rd_latest_investment                      3274 non-null   float64
 12  fd_rd_investment_type_series_unknown         3274 non-null   float64
 13  fd_rd_investment_type_grant                  3274 non-null   float64
 14  fd_rd_investment_type_debt_financing         3274 non-null   float64
 15  fd_rd_investment_type_pre_seed               3274 non-null   float64
 16  fd_rd_investment_type_post_ipo_equity        3274 non-null   float64
 17  fd_rd_investment_type_convertible_note       3274 non-null   float64
 18  fd_rd_investment_type_equity_crowdfunding    3274 non-null   float64
 19  fd_rd_investment_type_private_equity         3274 non-null   float64
 20  fd_rd_investment_type_undisclosed            3274 non-null   float64
 21  fd_rd_investment_type_post_ipo_debt          3274 non-null   float64
 22  fd_rd_investment_type_corporate_round        3274 non-null   float64
 23  fd_rd_investment_type_product_crowdfunding   3274 non-null   float64
 24  fd_rd_investment_type_non_equity_assistance  3274 non-null   float64
 25  fd_rd_investment_type_initial_coin_offering  3274 non-null   float64
 26  fd_rd_investment_type_secondary_market       3274 non-null   float64
 27  fd_rd_investment_type_post_ipo_secondary     3274 non-null   float64
 28  fd_rd_num_invested_by_top_100                3274 non-null   float64
 29  event_count                                  3274 non-null   float64
 30  job_duration                                 3274 non-null   float64
 31  gender_male                                  3274 non-null   float64
 32  gender_female                                3274 non-null   float64
 33  degree_type                                  3274 non-null   float64
 34  subject_Business                             3274 non-null   float64
 35  subject_STEM                                 3274 non-null   float64
 36  subject_Arts_SoSc                            3274 non-null   float64
 37  num_exec                                     3274 non-null   float64
 38  first_fund_raised                            3274 non-null   float64
 39  first_fund_post_money                        3274 non-null   float64
 40  first_fund_investor_count                    3274 non-null   float64
 41  has_parent                                   3274 non-null   int64
 42  continent_NA                                 3274 non-null   int64
 43  continent_EU                                 3274 non-null   int64
 44  continent_AS                                 3274 non-null   int64
 45  continent_SA                                 3274 non-null   int64
 46  continent_AF                                 3274 non-null   int64
 47  continent_OC                                 3274 non-null   int64
 48  country_code_USA                             3274 non-null   int64
 49  country_code_GBR                             3274 non-null   int64
 50  country_code_IND                             3274 non-null   int64
 51  country_code_CHN                             3274 non-null   int64
 52  country_code_CAN                             3274 non-null   int64
 53  country_code_SGP                             3274 non-null   int64
 54  country_code_AUS                             3274 non-null   int64
 55  country_code_DEU                             3274 non-null   int64
 56  country_code_BRA                             3274 non-null   int64
 57  country_code_CHE                             3274 non-null   int64
 58  country_code_ESP                             3274 non-null   int64
 59  country_code_FRA                             3274 non-null   int64
 60  country_code_NLD                             3274 non-null   int64
 61  country_code_HKG                             3274 non-null   int64
 62  country_code_ISR                             3274 non-null   int64
 63  country_code_KOR                             3274 non-null   int64
 64  country_code_SWE                             3274 non-null   int64
 65  country_code_JPN                             3274 non-null   int64
 66  country_code_MEX                             3274 non-null   int64
 67  country_code_IDN                             3274 non-null   int64
 68  city_London                                  3274 non-null   int64
 69  city_New York                                3274 non-null   int64
 70  city_San Francisco                           3274 non-null   int64
 71  city_Singapore                               3274 non-null   int64
 72  city_Toronto                                 3274 non-null   int64
 73  city_Beijing                                 3274 non-null   int64
 74  city_Mumbai                                  3274 non-null   int64
 75  city_Los Angeles                             3274 non-null   int64
 76  city_Chicago                                 3274 non-null   int64
 77  city_Sydney                                  3274 non-null   int64
 78  city_Paris                                   3274 non-null   int64
 79  city_São Paulo                               3274 non-null   int64
 80  city_Tokyo                                   3274 non-null   int64
 81  city_Berlin                                  3274 non-null   int64
 82  city_Boston                                  3274 non-null   int64
 83  city_Stockholm                               3274 non-null   int64
 84  city_Shanghai                                3274 non-null   int64
 85  city_Tel Aviv                                3274 non-null   int64
 86  city_Amsterdam                               3274 non-null   int64
 87  city_Madrid                                  3274 non-null   int64
 88  status_operating                             3274 non-null   int64
 89  status_exited                                3274 non-null   int64
 90  status_closed                                3274 non-null   int64
 91  has_acquisitions                             3274 non-null   int64
 92  has_ipo                                      3274 non-null   int64
 93  average_change_in_funds                      3274 non-null   float64
 94  average_momentum                             3274 non-null   float64
 95  latest_momentum                              3274 non-null   float64
 96  category_groups_list                         0 non-null      object
 97  Commerce and Shopping                        0 non-null      float64
 98  Financial Services                           0 non-null      float64
 99  Lending and Investments                      0 non-null      float64
 100 Payments                                     0 non-null      float64
dtypes: float64(45), int64(52), object(4)
memory usage: 2.7+ MB