Analysing with Decision tree
Setup: put it in the same folder as "unifed_csv_without_duplicated_company.csv" and "ROI.csv" (generated by get_roi notebook)

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split   
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, VotingClassifier 
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from IPython.display import Image
import pydotplus
import graphviz
from sklearn.model_selection import GridSearchCV

# Optional
# import library for visuaiization
from sklearn import tree
import matplotlib.pyplot as plt
from collections import Counter

In [17]:
#Read both CSV
df=pd.read_csv("unifed_csv_without_duplicated_company.csv")
df.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37198 entries, 0 to 37197
Data columns (total 132 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   company_uuid                      37198 non-null  object
 1   country_code                      33609 non-null  object
 2   region                            33609 non-null  object
 3   city                              33609 non-null  object
 4   operating                         37198 non-null  int64
 5   closed                            37198 non-null  int64
 6   success                           37198 non-null  int64
 7   success_acquired                  37198 non-null  int64
 8   success_ipo                       37198 non-null  int64
 9   num_funding_rounds                12036 non-null  float64
 10  total_funding_usd                 9093 non-null   float64
 11  founded_on                        37198 non-null  float64
 12  last_funding_on                   12032 non-null  object
 13  closed_on                         591 non-null    object
 14  employee_count                    37198 non-null  object
 15  primary_role_company              37198 non-null  int64
 16  primary_role_school               37198 non-null  int64
 17  primary_role_investor             37198 non-null  int64
 18  num_exits                         37198 non-null  float64
 19  Financial Services                37198 non-null  int64
 20  FinTech                           37198 non-null  int64
 21  Finance                           37198 non-null  int64
 22  Blockchain                        37198 non-null  int64
 23  Information Technology            37198 non-null  int64
 24  Software                          37198 non-null  int64
 25  Payments                          37198 non-null  int64
 26  Cryptocurrency                    37198 non-null  int64
 27  Venture Capital                   37198 non-null  int64
 28  Internet                          37198 non-null  int64
 29  Banking                           37198 non-null  int64
 30  Consulting                        37198 non-null  int64
 31  Mobile Payments                   37198 non-null  int64
 32  E-Commerce                        37198 non-null  int64
 33  Insurance                         37198 non-null  int64
 34  Bitcoin                           37198 non-null  int64
 35  Artificial Intelligence           37198 non-null  int64
 36  Mobile                            37198 non-null  int64
 37  Crowdfunding                      37198 non-null  int64
 38  SaaS                              37198 non-null  int64
 39  Real Estate                       37198 non-null  int64
 40  Apps                              37198 non-null  int64
 41  Personal Finance                  37198 non-null  int64
 42  Accounting                        37198 non-null  int64
 43  Mobile Apps                       37198 non-null  int64
 44  Asset Management                  37198 non-null  int64
 45  Marketplace                       37198 non-null  int64
 46  Lending                           37198 non-null  int64
 47  Big Data                          37198 non-null  int64
 48  Machine Learning                  37198 non-null  int64
 49  fund_rd_investment_type           12032 non-null  object
 50  fund_rd_announced_on              12032 non-null  object
 51  fund_rd_raised_amount_usd         8134 non-null   float64
 52  fund_rd_post_money_valuation_usd  1029 non-null   float64
 53  fund_rd_investor_count            37198 non-null  float64
 54  investment_count                  37198 non-null  float64
 55  any_partner                       37198 non-null  float64
 56  any_top_partner                   37198 non-null  float64
 57  ipo_went_public_on                347 non-null    float64
 58  ipo_share_price_usd               79 non-null     float64
 59  ipo_valuation_price_usd           54 non-null     float64
 60  ipo_money_raised_usd              90 non-null     float64
 61  funds_raised_amount_usd           1177 non-null   float64
 62  acquisitions_acquirer_uuid        1180 non-null   object
 63  acquisitions_acquired_on          1180 non-null   float64
 64  acquisitions_price_usd            37198 non-null  float64
 65  parent_org_parent_uuid            818 non-null    object
 66  event_count                       37198 non-null  float64
 67  job_duration                      20479 non-null  float64
 68  gender_male                       37198 non-null  float64
 69  gender_female                     37198 non-null  float64
 70  degree_type                       37198 non-null  float64
 71  subject_Computer Science          37198 non-null  float64
 72  subject_Economics                 37198 non-null  float64
 73  subject_Finance                   37198 non-null  float64
 74  subject_Electrical Engineering    37198 non-null  float64
 75  subject_Business Administration   37198 non-null  float64
 76  subject_Mechanical Engineering    37198 non-null  float64
 77  subject_Marketing                 37198 non-null  float64
 78  subject_Accounting                37198 non-null  float64
 79  subject_Law                       37198 non-null  float64
 80  subject_Business                  37198 non-null  float64
 81  subject_Computer Engineering      37198 non-null  float64
 82  subject_Physics                   37198 non-null  float64
 83  subject_Political Science         37198 non-null  float64
 84  subject_Management                37198 non-null  float64
 85  subject_Engineering               37198 non-null  float64
 86  subject_Psychology                37198 non-null  float64
 87  subject_Mathematics               37198 non-null  float64
 88  subject_Chemical Engineering      37198 non-null  float64
 89  subject_Chemistry                 37198 non-null  float64
 90  subject_History                   37198 non-null  float64
 91  subject_Biology                   37198 non-null  float64
 92  subject_International Business    37198 non-null  float64
 93  subject_Information Technology    37198 non-null  float64
 94  subject_Business Management       37198 non-null  float64
 95  subject_English                   37198 non-null  float64
 96  subject_Industrial Engineering    37198 non-null  float64
 97  subject_Civil Engineering         37198 non-null  float64
 98  subject_Biochemistry              37198 non-null  float64
 99  subject_Medicine                  37198 non-null  float64
 100 subject_Philosophy                37198 non-null  float64
 101 continent                         23787 non-null  object
 102 USA                               37198 non-null  int64
 103 GBR                               37198 non-null  int64
 104 CHN                               37198 non-null  int64
 105 IND                               37198 non-null  int64
 106 CAN                               37198 non-null  int64
 107 SGP                               37198 non-null  int64
 108 DEU                               37198 non-null  int64
 109 AUS                               37198 non-null  int64
 110 BRA                               37198 non-null  int64
 111 CHE                               37198 non-null  int64
 112 city_London                       37198 non-null  int64
 113 city_New_York                     37198 non-null  int64
 114 city_San_Francisco                37198 non-null  int64
 115 city_Singapore                    37198 non-null  int64
 116 city_Beijing                      37198 non-null  int64
 117 city_Toronto                      37198 non-null  int64
 118 city_Shanghai                     37198 non-null  int64
 119 city_Los_Angeles                  37198 non-null  int64
 120 city_Chicago                      37198 non-null  int64
 121 city_Shenzhen                     37198 non-null  int64
 122 has_acquisitions                  37198 non-null  int64
 123 has_ipo                           37198 non-null  int64
 124 time_in_year                      8335 non-null   float64
 125 investment_delta                  3644 non-null   object
 126 norm_amount_delta                 3644 non-null   object
 127 momentum                          3644 non-null   object
 128 ROI                               3644 non-null   float64
 129 max_norm_amount_delta             3644 non-null   float64
 130 mean_norm_amount_delta            3644 non-null   float64
 131 roi_from_mean_momentum            3644 non-null   float64
dtypes: float64(57), int64(60), object(15)
memory usage: 37.5+ MB

In [28]:
#Create dataframe for features
features=df[["company_uuid", "operating","closed","success","success_acquired","success_ipo", "num_funding_rounds","Financial Services","FinTech","Finance","Blockchain", "Information Technology", "Software",  "Payments" , "Cryptocurrency", "Venture Capital","Internet", "Banking", "Consulting",  "Mobile Payments","E-Commerce", "Insurance", "Bitcoin", "Artificial Intelligence", "Mobile", "Crowdfunding","SaaS",  "Real Estate", "Apps", "Personal Finance","Accounting", "Mobile Apps", "Asset Management", "Marketplace", "Lending", "Big Data", "Machine Learning", "gender_male", "gender_female" ]].copy()
dummy= df.columns[70:]
dummy_df= df[dummy]
features= features.join(dummy_df)
features.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37198 entries, 0 to 37197
Data columns (total 101 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   company_uuid                     37198 non-null  object
 1   operating                        37198 non-null  int64
 2   closed                           37198 non-null  int64
 3   success                          37198 non-null  int64
 4   success_acquired                 37198 non-null  int64
 5   success_ipo                      37198 non-null  int64
 6   num_funding_rounds               12036 non-null  float64
 7   Financial Services               37198 non-null  int64
 8   FinTech                          37198 non-null  int64
 9   Finance                          37198 non-null  int64
 10  Blockchain                       37198 non-null  int64
 11  Information Technology           37198 non-null  int64
 12  Software                         37198 non-null  int64
 13  Payments                         37198 non-null  int64
 14  Cryptocurrency                   37198 non-null  int64
 15  Venture Capital                  37198 non-null  int64
 16  Internet                         37198 non-null  int64
 17  Banking                          37198 non-null  int64
 18  Consulting                       37198 non-null  int64
 19  Mobile Payments                  37198 non-null  int64
 20  E-Commerce                       37198 non-null  int64
 21  Insurance                        37198 non-null  int64
 22  Bitcoin                          37198 non-null  int64
 23  Artificial Intelligence          37198 non-null  int64
 24  Mobile                           37198 non-null  int64
 25  Crowdfunding                     37198 non-null  int64
 26  SaaS                             37198 non-null  int64
 27  Real Estate                      37198 non-null  int64
 28  Apps                             37198 non-null  int64
 29  Personal Finance                 37198 non-null  int64
 30  Accounting                       37198 non-null  int64
 31  Mobile Apps                      37198 non-null  int64
 32  Asset Management                 37198 non-null  int64
 33  Marketplace                      37198 non-null  int64
 34  Lending                          37198 non-null  int64
 35  Big Data                         37198 non-null  int64
 36  Machine Learning                 37198 non-null  int64
 37  gender_male                      37198 non-null  float64
 38  gender_female                    37198 non-null  float64
 39  degree_type                      37198 non-null  float64
 40  subject_Computer Science         37198 non-null  float64
 41  subject_Economics                37198 non-null  float64
 42  subject_Finance                  37198 non-null  float64
 43  subject_Electrical Engineering   37198 non-null  float64
 44  subject_Business Administration  37198 non-null  float64
 45  subject_Mechanical Engineering   37198 non-null  float64
 46  subject_Marketing                37198 non-null  float64
 47  subject_Accounting               37198 non-null  float64
 48  subject_Law                      37198 non-null  float64
 49  subject_Business                 37198 non-null  float64
 50  subject_Computer Engineering     37198 non-null  float64
 51  subject_Physics                  37198 non-null  float64
 52  subject_Political Science        37198 non-null  float64
 53  subject_Management               37198 non-null  float64
 54  subject_Engineering              37198 non-null  float64
 55  subject_Psychology               37198 non-null  float64
 56  subject_Mathematics              37198 non-null  float64
 57  subject_Chemical Engineering     37198 non-null  float64
 58  subject_Chemistry                37198 non-null  float64
 59  subject_History                  37198 non-null  float64
 60  subject_Biology                  37198 non-null  float64
 61  subject_International Business   37198 non-null  float64
 62  subject_Information Technology   37198 non-null  float64
 63  subject_Business Management      37198 non-null  float64
 64  subject_English                  37198 non-null  float64
 65  subject_Industrial Engineering   37198 non-null  float64
 66  subject_Civil Engineering        37198 non-null  float64
 67  subject_Biochemistry             37198 non-null  float64
 68  subject_Medicine                 37198 non-null  float64
 69  subject_Philosophy               37198 non-null  float64
 70  continent                        23787 non-null  object
 71  USA                              37198 non-null  int64
 72  GBR                              37198 non-null  int64
 73  CHN                              37198 non-null  int64
 74  IND                              37198 non-null  int64
 75  CAN                              37198 non-null  int64
 76  SGP                              37198 non-null  int64
 77  DEU                              37198 non-null  int64
 78  AUS                              37198 non-null  int64
 79  BRA                              37198 non-null  int64
 80  CHE                              37198 non-null  int64
 81  city_London                      37198 non-null  int64
 82  city_New_York                    37198 non-null  int64
 83  city_San_Francisco               37198 non-null  int64
 84  city_Singapore                   37198 non-null  int64
 85  city_Beijing                     37198 non-null  int64
 86  city_Toronto                     37198 non-null  int64
 87  city_Shanghai                    37198 non-null  int64
 88  city_Los_Angeles                 37198 non-null  int64
 89  city_Chicago                     37198 non-null  int64
 90  city_Shenzhen                    37198 non-null  int64
 91  has_acquisitions                 37198 non-null  int64
 92  has_ipo                          37198 non-null  int64
 93  time_in_year                     8335 non-null   float64
 94  investment_delta                 3644 non-null   object
 95  norm_amount_delta                3644 non-null   object
 96  momentum                         3644 non-null   object
 97  ROI                              3644 non-null   float64
 98  max_norm_amount_delta            3644 non-null   float64
 99  mean_norm_amount_delta           3644 non-null   float64
 100 roi_from_mean_momentum           3644 non-null   float64
dtypes: float64(39), int64(57), object(5)
memory usage: 28.7+ MB

In [29]:
features= features.drop(columns=["time_in_year","investment_delta", "norm_amount_delta", "momentum", "max_norm_amount_delta", "roi_from_mean_momentum", "continent", "ROI" ])

In [30]:
for i in features.columns: 
    x= features[i].value_counts()
    print("column: ",i,", value is:",x)
    print()

column:  company_uuid , value is: 1674d3c9-c7a8-447d-a77f-c1cb2455bd48    1
89497b76-5f7c-4283-aa37-f8dcc9a5941a    1
c691a9a4-97a8-4674-864e-c28352245852    1
52cd82f6-9afe-4a4c-920b-e92776ea55e2    1
c16edeb7-31bf-ad1b-cde0-6c43a099bc1c    1
                                       ..
5924f1d0-2e21-4794-87bb-f54268939b05    1
6afb6eb4-ac02-1a91-6829-4bb7c6ccdb1f    1
192acc26-46d6-5961-2a18-2ec462242091    1
3a36dd8b-5a8e-4d10-8930-34e52dd9964d    1
55019c3e-e76a-49e2-9258-3a19227b6257    1
Name: company_uuid, Length: 37198, dtype: int64

column:  operating , value is: 1    34671
0     2527
Name: operating, dtype: int64

column:  closed , value is: 0    36130
1     1068
Name: closed, dtype: int64

column:  success , value is: 0    35739
1     1459
Name: success, dtype: int64

column:  success_acquired , value is: 0    36071
1     1127
Name: success_acquired, dtype: int64

column:  success_ipo , value is: 0    36866
1      332
Name: success_ipo, dtype: int64

column:  num_funding_rounds , value is: 1.0     6396
2.0     2518
3.0     1304
4.0      780
5.0      429
6.0      246
7.0      151
8.0       94
9.0       46
10.0      22
11.0      18
14.0       7
12.0       7
13.0       5
0.0        4
15.0       3
16.0       2
17.0       1
19.0       1
20.0       1
23.0       1
Name: num_funding_rounds, dtype: int64

column:  Financial Services , value is: 0    35316
1     1882
Name: Financial Services, dtype: int64

column:  FinTech , value is: 0    36812
1      386
Name: FinTech, dtype: int64

column:  Finance , value is: 0    36582
1      616
Name: Finance, dtype: int64

column:  Blockchain , value is: 0    36950
1      248
Name: Blockchain, dtype: int64

column:  Information Technology , value is: 0    37198
Name: Information Technology, dtype: int64

column:  Software , value is: 0    37198
Name: Software, dtype: int64

column:  Payments , value is: 0    37122
1       76
Name: Payments, dtype: int64

column:  Cryptocurrency , value is: 0    37085
1      113
Name: Cryptocurrency, dtype: int64

column:  Venture Capital , value is: 0    37198
Name: Venture Capital, dtype: int64

column:  Internet , value is: 0    37198
Name: Internet, dtype: int64

column:  Banking , value is: 0    37198
Name: Banking, dtype: int64

column:  Consulting , value is: 0    37198
Name: Consulting, dtype: int64

column:  Mobile Payments , value is: 0    37172
1       26
Name: Mobile Payments, dtype: int64

column:  E-Commerce , value is: 0    37198
Name: E-Commerce, dtype: int64

column:  Insurance , value is: 0    37198
Name: Insurance, dtype: int64

column:  Bitcoin , value is: 0    37158
1       40
Name: Bitcoin, dtype: int64

column:  Artificial Intelligence , value is: 0    37198
Name: Artificial Intelligence, dtype: int64

column:  Mobile , value is: 0    37198
Name: Mobile, dtype: int64

column:  Crowdfunding , value is: 0    37198
Name: Crowdfunding, dtype: int64

column:  SaaS , value is: 0    37198
Name: SaaS, dtype: int64

column:  Real Estate , value is: 0    37198
Name: Real Estate, dtype: int64

column:  Apps , value is: 0    37198
Name: Apps, dtype: int64

column:  Personal Finance , value is: 0    37163
1       35
Name: Personal Finance, dtype: int64

column:  Accounting , value is: 0    37198
Name: Accounting, dtype: int64

column:  Mobile Apps , value is: 0    37198
Name: Mobile Apps, dtype: int64

column:  Asset Management , value is: 0    37198
Name: Asset Management, dtype: int64

column:  Marketplace , value is: 0    37198
Name: Marketplace, dtype: int64

column:  Lending , value is: 0    37198
Name: Lending, dtype: int64

column:  Big Data , value is: 0    37198
Name: Big Data, dtype: int64

column:  Machine Learning , value is: 0    37198
Name: Machine Learning, dtype: int64

column:  gender_male , value is: 0.0    20193
1.0    17005
Name: gender_male, dtype: int64

column:  gender_female , value is: 0.0    34976
1.0     2222
Name: gender_female, dtype: int64

column:  degree_type , value is: 0.0    31760
1.0     2701
2.0     2535
3.0      202
Name: degree_type, dtype: int64

column:  subject_Computer Science , value is: 0.0    36806
1.0      392
Name: subject_Computer Science, dtype: int64

column:  subject_Economics , value is: 0.0    36957
1.0      241
Name: subject_Economics, dtype: int64

column:  subject_Finance , value is: 0.0    36921
1.0      277
Name: subject_Finance, dtype: int64

column:  subject_Electrical Engineering , value is: 0.0    37118
1.0       80
Name: subject_Electrical Engineering, dtype: int64

column:  subject_Business Administration , value is: 0.0    37060
1.0      138
Name: subject_Business Administration, dtype: int64

column:  subject_Mechanical Engineering , value is: 0.0    37149
1.0       49
Name: subject_Mechanical Engineering, dtype: int64

column:  subject_Marketing , value is: 0.0    37118
1.0       80
Name: subject_Marketing, dtype: int64

column:  subject_Accounting , value is: 0.0    37144
1.0       54
Name: subject_Accounting, dtype: int64

column:  subject_Law , value is: 0.0    37103
1.0       95
Name: subject_Law, dtype: int64

column:  subject_Business , value is: 0.0    37086
1.0      112
Name: subject_Business, dtype: int64

column:  subject_Computer Engineering , value is: 0.0    37153
1.0       45
Name: subject_Computer Engineering, dtype: int64

column:  subject_Physics , value is: 0.0    37170
1.0       28
Name: subject_Physics, dtype: int64

column:  subject_Political Science , value is: 0.0    37150
1.0       48
Name: subject_Political Science, dtype: int64

column:  subject_Management , value is: 0.0    37135
1.0       63
Name: subject_Management, dtype: int64

column:  subject_Engineering , value is: 0.0    37161
1.0       37
Name: subject_Engineering, dtype: int64

column:  subject_Psychology , value is: 0.0    37163
1.0       35
Name: subject_Psychology, dtype: int64

column:  subject_Mathematics , value is: 0.0    37159
1.0       39
Name: subject_Mathematics, dtype: int64

column:  subject_Chemical Engineering , value is: 0.0    37179
1.0       19
Name: subject_Chemical Engineering, dtype: int64

column:  subject_Chemistry , value is: 0.0    37186
1.0       12
Name: subject_Chemistry, dtype: int64

column:  subject_History , value is: 0.0    37169
1.0       29
Name: subject_History, dtype: int64

column:  subject_Biology , value is: 0.0    37191
1.0        7
Name: subject_Biology, dtype: int64

column:  subject_International Business , value is: 0.0    37140
1.0       58
Name: subject_International Business, dtype: int64

column:  subject_Information Technology , value is: 0.0    37153
1.0       45
Name: subject_Information Technology, dtype: int64

column:  subject_Business Management , value is: 0.0    37173
1.0       25
Name: subject_Business Management, dtype: int64

column:  subject_English , value is: 0.0    37180
1.0       18
Name: subject_English, dtype: int64

column:  subject_Industrial Engineering , value is: 0.0    37172
1.0       26
Name: subject_Industrial Engineering, dtype: int64

column:  subject_Civil Engineering , value is: 0.0    37179
1.0       19
Name: subject_Civil Engineering, dtype: int64

column:  subject_Biochemistry , value is: 0.0    37192
1.0        6
Name: subject_Biochemistry, dtype: int64

column:  subject_Medicine , value is: 0.0    37194
1.0        4
Name: subject_Medicine, dtype: int64

column:  subject_Philosophy , value is: 0.0    37177
1.0       21
Name: subject_Philosophy, dtype: int64

column:  USA , value is: 0    25477
1    11721
Name: USA, dtype: int64

column:  GBR , value is: 0    34026
1     3172
Name: GBR, dtype: int64

column:  CHN , value is: 0    34295
1     2903
Name: CHN, dtype: int64

column:  IND , value is: 0    35571
1     1627
Name: IND, dtype: int64

column:  CAN , value is: 0    35915
1     1283
Name: CAN, dtype: int64

column:  SGP , value is: 0    36376
1      822
Name: SGP, dtype: int64

column:  DEU , value is: 0    36393
1      805
Name: DEU, dtype: int64

column:  AUS , value is: 0    36504
1      694
Name: AUS, dtype: int64

column:  BRA , value is: 0    36550
1      648
Name: BRA, dtype: int64

column:  CHE , value is: 0    36625
1      573
Name: CHE, dtype: int64

column:  city_London , value is: 0    34797
1     2401
Name: city_London, dtype: int64

column:  city_New_York , value is: 0    35356
1     1842
Name: city_New_York, dtype: int64

column:  city_San_Francisco , value is: 0    35842
1     1356
Name: city_San_Francisco, dtype: int64

column:  city_Singapore , value is: 0    36407
1      791
Name: city_Singapore, dtype: int64

column:  city_Beijing , value is: 0    36477
1      721
Name: city_Beijing, dtype: int64

column:  city_Toronto , value is: 0    36658
1      540
Name: city_Toronto, dtype: int64

column:  city_Shanghai , value is: 0    36737
1      461
Name: city_Shanghai, dtype: int64

column:  city_Los_Angeles , value is: 0    36817
1      381
Name: city_Los_Angeles, dtype: int64

column:  city_Chicago , value is: 0    36830
1      368
Name: city_Chicago, dtype: int64

column:  city_Shenzhen , value is: 0    36853
1      345
Name: city_Shenzhen, dtype: int64

column:  has_acquisitions , value is: 0    36018
1     1180
Name: has_acquisitions, dtype: int64

column:  has_ipo , value is: 0    37119
1       79
Name: has_ipo, dtype: int64

column:  mean_norm_amount_delta , value is:  0.000000    63
 0.666667    36
 1.200000    35
 1.333333    29
 1.000000    26
             ..
 0.743625     1
 1.022222     1
-0.769231     1
 0.458920     1
 0.648587     1
Name: mean_norm_amount_delta, Length: 3055, dtype: int64

In [31]:
#Deal with null value in num_funding_rounds 
features["num_funding_rounds"]=features["num_funding_rounds"].fillna(0)

In [32]:
# Join with ROI.csv from ROI.ipynb
features["mean_norm_amount_delta"]=features["mean_norm_amount_delta"].fillna(0)
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37198 entries, 0 to 37197
Data columns (total 93 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   company_uuid                     37198 non-null  object
 1   operating                        37198 non-null  int64
 2   closed                           37198 non-null  int64
 3   success                          37198 non-null  int64
 4   success_acquired                 37198 non-null  int64
 5   success_ipo                      37198 non-null  int64
 6   num_funding_rounds               37198 non-null  float64
 7   Financial Services               37198 non-null  int64
 8   FinTech                          37198 non-null  int64
 9   Finance                          37198 non-null  int64
 10  Blockchain                       37198 non-null  int64
 11  Information Technology           37198 non-null  int64
 12  Software                         37198 non-null  int64
 13  Payments                         37198 non-null  int64
 14  Cryptocurrency                   37198 non-null  int64
 15  Venture Capital                  37198 non-null  int64
 16  Internet                         37198 non-null  int64
 17  Banking                          37198 non-null  int64
 18  Consulting                       37198 non-null  int64
 19  Mobile Payments                  37198 non-null  int64
 20  E-Commerce                       37198 non-null  int64
 21  Insurance                        37198 non-null  int64
 22  Bitcoin                          37198 non-null  int64
 23  Artificial Intelligence          37198 non-null  int64
 24  Mobile                           37198 non-null  int64
 25  Crowdfunding                     37198 non-null  int64
 26  SaaS                             37198 non-null  int64
 27  Real Estate                      37198 non-null  int64
 28  Apps                             37198 non-null  int64
 29  Personal Finance                 37198 non-null  int64
 30  Accounting                       37198 non-null  int64
 31  Mobile Apps                      37198 non-null  int64
 32  Asset Management                 37198 non-null  int64
 33  Marketplace                      37198 non-null  int64
 34  Lending                          37198 non-null  int64
 35  Big Data                         37198 non-null  int64
 36  Machine Learning                 37198 non-null  int64
 37  gender_male                      37198 non-null  float64
 38  gender_female                    37198 non-null  float64
 39  degree_type                      37198 non-null  float64
 40  subject_Computer Science         37198 non-null  float64
 41  subject_Economics                37198 non-null  float64
 42  subject_Finance                  37198 non-null  float64
 43  subject_Electrical Engineering   37198 non-null  float64
 44  subject_Business Administration  37198 non-null  float64
 45  subject_Mechanical Engineering   37198 non-null  float64
 46  subject_Marketing                37198 non-null  float64
 47  subject_Accounting               37198 non-null  float64
 48  subject_Law                      37198 non-null  float64
 49  subject_Business                 37198 non-null  float64
 50  subject_Computer Engineering     37198 non-null  float64
 51  subject_Physics                  37198 non-null  float64
 52  subject_Political Science        37198 non-null  float64
 53  subject_Management               37198 non-null  float64
 54  subject_Engineering              37198 non-null  float64
 55  subject_Psychology               37198 non-null  float64
 56  subject_Mathematics              37198 non-null  float64
 57  subject_Chemical Engineering     37198 non-null  float64
 58  subject_Chemistry                37198 non-null  float64
 59  subject_History                  37198 non-null  float64
 60  subject_Biology                  37198 non-null  float64
 61  subject_International Business   37198 non-null  float64
 62  subject_Information Technology   37198 non-null  float64
 63  subject_Business Management      37198 non-null  float64
 64  subject_English                  37198 non-null  float64
 65  subject_Industrial Engineering   37198 non-null  float64
 66  subject_Civil Engineering        37198 non-null  float64
 67  subject_Biochemistry             37198 non-null  float64
 68  subject_Medicine                 37198 non-null  float64
 69  subject_Philosophy               37198 non-null  float64
 70  USA                              37198 non-null  int64
 71  GBR                              37198 non-null  int64
 72  CHN                              37198 non-null  int64
 73  IND                              37198 non-null  int64
 74  CAN                              37198 non-null  int64
 75  SGP                              37198 non-null  int64
 76  DEU                              37198 non-null  int64
 77  AUS                              37198 non-null  int64
 78  BRA                              37198 non-null  int64
 79  CHE                              37198 non-null  int64
 80  city_London                      37198 non-null  int64
 81  city_New_York                    37198 non-null  int64
 82  city_San_Francisco               37198 non-null  int64
 83  city_Singapore                   37198 non-null  int64
 84  city_Beijing                     37198 non-null  int64
 85  city_Toronto                     37198 non-null  int64
 86  city_Shanghai                    37198 non-null  int64
 87  city_Los_Angeles                 37198 non-null  int64
 88  city_Chicago                     37198 non-null  int64
 89  city_Shenzhen                    37198 non-null  int64
 90  has_acquisitions                 37198 non-null  int64
 91  has_ipo                          37198 non-null  int64
 92  mean_norm_amount_delta           37198 non-null  float64
dtypes: float64(35), int64(57), object(1)
memory usage: 26.4+ MB

In [35]:
# define independent variables/attirbutes/features
x = features.drop(columns=['mean_norm_amount_delta', "company_uuid"])
y = features["mean_norm_amount_delta"]

#Make "mean_norm_amount_delta" column 1/0
binary_labels = [0,1]
y = pd.qcut(y, 2, labels = binary_labels)
y

0        0
1        0
2        0
3        0
4        0
        ..
37193    0
37194    0
37195    0
37196    0
37197    1
Name: mean_norm_amount_delta, Length: 37198, dtype: category
Categories (2, int64): [0 < 1]

In [36]:
# Implement Decision tree
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=5)
model=DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [37]:
# use the trained model to predict test set for evaluation
pred_test = model.predict(X_test)

# print out evaluation result
print("Accuracy:{}".format(accuracy_score(y_test, pred_test, normalize=True, sample_weight=None)))
print("Classification Report:\n{}".format(classification_report(y_test, pred_test)))
print("Confusion Matrix:\n{}".format(confusion_matrix(y_test, pred_test)))

Accuracy:0.942741935483871
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.97      0.97     10303
           1       0.64      0.57      0.61       857

    accuracy                           0.94     11160
   macro avg       0.80      0.77      0.79     11160
weighted avg       0.94      0.94      0.94     11160

Confusion Matrix:
[[10031   272]
 [  367   490]]