Analysing with Decision tree
Setup: put it in the same folder as "unifed_csv_without_duplicated_company.csv" and "ROI.csv" (generated by get_roi notebook)

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split   
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, VotingClassifier 
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from IPython.display import Image
import graphviz
from sklearn.model_selection import GridSearchCV
from statistics import mean

pd.set_option('display.max_columns', None)
# Optional
# import library for visuaiization
from sklearn import tree
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
#Read CSV
df=pd.read_csv("unified_csv.csv")
df.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4050 entries, 0 to 4049
Data columns (total 96 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   company_name                                 4050 non-null   object
 1   status                                       4050 non-null   object
 2   category_group_list                          4050 non-null   object
 3   num_funding_rounds                           4050 non-null   float64
 4   total_funding_usd                            4050 non-null   float64
 5   founded_on                                   4050 non-null   float64
 6   employee_count                               4050 non-null   object
 7   cat_commerce_shopping                        4050 non-null   float64
 8   cat_fin_services                             4050 non-null   float64
 9   cat_lending_invests                          4050 non-null   float64
 10  cat_payments                                 4050 non-null   float64
 11  fd_rd_latest_investment                      4050 non-null   float64
 12  fd_rd_investment_type_series_unknown         4050 non-null   float64
 13  fd_rd_investment_type_grant                  4050 non-null   float64
 14  fd_rd_investment_type_debt_financing         4050 non-null   float64
 15  fd_rd_investment_type_pre_seed               4050 non-null   float64
 16  fd_rd_investment_type_post_ipo_equity        4050 non-null   float64
 17  fd_rd_investment_type_convertible_note       4050 non-null   float64
 18  fd_rd_investment_type_equity_crowdfunding    4050 non-null   float64
 19  fd_rd_investment_type_private_equity         4050 non-null   float64
 20  fd_rd_investment_type_undisclosed            4050 non-null   float64
 21  fd_rd_investment_type_post_ipo_debt          4050 non-null   float64
 22  fd_rd_investment_type_corporate_round        4050 non-null   float64
 23  fd_rd_investment_type_product_crowdfunding   4050 non-null   float64
 24  fd_rd_investment_type_non_equity_assistance  4050 non-null   float64
 25  fd_rd_investment_type_initial_coin_offering  4050 non-null   float64
 26  fd_rd_investment_type_secondary_market       4050 non-null   float64
 27  fd_rd_investment_type_post_ipo_secondary     4050 non-null   float64
 28  fd_rd_num_invested_by_top_100                4050 non-null   float64
 29  event_count                                  4050 non-null   float64
 30  job_duration                                 4050 non-null   float64
 31  gender_male                                  4050 non-null   float64
 32  gender_female                                4050 non-null   float64
 33  degree_type                                  4050 non-null   float64
 34  subject_Business                             4050 non-null   float64
 35  subject_STEM                                 4050 non-null   float64
 36  subject_Arts_SoSc                            4050 non-null   float64
 37  num_exec                                     4050 non-null   float64
 38  first_fund_raised                            4050 non-null   float64
 39  first_fund_post_money                        4050 non-null   float64
 40  first_fund_investor_count                    4050 non-null   float64
 41  has_parent                                   4050 non-null   int64
 42  continent_NA                                 4050 non-null   int64
 43  continent_EU                                 4050 non-null   int64
 44  continent_AS                                 4050 non-null   int64
 45  continent_SA                                 4050 non-null   int64
 46  continent_AF                                 4050 non-null   int64
 47  continent_OC                                 4050 non-null   int64
 48  country_code_USA                             4050 non-null   int64
 49  country_code_GBR                             4050 non-null   int64
 50  country_code_IND                             4050 non-null   int64
 51  country_code_CHN                             4050 non-null   int64
 52  country_code_CAN                             4050 non-null   int64
 53  country_code_SGP                             4050 non-null   int64
 54  country_code_AUS                             4050 non-null   int64
 55  country_code_DEU                             4050 non-null   int64
 56  country_code_BRA                             4050 non-null   int64
 57  country_code_CHE                             4050 non-null   int64
 58  country_code_ESP                             4050 non-null   int64
 59  country_code_FRA                             4050 non-null   int64
 60  country_code_NLD                             4050 non-null   int64
 61  country_code_HKG                             4050 non-null   int64
 62  country_code_ISR                             4050 non-null   int64
 63  country_code_KOR                             4050 non-null   int64
 64  country_code_SWE                             4050 non-null   int64
 65  country_code_JPN                             4050 non-null   int64
 66  country_code_MEX                             4050 non-null   int64
 67  country_code_IDN                             4050 non-null   int64
 68  city_London                                  4050 non-null   int64
 69  city_New York                                4050 non-null   int64
 70  city_San Francisco                           4050 non-null   int64
 71  city_Singapore                               4050 non-null   int64
 72  city_Toronto                                 4050 non-null   int64
 73  city_Beijing                                 4050 non-null   int64
 74  city_Mumbai                                  4050 non-null   int64
 75  city_Los Angeles                             4050 non-null   int64
 76  city_Chicago                                 4050 non-null   int64
 77  city_Sydney                                  4050 non-null   int64
 78  city_Paris                                   4050 non-null   int64
 79  city_São Paulo                               4050 non-null   int64
 80  city_Tokyo                                   4050 non-null   int64
 81  city_Berlin                                  4050 non-null   int64
 82  city_Boston                                  4050 non-null   int64
 83  city_Stockholm                               4050 non-null   int64
 84  city_Shanghai                                4050 non-null   int64
 85  city_Tel Aviv                                4050 non-null   int64
 86  city_Amsterdam                               4050 non-null   int64
 87  city_Madrid                                  4050 non-null   int64
 88  status_operating                             4050 non-null   int64
 89  status_exited                                4050 non-null   int64
 90  status_closed                                4050 non-null   int64
 91  has_acquisitions                             4050 non-null   int64
 92  has_ipo                                      4050 non-null   int64
 93  average_change_in_funds                      4050 non-null   float64
 94  average_momentum                             4050 non-null   float64
 95  latest_momentum                              4050 non-null   float64
dtypes: float64(40), int64(52), object(4)
memory usage: 3.0+ MB

In [3]:
#Preparing xlabel and ylabel
features= df[["company_name","num_funding_rounds", "fd_rd_latest_investment", "cat_lending_invests","cat_payments", "cat_commerce_shopping",  "first_fund_investor_count", "first_fund_post_money","num_exec","fd_rd_num_invested_by_top_100" ]]


ylabel=df[["average_momentum"]]



features

,company_name,num_funding_rounds,fd_rd_latest_investment,cat_lending_invests,cat_payments,cat_commerce_shopping,first_fund_investor_count,first_fund_post_money,num_exec,fd_rd_num_invested_by_top_100
0,All of Us,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,PayPlug,5.0,1.0,0.0,1.0,1.0,2.0,0.0,6.0,0.0
2,Zeitgold,5.0,3.0,0.0,0.0,0.0,2.0,0.0,11.0,2.0
3,AID:Tech,10.0,2.0,0.0,0.0,0.0,10.0,0.0,19.0,1.0
4,OwlTing,4.0,2.0,0.0,0.0,1.0,0.0,0.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...
4045,Insurello,4.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
4046,Signal Data,5.0,2.0,0.0,0.0,1.0,2.0,0.0,8.0,1.0
4047,WEEL,4.0,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
4048,Alpaca,7.0,2.0,1.0,0.0,0.0,7.0,0.0,9.0,1.0
4049,ERNIT,6.0,1.0,1.0,0.0,0.0,5.0,0.0,9.0,0.0

In [4]:
#print value_counts of each column of feature dataframe
for i in features.columns: 
    x= features[i].value_counts()
    print("column: ",i,", value is:",x)
    print()

column:  company_name , value is: Upside         3
Lendable       2
Vault          2
Moka           2
Float          2
              ..
Acre           1
SmartKassa     1
OPER           1
AND Global     1
Travala.com    1
Name: company_name, Length: 4031, dtype: int64

column:  num_funding_rounds , value is: 2.0     1311
3.0     1018
4.0      684
5.0      417
6.0      241
7.0      158
8.0       98
9.0       47
10.0      26
11.0      20
14.0       8
12.0       7
13.0       6
15.0       3
16.0       2
23.0       1
17.0       1
19.0       1
20.0       1
Name: num_funding_rounds, dtype: int64

column:  fd_rd_latest_investment , value is: 1.0    1741
2.0     900
3.0     533
0.0     495
4.0     242
5.0      88
6.0      29
7.0      22
Name: fd_rd_latest_investment, dtype: int64

column:  cat_lending_invests , value is: 0.0    3122
1.0     928
Name: cat_lending_invests, dtype: int64

column:  cat_payments , value is: 0.0    2789
1.0    1261
Name: cat_payments, dtype: int64

column:  cat_commerce_shopping , value is: 0.0    3498
1.0     552
Name: cat_commerce_shopping, dtype: int64

column:  first_fund_investor_count , value is: 0.0     1482
1.0      644
2.0      444
3.0      315
4.0      255
5.0      177
6.0      142
7.0      123
8.0       92
9.0       82
11.0      54
10.0      53
12.0      35
14.0      26
13.0      26
15.0      22
17.0      19
16.0      12
18.0      10
19.0       6
20.0       6
24.0       6
25.0       4
23.0       3
29.0       2
32.0       2
22.0       2
21.0       1
35.0       1
27.0       1
30.0       1
85.0       1
33.0       1
Name: first_fund_investor_count, dtype: int64

column:  first_fund_post_money , value is: 0.0           3597
5000000.0        6
6000000.0        6
20000000.0       5
2750000.0        5
              ...
6509946.0        1
9500000.0        1
7165344.0        1
9940000.0        1
49161093.0       1
Name: first_fund_post_money, Length: 390, dtype: int64

column:  num_exec , value is: 2.0      471
3.0      453
4.0      390
0.0      372
1.0      362
5.0      338
6.0      290
7.0      203
8.0      168
9.0      146
10.0     130
11.0     102
13.0      85
12.0      80
14.0      65
16.0      49
17.0      46
15.0      46
18.0      34
19.0      32
21.0      23
20.0      17
23.0      17
22.0      17
24.0      12
26.0      11
27.0       9
31.0       7
28.0       6
25.0       6
32.0       5
33.0       5
37.0       5
29.0       5
39.0       4
36.0       4
34.0       4
42.0       3
38.0       3
30.0       3
40.0       3
35.0       2
48.0       2
52.0       1
55.0       1
41.0       1
49.0       1
53.0       1
50.0       1
60.0       1
76.0       1
91.0       1
68.0       1
111.0      1
45.0       1
117.0      1
46.0       1
75.0       1
Name: num_exec, dtype: int64

column:  fd_rd_num_invested_by_top_100 , value is: 0.0    3431
1.0     415
2.0     137
3.0      40
4.0      16
5.0       6
7.0       2
8.0       2
6.0       1
Name: fd_rd_num_invested_by_top_100, dtype: int64

In [5]:
#print value_counts of each column of ylabel dataframe
for i in ylabel.columns: 
    x= ylabel[i].value_counts()
    print("column: ",i,", value is:",x)
    print()

column:  average_momentum , value is: -0.333333    5
 2.380480    3
 0.111111    2
 0.811275    2
 0.760427    2
            ..
-0.239214    1
 0.508306    1
 1.116198    1
-0.055383    1
 1.250000    1
Name: average_momentum, Length: 4015, dtype: int64

In [6]:
###### DO qcut for all ylabels ####### 

binary_labels = [0,1]

ylabel["average_momentum"]= pd.qcut(ylabel["average_momentum"], 2, labels = binary_labels)

ylabel

/Users/apple/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

     average_momentum
0                   1
1                   1
2                   1
3                   0
4                   0
...               ...
4045                1
4046                1
4047                1
4048                0
4049                1

[4050 rows x 1 columns]

In [7]:
#Train model to predict each ylabel

X_train, X_test, y_train, y_test = train_test_split(features.drop(columns=["company_name"]), ylabel["average_momentum"], test_size=0.3, random_state=5)
model=DecisionTreeClassifier()
model.fit(X_train, y_train)
    
# use the trained model to predict test set for evaluation
pred_test = model.predict(X_test)

# print out evaluation result
print("Predicting: ", i)
    
print("Accuracy:{}".format(accuracy_score(y_test, pred_test, normalize=True, sample_weight=None)))
print("Classification Report:\n{}".format(classification_report(y_test, pred_test)))
print("Confusion Matrix:\n{}".format(confusion_matrix(y_test, pred_test)))
print("--------------------------------------------------------------------------")
prediction=model.predict(features.drop(columns=["company_name"]))
result= features
result["tree_prediction"]=prediction

Predicting:  average_momentum
Accuracy:0.5209876543209877
Classification Report:
              precision    recall  f1-score   support

           0       0.49      0.55      0.52       566
           1       0.56      0.50      0.53       649

    accuracy                           0.52      1215
   macro avg       0.52      0.52      0.52      1215
weighted avg       0.53      0.52      0.52      1215

Confusion Matrix:
[[311 255]
 [327 322]]
--------------------------------------------------------------------------

/Users/apple/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
result["tree_prediction"].value_counts()

0    2229
1    1821
Name: tree_prediction, dtype: int64

In [9]:
result["average_momentum"]= df["average_momentum"]

/Users/apple/opt/anaconda3/envs/myenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
result= result.sort_values(by="average_momentum", ascending=False)

In [11]:
result

,company_name,num_funding_rounds,fd_rd_latest_investment,cat_lending_invests,cat_payments,cat_commerce_shopping,first_fund_investor_count,first_fund_post_money,num_exec,fd_rd_num_invested_by_top_100,tree_prediction,average_momentum
1223,BrikkApp,2.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0,7.921425
3467,Beatdapp,4.0,1.0,0.0,0.0,0.0,10.0,0.0,8.0,1.0,1,7.920122
1118,Mobius,2.0,1.0,0.0,1.0,0.0,1.0,0.0,4.0,0.0,1,7.904976
1968,Blox,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,1,7.893792
1910,SONM,2.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0,7.833699
...,...,...,...,...,...,...,...,...,...,...,...,...
2173,Deep Labs,4.0,2.0,1.0,1.0,0.0,0.0,0.0,10.0,0.0,1,-7.395592
2689,CreditSuppliers,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,-7.668494
268,Swarm,2.0,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0,-7.779349
3932,CarePay International,2.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1,-7.827990
826,Bancor,3.0,0.0,0.0,1.0,0.0,1.0,0.0,21.0,0.0,0,-7.932318

In [12]:
counter= 0
output=[]

for i in range(result["company_name"].count()): 
    if counter== 400: 
        break
    if result.iloc[i]['tree_prediction']==1: 
        output.append(result.iloc[i]['company_name'])
        counter= counter+1
        
    
output

['Beatdapp',
 'Mobius',
 'Blox',
 'DealCircle',
 'Dispatch',
 'Finmark',
 'Handle',
 'Acudeen Technologies',
 'IDVigil',
 'Yotta Savings',
 '37coins',
 'Perch Credit',
 'Benepass',
 'Flex',
 'TiENPAY',
 'Abacus',
 'Avenews-GT',
 'CoinTracker',
 'Wunderite',
 'TrustToken',
 'Pipe',
 'Fangoo',
 'Startwise Inc',
 'Spacemesh',
 'Priceonomics',
 'CanYa',
 'BlockCypher',
 'OnePipe',
 'FreightBro',
 'Inkrypt',
 'Centrality',
 'BANKEX',
 'Zettabyte Pte Ltd',
 'Postmaster',
 'Numbers Protocol',
 'Grain',
 'Lending Loop',
 'Progcap',
 'ReadyForZero',
 'Moov',
 'SPARQ',
 'SmartKassa',
 'CoinLoan',
 'Qichacha',
 '1inch Exchange',
 'BlockEx',
 'Groundhog',
 'AND CO',
 'PATRON',
 'ArgonCredit',
 'Stem',
 'The Currency Account',
 'Coinbase CBT',
 'TenX',
 'Clara Lending',
 'TONIK',
 'Digital Claim',
 'Fuzhi Zhijia',
 'Notabene',
 'worig',
 'Paykii',
 "Let'sGrant",
 'StormX',
 'TrustaBit',
 'Veriff',
 'Venture For Canada',
 'CodeIsTrust',
 'Mineful',
 'Ankr',
 'SwissBorg',
 'Zilch Technology',
 'Primer',
 'Ledger Investing',
 'Owl.co',
 'RoadSync',
 'Deel',
 'Harbor',
 'GoCoin',
 'Payaut',
 'Shopline',
 'Green Seed Investments',
 'Avuba',
 'Payvil',
 'BharatPe',
 'Sandbox Banking',
 'DwellAware',
 'TradeHero',
 'Sparrow',
 'Neyber',
 'Finli',
 'VALU',
 'OpenSea',
 'AeMoney.com',
 'WealthArc',
 'OkCredit',
 'Lemon Cash',
 'Indorse',
 'Cred',
 'PayCore.io',
 'Lexin',
 'WorkPay',
 'VertoFX',
 'KyePot',
 'Datamolino',
 'Kadena',
 'DOVU',
 'TruStory',
 'Back Office',
 'Black Swan Technology',
 'PayMyTab',
 'goDutch',
 'Paid',
 'Webbankir',
 'Belvo',
 'Bitaccess',
 'Goodly',
 'TempoIQ',
 'Moretickets',
 'Kashmi',
 'Wonder Technologies',
 'PolarBear100X',
 'TopCheck',
 'OPay',
 'Conta Simples',
 'BuyCoins',
 'Ubooly',
 'TalkBe',
 'Sunbit',
 'Swiss Vault',
 'GainBit',
 'Step',
 'Butter',
 'Hrmony',
 'Forexfix',
 'The Kueq Limited',
 'Liumi',
 'Keeper Tax',
 'MUNITEDPASS TECHNOLOGIES',
 'Honeycomb Credit',
 'MainStreet',
 'HypoPlus',
 'iFunding',
 'SurBTC',
 'TheBankCloud',
 'ToneTag',
 'Novatti Group',
 'Coinsquare',
 'FundShop',
 'Quotanda',
 'Pelotea Inc.',
 'Liquefy',
 'Solfácil',
 'WealthHub Solutions',
 'Castle Hill',
 'Jio Technologies Limited',
 'Bizzy Labs',
 'Arextech',
 'Access Integrated Healthcare',
 'MO Tecnologias',
 'Hedera Hashgraph',
 'BudgetBakers.com',
 'Tappr',
 'Qbera',
 'Zego',
 'Sonect',
 'LumoXchange',
 'QuadFi',
 'Yuansfer',
 'Flutterwave',
 'Paytm Payments Bank',
 'Acala Network',
 'Coverfy',
 'Finhaven',
 'PingPong',
 'Vouch Financial',
 'Monetsu',
 'Cybertonica',
 'Eligma',
 'WebCurfew',
 'CodeContract',
 'uQontrol',
 'Weeleo',
 'CupomNow',
 'Final',
 'Bijak',
 'Beforepay',
 'Loanboox',
 'Settle (Merged with Allset)',
 'Visible Wealth Management Inc.',
 'Khatabook',
 'Cardless',
 'RightIndem',
 'ChangeCoin',
 'CrowdIPR',
 'MILI',
 'B2B Pay',
 'Blockchain Industries, Inc.',
 'Digitzs',
 'Turtlemint',
 'Neosurance',
 'QuardLock',
 'AdYapper',
 'FindBoB',
 'Xinja Bank',
 'membersy',
 'Moneytis',
 'PayTap',
 'Declarando',
 'hypcloud',
 'Ubersense',
 'Creditseva.com',
 'Secfi',
 'Delphia',
 'TronWallet',
 'Good Super',
 'Alternative Derivatives Exchange',
 'iCommunity Labs',
 'Idea.me',
 'Hash',
 'NERVE CORP',
 'trii',
 'Outpost',
 'Portion',
 'Spiking',
 'BOScoin',
 'Crowdentials',
 'Helicap',
 'Combine',
 'XiaoBangGuiHua',
 'IPOhub',
 'Divvy',
 '+Simple.fr',
 'PayTabs',
 'PayPo',
 'TESSA',
 'taxProper',
 'Gaia Japan',
 'Goodtime Labs',
 'Halan',
 'CampusLogic',
 'ADAB Solutions',
 'Opencasa.com',
 'Bluzelle',
 'Kaching',
 'FintechOS',
 'Flux Systems',
 'Upside',
 'Limepay',
 'Plentina',
 'Wyre',
 'ePaisa - enabling commerce',
 'Marginize',
 'Toast',
 'Zamna',
 'tabby',
 'Hasb',
 'String Labs',
 'e-BIT Inc',
 'BILL BEAR',
 'Common Computer',
 'uf-club.com',
 'Axle',
 'Panta Group',
 'Mercury',
 'Korea Credit Data',
 'BestSign',
 'SafeRE',
 'Treyd',
 'Mucfc.com',
 'UNest',
 'Profile Pensions',
 'Telr',
 'OPEN',
 'Fundastik Kft',
 'TNG FinTech Group Inc.',
 'Datia',
 'Remote',
 'Visible Market Inc.',
 'ERNIT',
 'Qudian',
 'Wealthnavi',
 'SPARE CS, INC',
 'Coda Payments',
 'Finom',
 'Brickbro',
 'Baubap',
 'webRunes',
 'Origin',
 'JustInvesting',
 'Smartr365',
 'WeVestr',
 'Dynamic Division',
 'Yuyan',
 'Youxin Pu Hui',
 'QuantCube Technology',
 'LinKids',
 'SKALE Labs',
 'Digital Onboarding',
 'Globacap',
 'AsiaKredit',
 'SoMoLend',
 'Credit Engine',
 'Reesio',
 'Balko',
 'Kosh',
 'ANote Music - Sound investments',
 'Kudimoney',
 'Weidai',
 'Linius Technologies',
 'Block360.Pro',
 'Pleo',
 'CoinJar',
 'Allovue',
 'DoxyChain',
 'Tribal Credit',
 'FacilitaPay',
 'Agicap',
 'Weavr',
 'Liuv',
 'gupiaoxianji',
 'Mythical Games',
 'USDX Wallet',
 'FloatMe',
 'Metafused',
 'symmetrical.ai',
 'Finrise',
 'Tykoon',
 'Qoins',
 'Uphold',
 'Samlino.dk',
 'PayFi',
 'Witnet Foundation',
 'BTCBOX',
 'Brex',
 'Addi',
 'Bitnet Technologies',
 'Payhawk',
 'Factris',
 'TradeRocket, Inc.',
 'EASYRONG',
 'Quantstamp',
 'Flender Peer-to-Peer Finance',
 'Advanon',
 'Wawllet Enterprises Limited',
 'Piggyvest',
 'Linked Finance',
 'Cobee',
 'Dividend Finance',
 'Returnly',
 'CartCrunch',
 'BlueX Trade',
 'Wonderbucks Berhad',
 'Dyme',
 'DAYLI Financial Group',
 'Atom Finance',
 'DrGroup',
 'Young Alfred',
 'Capitolis',
 "Stackin'",
 'STILT',
 'Gatsby',
 'Payable',
 'SPOKO',
 'Tongbanjie',
 'Koudai Jizhang',
 'Quadrant.io',
 'ChainsGuard',
 'Updraft',
 'Hubox Wallet',
 'SubsBase',
 'StarkWare Industries Ltd.',
 'Reloyalty',
 'EVOLLIS',
 'SprinkleBit',
 'Public Good Software',
 'Fivestars',
 'Oddup',
 'Geowox',
 'Pathao',
 'Motif',
 'Just Auto Insurance',
 'Korbit',
 'Qilu Guquan Jiaoyi Zhongxin',
 'Polaroo',
 'Affordplan',
 'XCLAIM',
 'YipitData',
 'One Credit',
 'RealCrowd',
 'Algomi',
 'WeSavvy',
 'Epsor',
 'HappyPal',
 'MiFinanzas',
 'Maptia',
 'OLTA',
 'Dyspense Technologies',
 'weeSpring',
 'SteamChain',
 'Atomic Loans']

# Poly Regression (WILL DO IN 3rd iteration)

In [13]:
# # Importing Linear Regression
# from sklearn.linear_model import LinearRegression
# # importing libraries for polynomial transform
# from sklearn.preprocessing import PolynomialFeatures

In [14]:
# feature= df[["first_fund_raised"]]
# ylabel=df[["average_momentum"]]
# ylabel

In [15]:
# ###### Normalize the result #######

# # define independent variables/attirbutes/features
# #x = features.drop(columns=['mean_norm_amount_delta', "company_uuid"])
# x= feature[["first_fund_raised"]]
# x=x[x["first_fund_raised"]!=0]
# x_max=x.max()
# x_min=x.min()
# x= (x-x_min)/(x_max-x_min)
# y = df[["first_fund_raised", "average_momentum"]]
# y=y[y["first_fund_raised"]!=0]
# y=y.drop(columns=["first_fund_raised"])

# #Change degree of x to fit into the model

# pre_process= PolynomialFeatures(degree=2)

# x_poly= pre_process.fit_transform(x)
# x_poly

# # Training the model
# pr_model= LinearRegression()

# # Fit our preprocessed data to the polynomial regression model
# pr_model.fit(x_poly, y)
# # Store our predicted ROI values in the variable y_pred
# y_pred = pr_model.predict(x_poly)

# # Plot our model on our data
# plt.scatter(x, y, c="orange")
# plt.xlabel(x.columns.values)
# plt.ylabel("ROI")
# plt.xlim([0,0.3])
# plt.plot(x, y_pred)

In [16]:
# num_of_top=400

# top_index= sorted(range(len(y_pred)), key=lambda i: y_pred[i], reverse=True)[:num_of_top]