In [1]:
# import library
import pandas as pd

In [2]:
# read the CSV
df = pd.read_csv("../Week3_Onwards/unifed_csv_without_duplicated_company.csv")

In [3]:
# df.head()

In [4]:
# specify the column to count
col_to_count = 'employee_count'
series = df[col_to_count].value_counts()

In [5]:
# drop the undesired labels
labels_to_drop = ['unknown']
series.drop(labels=labels_to_drop, inplace=True)

In [6]:
series

1-10          17014
11-50         10452
51-100         1490
101-250        1419
251-500         484
501-1000        195
1001-5000       171
10000+           47
5001-10000       44
Name: employee_count, dtype: int64

In [7]:
temp = series['10000+']
series.drop(labels='10000+', inplace=True)
series['10000+'] = temp

In [8]:
series

1-10          17014
11-50         10452
51-100         1490
101-250        1419
251-500         484
501-1000        195
1001-5000       171
5001-10000       44
10000+           47
Name: employee_count, dtype: int64

In [9]:
# output df or series as csv
# uncomment to output a lightweight csv
# series.to_csv("data.csv", index=False)