In [1]:
# import library
import pandas as pd

In [2]:
# read the CSV
df = pd.read_csv("../Week3_Onwards/unifed_csv_without_duplicated_company.csv")

In [3]:
# df.head()

In [4]:
# specify the column to count
col_to_count = 'employee_count'
series = df[col_to_count].value_counts()

In [5]:
series

1-10          17014
11-50         10452
unknown        5882
51-100         1490
101-250        1419
251-500         484
501-1000        195
1001-5000       171
10000+           47
5001-10000       44
Name: employee_count, dtype: int64

In [6]:
# drop the undesired labels
labels_to_drop = ['unknown']
series.drop(labels=labels_to_drop, inplace=True)

In [7]:
series

1-10          17014
11-50         10452
51-100         1490
101-250        1419
251-500         484
501-1000        195
1001-5000       171
10000+           47
5001-10000       44
Name: employee_count, dtype: int64

In [8]:
temp = series['10000+']
series.drop(labels='10000+', inplace=True)
series['10000+'] = temp

In [9]:
series

1-10          17014
11-50         10452
51-100         1490
101-250        1419
251-500         484
501-1000        195
1001-5000       171
5001-10000       44
10000+           47
Name: employee_count, dtype: int64

In [10]:
df = series.to_frame()

In [11]:
df

            employee_count
1-10                 17014
11-50                10452
51-100                1490
101-250               1419
251-500                484
501-1000               195
1001-5000              171
5001-10000              44
10000+                  47

In [12]:
df.reset_index(inplace=True)

In [13]:
df

        index  employee_count
0        1-10           17014
1       11-50           10452
2      51-100            1490
3     101-250            1419
4     251-500             484
5    501-1000             195
6   1001-5000             171
7  5001-10000              44
8      10000+              47

In [14]:
# rename in the dict
df.rename(columns={'employee_count': 'freq', 'index': 'employee_count'}, inplace=True)

In [15]:
df

  employee_count   freq
0           1-10  17014
1          11-50  10452
2         51-100   1490
3        101-250   1419
4        251-500    484
5       501-1000    195
6      1001-5000    171
7     5001-10000     44
8         10000+     47

In [16]:
# output df or series
# uncomment to output a lightweight csv
# df.to_csv("employee_count.csv", index=False)
df.to_string(index=False)

'employee_count   freq\n          1-10  17014\n         11-50  10452\n        51-100   1490\n       101-250   1419\n       251-500    484\n      501-1000    195\n     1001-5000    171\n    5001-10000     44\n        10000+     47'