In [5]:
# import library
import pandas as pd

In [6]:
# read the CSV
df = pd.read_csv("../Week3_Onwards/unifed_csv_without_duplicated_company.csv")

In [7]:
# df.head()

In [8]:
# specify the column to count
col_to_count = 'employee_count'
series = df[col_to_count].value_counts()

In [9]:
series

1-10          17014
11-50         10452
unknown        5882
51-100         1490
101-250        1419
251-500         484
501-1000        195
1001-5000       171
10000+           47
5001-10000       44
Name: employee_count, dtype: int64

In [10]:
# drop the undesired labels
labels_to_drop = ['unknown']
series.drop(labels=labels_to_drop, inplace=True)

In [11]:
series

1-10          17014
11-50         10452
51-100         1490
101-250        1419
251-500         484
501-1000        195
1001-5000       171
10000+           47
5001-10000       44
Name: employee_count, dtype: int64

In [12]:
temp = series['10000+']
series.drop(labels='10000+', inplace=True)
series['10000+'] = temp

In [13]:
series

1-10          17014
11-50         10452
51-100         1490
101-250        1419
251-500         484
501-1000        195
1001-5000       171
5001-10000       44
10000+           47
Name: employee_count, dtype: int64

In [14]:
df = series.to_frame()

In [15]:
df

            employee_count
1-10                 17014
11-50                10452
51-100                1490
101-250               1419
251-500                484
501-1000               195
1001-5000              171
5001-10000              44
10000+                  47

In [16]:
df.reset_index(inplace=True)

In [17]:
df

        index  employee_count
0        1-10           17014
1       11-50           10452
2      51-100            1490
3     101-250            1419
4     251-500             484
5    501-1000             195
6   1001-5000             171
7  5001-10000              44
8      10000+              47

In [18]:
# rename in the dict
df.rename(columns={'employee_count': 'freq', 'index': 'employee_count'}, inplace=True)

In [19]:
df

  employee_count   freq
0           1-10  17014
1          11-50  10452
2         51-100   1490
3        101-250   1419
4        251-500    484
5       501-1000    195
6      1001-5000    171
7     5001-10000     44
8         10000+     47

In [20]:
# output df or series
# uncomment to output a lightweight csv
# df.to_csv("employee_count.csv", index=False)
df.to_string(index=False)

'employee_count   freq\n          1-10  17014\n         11-50  10452\n        51-100   1490\n       101-250   1419\n       251-500    484\n      501-1000    195\n     1001-5000    171\n    5001-10000     44\n        10000+     47'

## No. of Funding Rounds

In [1]:
import pandas as pd
df = pd.read_csv("../Week3_Onwards/unifed_csv_without_duplicated_company.csv")

In [2]:
series = df['num_funding_rounds'].value_counts().sort_index()
series

0.0        4
1.0     6396
2.0     2518
3.0     1304
4.0      780
5.0      429
6.0      246
7.0      151
8.0       94
9.0       46
10.0      22
11.0      18
12.0       7
13.0       5
14.0       7
15.0       3
16.0       2
17.0       1
19.0       1
20.0       1
23.0       1
Name: num_funding_rounds, dtype: int64

In [3]:
df = series.to_frame()
df = series.reset_index().drop(index=0) # Remove no. of rounds == 0
df

    index  num_funding_rounds
1     1.0                6396
2     2.0                2518
3     3.0                1304
4     4.0                 780
5     5.0                 429
6     6.0                 246
7     7.0                 151
8     8.0                  94
9     9.0                  46
10   10.0                  22
11   11.0                  18
12   12.0                   7
13   13.0                   5
14   14.0                   7
15   15.0                   3
16   16.0                   2
17   17.0                   1
18   19.0                   1
19   20.0                   1
20   23.0                   1

In [4]:
df['index'] = df['index'].astype(int).astype(str)
df

   index  num_funding_rounds
1      1                6396
2      2                2518
3      3                1304
4      4                 780
5      5                 429
6      6                 246
7      7                 151
8      8                  94
9      9                  46
10    10                  22
11    11                  18
12    12                   7
13    13                   5
14    14                   7
15    15                   3
16    16                   2
17    17                   1
18    19                   1
19    20                   1
20    23                   1

In [5]:
df.rename(columns={'index': 'x_labels', 'num_funding_rounds': 'y_values'}, inplace=True)
df

   x_labels  y_values
1         1      6396
2         2      2518
3         3      1304
4         4       780
5         5       429
6         6       246
7         7       151
8         8        94
9         9        46
10       10        22
11       11        18
12       12         7
13       13         5
14       14         7
15       15         3
16       16         2
17       17         1
18       19         1
19       20         1
20       23         1

In [6]:
# Sum the "y_values" starting from row 8 to 20
# Also change the x_labels of row 8 to "8+"
df.iloc[7,1] = df.iloc[7:, 1].sum()
df.iloc[7,0] = '≥8'
df = df[:8]    # Only take the first 8 rows
df

  x_labels  y_values
1        1      6396
2        2      2518
3        3      1304
4        4       780
5        5       429
6        6       246
7        7       151
8       ≥8       208

In [7]:
df.to_csv(index=False)

'x_labels,y_values\r\n1,6396\r\n2,2518\r\n3,1304\r\n4,780\r\n5,429\r\n6,246\r\n7,151\r\n≥8,208\r\n'

## Acquisition Price

In [27]:
import pandas as pd
df = pd.read_csv("../Week3_Onwards/unifed_csv_without_duplicated_company.csv")

In [28]:
series = df['acquisitions_price_usd']
series

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
37193    0.0
37194    0.0
37195    0.0
37196    0.0
37197    0.0
Name: acquisitions_price_usd, Length: 37198, dtype: float64

In [30]:
df = series.to_frame()
df

       acquisitions_price_usd
0                         0.0
1                         0.0
2                         0.0
3                         0.0
4                         0.0
...                       ...
37193                     0.0
37194                     0.0
37195                     0.0
37196                     0.0
37197                     0.0

[37198 rows x 1 columns]

In [31]:
df.rename(columns={'acquisitions_price_usd': 'x_values'}, inplace=True)
df

       x_values
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
...         ...
37193       0.0
37194       0.0
37195       0.0
37196       0.0
37197       0.0

[37198 rows x 1 columns]

In [32]:
df.to_csv(index = False)

0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n532152690.379562\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n532152690.379562\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n0.0\n'

## Total Funds Raised

In [33]:
import pandas as pd
df = pd.read_csv("../Week3_Onwards/unifed_csv_without_duplicated_company.csv")

In [34]:
series = df['total_funding_usd']
series

0               NaN
1               NaN
2               NaN
3               NaN
4        25200000.0
            ...
37193           NaN
37194           NaN
37195           NaN
37196    14523274.0
37197     1087000.0
Name: total_funding_usd, Length: 37198, dtype: float64

In [37]:
df = series.to_frame()
df

       total_funding_usd
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4             25200000.0
...                  ...
37193                NaN
37194                NaN
37195                NaN
37196         14523274.0
37197          1087000.0

[37198 rows x 1 columns]

In [47]:
df.rename(columns={'total_funding_usd': 'x_values'}, inplace=True)
df

         x_values
0             NaN
1             NaN
2             NaN
3             NaN
4      25200000.0
...           ...
37193         NaN
37194         NaN
37195         NaN
37196  14523274.0
37197   1087000.0

[37198 rows x 1 columns]

In [52]:
df.dropna(inplace=True)
df

         x_values
4      25200000.0
10      4025000.0
20     13316538.0
28      1700000.0
38     57011648.0
...           ...
37177   1000000.0
37186     65625.0
37188   3700000.0
37196  14523274.0
37197   1087000.0

[9093 rows x 1 columns]

In [ ]:
df.to_csv(index = False)

## Number of Investment

In [19]:
import pandas as pd
df = pd.read_csv("../Week3_Onwards/unifed_csv_without_duplicated_company.csv")

In [20]:
series = df['investment_count']
df = series.to_frame()

df

       investment_count
0                   0.0
1                   0.0
2                   0.0
3                   0.0
4                   0.0
...                 ...
37193               0.0
37194               0.0
37195               0.0
37196               0.0
37197               0.0

[37198 rows x 1 columns]

In [21]:
df[df < 100].count()

investment_count    36627
dtype: int64

In [22]:
df[df == 0].count()

investment_count    36627
dtype: int64

In [23]:
#drop zero
df = df[~(df == 0).any(axis = 1)]
df

       investment_count
38                315.0
75                244.0
105              1072.0
126               402.0
129               129.0
...                 ...
36784             264.0
36812             315.0
36837             155.0
36857            1830.0
36858             764.0

[571 rows x 1 columns]

In [25]:
df.to_csv(index=False)

'investment_count\n315.0\n244.0\n1072.0\n402.0\n129.0\n764.0\n124.0\n232.0\n2427.0\n145.0\n434.0\n1874.0\n1830.0\n594.0\n1830.0\n635.0\n3093.0\n1213.0\n1830.0\n594.0\n133.0\n219.0\n434.0\n315.0\n116.0\n1072.0\n393.0\n1830.0\n874.0\n317.0\n761.0\n395.0\n1072.0\n224.0\n1874.0\n112.0\n232.0\n189.0\n2427.0\n317.0\n1830.0\n122.0\n1072.0\n313.0\n382.0\n841.0\n312.0\n164.0\n119.0\n153.0\n2427.0\n520.0\n230.0\n157.0\n234.0\n1830.0\n120.0\n1427.0\n111.0\n156.0\n567.0\n376.0\n122.0\n175.0\n126.0\n120.0\n122.0\n324.0\n142.0\n242.0\n460.0\n179.0\n791.0\n313.0\n143.0\n787.0\n156.0\n142.0\n153.0\n635.0\n265.0\n216.0\n123.0\n112.0\n292.0\n222.0\n1072.0\n230.0\n120.0\n395.0\n125.0\n382.0\n1072.0\n199.0\n571.0\n613.0\n198.0\n850.0\n159.0\n787.0\n159.0\n151.0\n1830.0\n850.0\n1427.0\n349.0\n1427.0\n388.0\n402.0\n203.0\n507.0\n393.0\n146.0\n158.0\n370.0\n112.0\n142.0\n764.0\n393.0\n317.0\n850.0\n324.0\n238.0\n219.0\n224.0\n613.0\n3093.0\n153.0\n434.0\n469.0\n244.0\n103.0\n312.0\n276.0\n180.0\n237.0\n189.0\n791.0\n395.0\n230.0\n611.0\n280.0\n580.0\n259.0\n572.0\n237.0\n255.0\n787.0\n123.0\n193.0\n230.0\n120.0\n151.0\n649.0\n1830.0\n1830.0\n141.0\n224.0\n1427.0\n1830.0\n109.0\n230.0\n151.0\n402.0\n193.0\n635.0\n393.0\n515.0\n462.0\n331.0\n176.0\n376.0\n203.0\n312.0\n121.0\n153.0\n3093.0\n613.0\n237.0\n145.0\n155.0\n106.0\n3093.0\n460.0\n1072.0\n849.0\n127.0\n216.0\n850.0\n158.0\n268.0\n157.0\n291.0\n189.0\n566.0\n170.0\n635.0\n323.0\n386.0\n1830.0\n611.0\n101.0\n257.0\n109.0\n126.0\n384.0\n175.0\n1499.0\n444.0\n649.0\n291.0\n189.0\n127.0\n3093.0\n507.0\n268.0\n151.0\n159.0\n862.0\n3093.0\n189.0\n862.0\n156.0\n1874.0\n304.0\n1830.0\n331.0\n157.0\n507.0\n189.0\n144.0\n126.0\n268.0\n132.0\n460.0\n195.0\n127.0\n150.0\n1830.0\n179.0\n388.0\n134.0\n1072.0\n393.0\n134.0\n862.0\n193.0\n123.0\n120.0\n123.0\n862.0\n179.0\n368.0\n340.0\n189.0\n764.0\n157.0\n460.0\n180.0\n1874.0\n193.0\n434.0\n158.0\n124.0\n124.0\n101.0\n477.0\n127.0\n222.0\n233.0\n224.0\n1072.0\n153.0\n230.0\n302.0\n619.0\n106.0\n192.0\n1830.0\n384.0\n215.0\n1213.0\n460.0\n153.0\n874.0\n215.0\n1830.0\n605.0\n111.0\n370.0\n3093.0\n548.0\n1072.0\n106.0\n119.0\n611.0\n657.0\n611.0\n613.0\n116.0\n3093.0\n140.0\n402.0\n276.0\n418.0\n172.0\n348.0\n243.0\n257.0\n386.0\n619.0\n324.0\n1830.0\n507.0\n133.0\n161.0\n1010.0\n1830.0\n189.0\n2427.0\n181.0\n153.0\n580.0\n169.0\n142.0\n469.0\n1072.0\n331.0\n1830.0\n101.0\n460.0\n123.0\n100.0\n230.0\n166.0\n194.0\n460.0\n344.0\n230.0\n189.0\n193.0\n112.0\n189.0\n279.0\n133.0\n103.0\n649.0\n169.0\n156.0\n2427.0\n613.0\n208.0\n1072.0\n152.0\n172.0\n366.0\n255.0\n737.0\n169.0\n255.0\n259.0\n764.0\n222.0\n243.0\n230.0\n172.0\n150.0\n1830.0\n215.0\n120.0\n315.0\n460.0\n395.0\n106.0\n173.0\n236.0\n460.0\n196.0\n402.0\n702.0\n153.0\n2427.0\n128.0\n103.0\n3093.0\n468.0\n233.0\n874.0\n101.0\n515.0\n434.0\n276.0\n131.0\n459.0\n127.0\n459.0\n469.0\n2427.0\n120.0\n507.0\n159.0\n1072.0\n105.0\n1499.0\n611.0\n103.0\n3272.0\n2427.0\n402.0\n112.0\n376.0\n153.0\n611.0\n565.0\n732.0\n1499.0\n177.0\n276.0\n105.0\n1072.0\n105.0\n507.0\n1499.0\n222.0\n106.0\n171.0\n142.0\n111.0\n1072.0\n331.0\n123.0\n112.0\n234.0\n153.0\n1830.0\n566.0\n315.0\n434.0\n315.0\n470.0\n114.0\n144.0\n571.0\n304.0\n515.0\n126.0\n134.0\n444.0\n140.0\n131.0\n611.0\n850.0\n106.0\n3272.0\n194.0\n120.0\n120.0\n862.0\n1830.0\n126.0\n109.0\n3093.0\n302.0\n144.0\n103.0\n611.0\n222.0\n1072.0\n205.0\n613.0\n395.0\n107.0\n315.0\n1213.0\n613.0\n333.0\n2427.0\n217.0\n144.0\n101.0\n144.0\n111.0\n470.0\n203.0\n144.0\n179.0\n1830.0\n515.0\n129.0\n101.0\n189.0\n106.0\n156.0\n572.0\n348.0\n179.0\n515.0\n395.0\n1072.0\n764.0\n195.0\n189.0\n348.0\n103.0\n324.0\n323.0\n127.0\n131.0\n132.0\n1213.0\n2427.0\n270.0\n507.0\n395.0\n155.0\n144.0\n395.0\n219.0\n317.0\n236.0\n235.0\n1830.0\n100.0\n657.0\n265.0\n175.0\n116.0\n101.0\n1072.0\n159.0\n119.0\n143.0\n300.0\n233.0\n379.0\n125.0\n841.0\n1830.0\n378.0\n462.0\n565.0\n567.0\n103.0\n199.0\n572.0\n216.0\n158.0\n169.0\n2427.0\n354.0\n194.0\n348.0\n120.0\n101.0\n122.0\n1830.0\n148.0\n142.0\n377.0\n116.0\n116.0\n169.0\n144.0\n131.0\n649.0\n649.0\n264.0\n315.0\n155.0\n1830.0\n764.0\n'