In [1]:
import pandas as pd
pd.options.display.max_columns = None
from collections import Counter

In [2]:
def unique_keyword_search(df_col: pd.Series, num_selected: int) -> list:
    '''
    Performs unique keyword search on a dataframe's column for its most common keywords

    :param pd.Series df_col: column of a pd.DataFrame (e.g. df['col'])
    :param int num_selected: number of keywords
    :return: list of keywords in decreasing occurrence
    :rtype: list
    '''
    keywords = []
    for entry in df_col:
        words = entry.split(',')
        [keywords.append(word) for word in words]
    sorted_keywords = Counter(keywords).most_common()
    output_keywords = []
    for i in range(num_selected):
        output_keywords.append(sorted_keywords[i][0])
    return output_keywords

In [3]:
org_df=pd.read_csv("org_final_joined_new.csv")

In [4]:
org_df.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018183 entries, 0 to 1018182
Data columns (total 135 columns):
 #   Column                                          Non-Null Count    Dtype
---  ------                                          --------------    -----
 0   Unnamed: 0                                      1018183 non-null  int64
 1   uuid                                            1018183 non-null  object
 2   partner_type                                    626902 non-null   object
 3   country_code                                    1012303 non-null  object
 4   region                                          1012303 non-null  object
 5   city                                            1012303 non-null  object
 6   status                                          1018183 non-null  object
 7   category_list                                   1018183 non-null  object
 8   category_groups_list                            1018183 non-null  object
 9   num_funding_rounds                              857368 non-null   float64
 10  total_funding_usd                               833031 non-null   float64
 11  founded_on                                      1018183 non-null  object
 12  last_funding_on                                 857364 non-null   object
 13  closed_on                                       5402 non-null     object
 14  employee_count                                  1018183 non-null  object
 15  primary_role                                    1018183 non-null  object
 16  num_exits                                       205669 non-null   float64
 17  lead_investor_name                              801174 non-null   object
 18  lead_investor_type                              801174 non-null   object
 19  lead_investor_roles                             801174 non-null   object
 20  lead_investor_domain                            777827 non-null   object
 21  lead_investor_country_code                      793250 non-null   object
 22  lead_investor_region                            791454 non-null   object
 23  lead_investor_city                              791451 non-null   object
 24  lead_investor_investor_types                    763781 non-null   object
 25  lead_investor_investment_count                  801174 non-null   float64
 26  lead_investor_total_funding_usd                 55681 non-null    float64
 27  lead_investor_founded_on                        767389 non-null   object
 28  lead_investor_closed_on                         87 non-null       object
 29  fund_rd_type                                    801174 non-null   object
 30  fund_rd_country_code                            801050 non-null   object
 31  fund_rd_state_code                              526937 non-null   object
 32  fund_rd_region                                  801050 non-null   object
 33  fund_rd_city                                    801050 non-null   object
 34  fund_rd_investment_type                         801174 non-null   object
 35  fund_rd_announced_on                            801174 non-null   object
 36  fund_rd_raised_amount_usd                       745743 non-null   float64
 37  fund_rd_raised_amount                           745743 non-null   float64
 38  fund_rd_raised_amount_currency_code             745743 non-null   object
 39  fund_rd_post_money_valuation_usd                145384 non-null   float64
 40  fund_rd_post_money_valuation                    145384 non-null   float64
 41  fund_rd_post_money_valuation_currency_code      145384 non-null   object
 42  fund_rd_investor_count                          801174 non-null   float64
 43  fund_rd_org_name                                801174 non-null   object
 44  partner_name                                    626902 non-null   object
 45  partner_roles                                   626902 non-null   object
 46  partner_domain                                  215325 non-null   object
 47  partner_country_code                            588023 non-null   object
 48  partner_region                                  575476 non-null   object
 49  partner_city                                    573357 non-null   object
 50  partner_investor_types                          626902 non-null   object
 51  partner_investment_count                        332464 non-null   float64
 52  investor_name                                   626902 non-null   object
 53  investor_type                                   626902 non-null   object
 54  investor_roles                                  626902 non-null   object
 55  investor_domain                                 622425 non-null   object
 56  investor_country_code                           625618 non-null   object
 57  investor_region                                 625614 non-null   object
 58  investor_city                                   625614 non-null   object
 59  investor_investor_types                         604903 non-null   object
 60  investor_investment_count                       626902 non-null   float64
 61  investor_total_funding_usd                      23431 non-null    float64
 62  investor_founded_on                             622085 non-null   object
 63  ipo_country_code                                9299 non-null     object
 64  ipo_region                                      9299 non-null     object
 65  ipo_city                                        9299 non-null     object
 66  ipo_stock_exchange_symbol                       9280 non-null     object
 67  ipo_went_public_on                              9299 non-null     object
 68  ipo_share_price_usd                             7174 non-null     float64
 69  ipo_valuation_price_usd                         3452 non-null     float64
 70  ipo_money_raised_usd                            6291 non-null     float64
 71  funds_raised_amount_usd                         148148 non-null   float64
 72  acquisitions_acquirer_uuid                      35801 non-null    object
 73  acquisitions_acquirer_name                      35801 non-null    object
 74  acquisitions_acquirer_country_code              35611 non-null    object
 75  acquisitions_acquirer_region                    35611 non-null    object
 76  acquisitions_acquirer_city                      35611 non-null    object
 77  acquisitions_acquired_on                        35801 non-null    object
 78  acquisitions_price_usd                          11210 non-null    float64
 79  parent_org_rank                                 21329 non-null    float64
 80  event_names                                     860952 non-null   object
 81  event_rank                                      860952 non-null   float64
 82  event_short_description                         860952 non-null   object
 83  event_started_on                                860952 non-null   object
 84  event_ended_on                                  860952 non-null   object
 85  event_venue_name                                850216 non-null   object
 86  event_description                               791798 non-null   object
 87  event_country_code                              850218 non-null   object
 88  event_region                                    850218 non-null   object
 89  event_city                                      850218 non-null   object
 90  event_event_roles                               860952 non-null   object
 91  participant_name                                860952 non-null   object
 92  person                                          860952 non-null   float64
 93  organization                                    860952 non-null   float64
 94  speaker                                         860952 non-null   float64
 95  sponsor                                         860952 non-null   float64
 96  exhibitor                                       860952 non-null   float64
 97  organizer                                       860952 non-null   float64
 98  contestant                                      860952 non-null   float64
 99  organization_name                               1000932 non-null  object
 100 job_started_on                                  647535 non-null   object
 101 job_ended_on                                    221714 non-null   object
 102 job_is_current                                  1000932 non-null  object
 103 job_executive                                   1000932 non-null  float64
 104 job_employee                                    1000932 non-null  float64
 105 job_board_member                                1000932 non-null  float64
 106 job_advisor                                     1000932 non-null  float64
 107 job_board_observer                              1000932 non-null  float64
 108 person_personal_name                            989579 non-null   object
 109 person_personal_gender                          983075 non-null   object
 110 person_personal_country_code                    868088 non-null   object
 111 person_personal_region                          818625 non-null   object
 112 person_personal_city                            805938 non-null   object
 113 person_personal_featured_job_organization_name  885416 non-null   object
 114 person_personal_featured_job_title              885376 non-null   object
 115 person_degree_degree_type                       740716 non-null   object
 116 person_degree_subject                           705265 non-null   object
 117 person_degree_started_on                        376600 non-null   object
 118 person_degree_completed_on                      479684 non-null   object
 119 person_degree_is_completed                      740716 non-null   object
 120 person_event_name                               665160 non-null   object
 121 person_event_rank                               665160 non-null   float64
 122 person_event_started_on                         665160 non-null   object
 123 person_event_ended_on                           665160 non-null   object
 124 person_event_country_code                       635146 non-null   object
 125 person_event_region                             635146 non-null   object
 126 person_event_city                               635146 non-null   object
 127 person_event_roles                              665160 non-null   object
 128 person_person                                   665160 non-null   float64
 129 person_organization                             665160 non-null   float64
 130 person_speaker                                  665160 non-null   float64
 131 person_sponsor                                  665160 non-null   float64
 132 person_exhibitor                                665160 non-null   float64
 133 person_organizer                                665160 non-null   float64
 134 person_contestant                               665160 non-null   float64
dtypes: float64(40), int64(1), object(94)
memory usage: 1.0+ GB

In [5]:
new_df= org_df[["Unnamed: 0", "uuid"]].copy()

In [6]:
#D_country code
country_df= org_df[["country_code"]].copy()
country_df=pd.get_dummies(country_df, prefix=["country"], columns=["country_code"], drop_first=False)
new_df=new_df.join(country_df)

In [7]:
#E_Region
new_df["region"]= org_df["region"]

In [8]:
#F_CIty
city_df= org_df[["city"]].copy()
city_df=pd.get_dummies(city_df, prefix=["city"], columns=["city"], drop_first=False)
new_df=new_df.join(city_df)

In [9]:
#G_Status
status_df= org_df[["status"]].copy()
status_df=pd.get_dummies(status_df, prefix=["status"], columns=["status"], drop_first=False)


keep_col = ["status_operating", "status_closed"] # change the cols to keep
drop_row = [0, 1] # change the rows to drop
status_df = status_df[keep_col].drop(drop_row)
new_df=new_df.join(status_df)

In [10]:
#H:category_list & I: category_groups_list (p.s. there is no null cell)
category_df=org_df[["category_list","category_groups_list"]].copy()

#Concantante 2 columns
category_df["category_concat"]= category_df["category_list"]+ "," + category_df["category_groups_list"]

#keyword search
kw= unique_keyword_search(category_df["category_concat"], 100)
#kw[0]
name_arr= [[] for _ in range(100)] #When access name_arr[column][row]
counter=0 

for i in category_df["category_concat"]:    
    for j in range(len(kw)):
        if kw[j] in i: 
            #print(counter)
            name_arr[j].append(1)
        else: 
            name_arr[j].append(0)
    counter=counter+1

for i in range(100): 
    category_df["cat_"+kw[i]]=name_arr[i]
category_df= category_df.drop(columns=["category_list", "category_groups_list", "category_concat"])

new_df=new_df.join(category_df)

In [11]:
#O: Employee_count
def em_count_func(df): 
    if df["employee_count"]=="1-10" :
        return 1
    if df["employee_count"]=="11-50" :
        return 2
    if df["employee_count"]=="51-100" :
        return 3
    if df["employee_count"]=="101-250" :
        return 4
    if df["employee_count"]=="251-500" :
        return 5
    if df["employee_count"]=="501-1000" :
        return 6
    if df["employee_count"]=="1001-5000" :
        return 7
    if df["employee_count"]=="5001-10000" :
        return 8
    if df["employee_count"]=="10000+" :
        return 9
    if df["employee_count"]=="unknown" :
        return 0

Employee_count_df= org_df[["employee_count"]].copy()
Employee_count_df["employee_count_scaled"]= Employee_count_df.apply(em_count_func, axis=1)


keep_col = ["employee_count_scaled"] # change the cols to keep
drop_row = [0, 1] # change the rows to drop
Employee_count_df = Employee_count_df[keep_col].drop(drop_row)
new_df=new_df.join(Employee_count_df)

In [12]:
#P_primary_role
pri_role_df= org_df[["primary_role"]].copy()
pri_role_df=pd.get_dummies(pri_role_df, prefix=["pri_role"], columns=["primary_role"], drop_first=False)
new_df=new_df.join(pri_role_df)

In [13]:
#Q_num_exists 
num_exits_df= org_df[["num_exits"]].copy()
num_exits_df["num_exits"]=num_exits_df["num_exits"].fillna(0)

new_df=new_df.join(num_exits_df)

In [14]:
#R_lead_investor_name

dummy_df= org_df[["lead_investor_name"]].copy()
new_df=new_df.join(dummy_df)

In [15]:
#S_lead_investor_type

lead_invest_type_df=org_df[["lead_investor_type"]].copy()
lead_invest_type_df=pd.get_dummies(lead_invest_type_df, prefix=["investor_type"], columns=["lead_investor_type"], drop_first=False)
#new_df=new_df.join(lead_invest_type_df)

In [16]:
#T_lead_investor_roles
lead_investor_role_df= org_df[["lead_investor_roles"]].copy()
investor=[]
company=[]
school=[]


inv_type_name_arr= ["investor", "company", "school"]
inv_type_arr= [investor, company, school]
lead_investor_role_df["lead_investor_roles"]= lead_investor_role_df["lead_investor_roles"].fillna(0)

for i in lead_investor_role_df["lead_investor_roles"]:
    if i==0: 
        inv_type_arr[0].append(0)
        inv_type_arr[1].append(0)
        inv_type_arr[2].append(0)
        continue
    for j in range(len(inv_type_name_arr)):
        if inv_type_name_arr[j] in i: 
            inv_type_arr[j].append(1)
        else: 
            inv_type_arr[j].append(0)

lead_investor_role_df["inv_investor"]= investor
lead_investor_role_df["inv_company"]= company
lead_investor_role_df["inv_school"]= school

keep_col = ["inv_investor", "inv_company", "inv_school"] # change the cols to keep
drop_row = [0, 1] # change the rows to drop
lead_investor_role_df = lead_investor_role_df[keep_col].drop(drop_row)
new_df=new_df.join(lead_investor_role_df)

In [17]:
#V_lead_investor_country_code

lead_country_df= org_df[["lead_investor_country_code"]].copy()
lead_country_df=pd.get_dummies(lead_country_df, prefix=["investor_country"], columns=["lead_investor_country_code"], drop_first=False)
new_df=new_df.join(lead_country_df)

In [18]:
#W_Lead_investor_region
dummy_df= org_df[["lead_investor_region"]].copy()
new_df=new_df.join(dummy_df)

In [19]:
#X_lead_investor_city
lead_city_df= org_df[["lead_investor_city"]].copy()
lead_city_df=pd.get_dummies(lead_city_df, prefix=["investor_city"], columns=["lead_investor_city"], drop_first=False)
new_df=new_df.join(lead_city_df)

In [20]:
#Y_lead_investor_type

lead_investor_type_df= org_df[["lead_investor_investor_types"]].copy()
lead_investor_type_df=pd.get_dummies(lead_investor_type_df, prefix=["investor_type"], columns=["lead_investor_investor_types"], drop_first=False)
lead_investor_type_df
new_df=new_df.join(lead_investor_type_df)

In [21]:
#Z_lead_investor_investment_count
lead_investor_count_df= org_df[["lead_investor_investment_count"]].copy()
lead_investor_count_df["lead_investor_investment_count"]=lead_investor_count_df["lead_investor_investment_count"].fillna(0)

new_df=new_df.join(lead_investor_count_df)

In [22]:
#AA_lead_investor_total_funding_usd
lead_investor_fund_df= org_df[["lead_investor_total_funding_usd"]].copy()
lead_investor_fund_df["lead_investor_total_funding_usd"]=lead_investor_fund_df["lead_investor_total_funding_usd"].fillna(0)

new_df=new_df.join(lead_investor_fund_df)

In [23]:
#AD_fund_rd_type
fund_rd_type_df= org_df[["fund_rd_type"]].copy()
fund_rd_type_df["fund_rd_type"]=fund_rd_type_df["fund_rd_type"].fillna(0)

new_df=new_df.join(fund_rd_type_df)

In [24]:
#AE_country_code

fund_country_df= org_df[["fund_rd_country_code"]].copy()
fund_country_df=pd.get_dummies(fund_country_df, prefix=["fund_country"], columns=["fund_rd_country_code"], drop_first=False)
new_df=new_df.join(fund_country_df)

In [25]:
#AF& AG region and statecode
dummy_df= org_df[["fund_rd_state_code", "fund_rd_region"]].copy()
new_df=new_df.join(dummy_df)

In [26]:
#AH_city

fund_city_df= org_df[["fund_rd_city"]].copy()
fund_city_df=pd.get_dummies(fund_city_df, prefix=["fund_country"], columns=["fund_rd_city"], drop_first=False)
new_df=new_df.join(fund_city_df)

In [27]:
#AI_fund_rd_raised_amount_usd (Discovered that if there is no entry for "type", there will be nan)

fund_raised_df= org_df[["fund_rd_raised_amount_usd"]].copy()
fund_raised_df=fund_raised_df.fillna(fund_raised_df.mean())

new_df=new_df.join(fund_raised_df)

In [28]:
# AN_ fund_rd_post_money_valuation_usd

fund_posted_df= org_df[["fund_rd_post_money_valuation_usd"]].copy()
fund_posted_df=fund_posted_df.fillna(fund_posted_df.mean())
new_df=new_df.join(fund_posted_df)

In [29]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018183 entries, 0 to 1018182
Columns: 5865 entries, Unnamed: 0 to fund_rd_post_money_valuation_usd
dtypes: float64(11), int64(101), object(7), uint8(5746)
memory usage: 6.4+ GB