In [1]:
# import library
import pandas as pd

In [2]:
# read the CSV
df = pd.read_csv("../bulk_export_processed/cleaned_csv/event_appearances_cleaned.csv")
# change the cols to keep
keep_col = ['participant_name']
df = df[keep_col]

In [3]:
event_count_df = df['participant_name'].value_counts().reset_index(name='event_count')
event_count_df.rename(columns={"index": "participant_name"})

          participant_name  event_count
0                Microsoft          775
1                      IBM          644
2                    Intel          490
3                   Google          438
4                    Cisco          415
...                    ...          ...
219136       Jan Neubacher            1
219137           Yuta Miki            1
219138  KB Scaffolding LTD            1
219139      Lorne Michaels            1
219140        SphereOptics            1

[219141 rows x 2 columns]

In [4]:
# df.reset_index(inplace=True)
# df.drop(axis=1, labels='index', inplace=True)
event_count_df

                     index  event_count
0                Microsoft          775
1                      IBM          644
2                    Intel          490
3                   Google          438
4                    Cisco          415
...                    ...          ...
219136       Jan Neubacher            1
219137           Yuta Miki            1
219138  KB Scaffolding LTD            1
219139      Lorne Michaels            1
219140        SphereOptics            1

[219141 rows x 2 columns]

In [5]:
# event_count_df.to_csv("event_summary.csv", index=False)