In [1]:
# import library
import pandas as pd

In [2]:
# read the CSV
df = pd.read_csv("../bulk_export_processed/investors_processed.csv")
# change the cols to keep
keep_col = ['uuid','name','investment_count','founded_on','closed_on']
df = df[keep_col]

In [3]:
df.dropna(axis=0, how='any', subset=['investment_count'], inplace=True)

In [4]:
df.drop(df[df['investment_count'] < 100].index, inplace=True)

In [5]:
df['investment_count'] = df['investment_count'].astype(int)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 763 entries, 1 to 149823
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uuid              763 non-null    object
 1   name              763 non-null    object
 2   investment_count  763 non-null    int32
 3   founded_on        744 non-null    object
 4   closed_on         7 non-null      object
dtypes: int32(1), object(4)
memory usage: 32.8+ KB

In [7]:
df.head()

,uuid,name,investment_count,founded_on,closed_on
1,f4d5ab44-058b-298b-ea81-380e6e9a8eec,Omidyar Network,315,1/1/2004,NaN
10,7ca12f7a-2f8e-48b4-a8d1-1a33a0e275b9,Trinity Ventures,444,1/1/1986,NaN
11,b08efc27-da40-505a-6f9d-c9e14247bf36,Accel,1499,1/1/1983,NaN
12,8d5c7e48-82da-3025-dd46-346a31bab86f,Meritech Capital Partners,279,1/1/1999,NaN
26,c6fff75f-74e6-5e98-494a-037c4202baf8,Mission Ventures,101,1/1/1996,NaN

In [8]:
df.sort_values(by='investment_count', axis=0, ascending=False, inplace=True)

In [9]:
df.head(20)

,uuid,name,investment_count,founded_on,closed_on
27418,1d0c86bf-c986-6b40-d757-4d97cdd5d877,EASME - EU Executive Agency for SMEs,3715,1/1/2004,NaN
2270,73633ee4-ea65-2967-6c5d-9b5fec7d2d5e,Y Combinator,3272,1/3/2005,NaN
51976,3718597a-dd39-6661-3630-09cdd43bcac2,Techstars,3093,1/8/2006,NaN
15698,56e40f50-97c7-2a77-255d-1d97d5f30646,500 Startups,2427,1/4/2010,NaN
724,47b84763-9727-7cdf-b194-2742e3963147,New Enterprise Associates,1874,1/1/1977,NaN
13792,39041e62-6b24-ae8d-1347-4cea947e832c,SOSV,1830,19/4/1994,NaN
11,b08efc27-da40-505a-6f9d-c9e14247bf36,Accel,1499,1/1/1983,NaN
45,0c867fde-2b9a-df10-fdb9-66b74f355f91,Sequoia Capital,1427,1/11/1972,NaN
1774,f3716725-552d-b9b5-59ad-de4ec64b1751,Intel Capital,1418,1/1/1991,NaN
14705,183692b0-b175-b125-89ce-2badd9f56b55,MassChallenge,1342,1/6/2009,NaN
1753,343a0c91-d3b9-80fa-2330-cfde495decf1,IDG Capital,1238,1/1/1992,NaN
53684,1f091122-81cf-fc14-e315-17f351495916,Venture Kick,1231,1/9/2007,NaN
83,2d0a5bf0-e53e-9a07-2243-9bcd561421ec,Kleiner Perkins,1213,1/3/1972,NaN
21639,ac41030f-c20d-0060-3f0a-37f0eee13779,Wayra,1158,1/4/2011,NaN
20250,01a2a666-577c-1673-eba6-74c02aaf2e80,Crowdcube,1133,1/8/2010,NaN
16463,93c87ab7-7cee-5c54-9941-104693dbbdba,plug and play,1072,1/1/2006,NaN
84,beadb218-e5fa-2686-bc95-4dfaa9acc2e8,Bessemer Venture Partners,1010,1/1/1911,NaN
9837,d7aaabbf-a2c0-dffe-0c55-4fadd678c289,NYSERDA,1004,1/1/1975,NaN
10111,902deab4-ec41-68ce-d9df-c0c959578176,SV Angel,932,1/1/2009,NaN
13301,3bfb69a8-61b6-ec30-1512-73bd1ca35bc5,Right Side Capital Management,914,1/1/2010,NaN