In [1]:
import pandas as pd

Preparing dateframe

In [2]:
acq_df= pd.read_csv("acquisitions_processed.csv")

In [3]:
cate_gp_df= pd.read_csv("category_groups_processed.csv") #Company name with its group

In [4]:
csum_df= pd.read_csv("checksum_processed.csv") #Basic information of all csv file

In [5]:
deg_df= pd.read_csv("degrees.csv") #people's education background

In [6]:
df1 = pd.read_csv("event_appearances_processed_1.csv")
df2 = pd.read_csv("event_appearances_processed_2.csv")
event_app_df = df1.append(df2)
event_app_df= event_app_df.reset_index()
event_app_df= event_app_df.drop(columns=["index"]) # Event participation details

In [7]:
event_df= pd.read_csv("events_processed.csv") #Event details

In [8]:
fund_rd_df= pd.read_csv("funding_rounds_processed.csv") # each funding round in the dataset

In [9]:
fund_df= pd.read_csv("funds_processed.csv") #investors' investment funds

In [10]:
invest_partner_df= pd.read_csv("investment_partners_processed.csv") #Partners who are responsible for their firm's investments

In [11]:
investor_df= pd.read_csv("investors_processed.csv") #Active investors

In [12]:
ipo_df= pd.read_csv("ipos_processed.csv")

In [13]:
df1 = pd.read_csv("jobs_processed_1.csv")
df2 = pd.read_csv("jobs_processed_2.csv")
df3 = pd.read_csv("jobs_processed_3.csv")
df4 = pd.read_csv("jobs_processed_4.csv")
df5 = pd.read_csv("jobs_processed_5.csv")
job_df = df1.append(df2)
job_df= job_df.append(df3)
job_df= job_df.append(df4)
job_df= job_df.append(df5)
job_df= job_df.reset_index()
job_df= job_df.drop(columns=["index"]) #all job and advisory roles

In [14]:
org_parent_df= pd.read_csv("org_parents_processed.csv")
# Mapping between parent organizations and subsidaries

In [15]:
df1 = pd.read_csv("organizations_processed_1.csv")
df2 = pd.read_csv("organizations_processed_2.csv")
df3 = pd.read_csv("organizations_processed_3.csv")
org_df = df1.append(df2)
org_df= org_df.append(df3)
org_df= org_df.reset_index()
org_df= org_df.drop(columns=["index"])

In [16]:
df1 = pd.read_csv("people_processed_1.csv")
df2 = pd.read_csv("people_processed_2.csv")
df3 = pd.read_csv("people_processed_3.csv")
df4 = pd.read_csv("people_processed_4.csv")
df5 = pd.read_csv("people_processed_5.csv")
ppl_df = df1.append(df2)
ppl_df= ppl_df.append(df3)
ppl_df= ppl_df.append(df4)
ppl_df= ppl_df.append(df5)
ppl_df= ppl_df.reset_index()
ppl_df= ppl_df.drop(columns=["index"])

In [17]:
org_df

,uuid,type,permalink,rank,created_at,updated_at,roles,country_code,state_code,city,...,category_groups_list,num_funding_rounds,total_funding_usd,total_funding,total_funding_currency_code,founded_on,last_funding_on,closed_on,primary_role,num_exits
0,e1393508-30ea-8a36-3f96-dd3226033abd,organization,wetpaint,136763.0,25/5/2007 13:51,24/6/2019 22:19,company,USA,NY,New York,...,"Content and Publishing,Internet Services,Media...",3.0,3.975000e+07,3.975000e+07,USD,1/6/2005,19/5/2008,NaN,company,NaN
1,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,organization,zoho,7280.0,26/5/2007 2:30,27/10/2018 0:29,"investor,company",USA,CA,Pleasanton,...,"Administrative Services,Information Technology...",NaN,NaN,NaN,NaN,15/9/1996,NaN,NaN,company,1.0
2,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,organization,digg,13290.0,26/5/2007 3:03,10/12/2018 10:09,company,USA,NY,New York,...,"Internet Services,Media and Entertainment",6.0,4.900000e+07,4.900000e+07,USD,11/10/2004,13/9/2016,NaN,company,NaN
3,f4d5ab44-058b-298b-ea81-380e6e9a8eec,organization,omidyar-network,1856.0,26/5/2007 3:21,19/6/2019 12:17,investor,USA,CA,Redwood City,...,"Financial Services,Lending and Investments,Sof...",NaN,NaN,NaN,NaN,1/1/2004,NaN,NaN,investor,37.0
4,df662812-7f97-0b43-9d3e-12f64f504fbb,organization,facebook,6.0,26/5/2007 4:22,21/10/2020 13:53,"investor,company",USA,CA,Menlo Park,...,"Apps,Community and Lifestyle,Content and Publi...",17.0,1.612282e+10,1.612282e+10,USD,4/2/2004,17/10/2014,NaN,company,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048571,41105c7b-35ba-47ef-90ac-218beb506f37,organization,rishabh-digha-steel-allied-p,1113876.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Mumbai,...,"Other,Real Estate",NaN,NaN,NaN,NaN,1/1/1989,NaN,NaN,company,NaN
1048572,d8cf0714-01ed-4c28-9c0d-eca2ca133233,organization,valiant-organics,443665.0,6/6/2020 2:01,14/12/2020 10:39,company,IND,NaN,Mumbai,...,"Health Care,Manufacturing,Science and Engineering",NaN,NaN,NaN,NaN,1/1/1984,NaN,NaN,company,NaN
1048573,b4894426-32c8-47fe-8321-a84528357f60,organization,vaishali-pharma,548019.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Mumbai,...,"Biotechnology,Health Care,Science and Engineering",NaN,NaN,NaN,NaN,1/1/1989,NaN,NaN,company,NaN
1048574,5e8312d3-3a49-473b-96da-9e74a498b98e,organization,terai-tea-co,594451.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Kolkata,...,"Food and Beverage,Manufacturing",NaN,NaN,NaN,NaN,1/1/1973,NaN,NaN,company,NaN
1048575,65e4866c-64be-49e4-b8fb-d53da1969917,organization,tejnaksh-healthcare,817483.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Mumbai,...,"Health Care,Professional Services",NaN,NaN,NaN,NaN,1/1/2003,NaN,NaN,company,NaN

In [ ]:
#All dataframes are ready, org_df is the master dataframe