In [153]:
import pandas as pd

In [154]:
fund_rd_df= pd.read_csv("funding_rounds.csv")

In [155]:
fund_rd_df.head()

,uuid,country_code,state_code,region,city,investment_type,announced_on,raised_amount_usd,raised_amount,raised_amount_currency_code,post_money_valuation_usd,post_money_valuation,post_money_valuation_currency_code,investor_count,org_uuid,lead_investor_uuids
0,8a945939-18e0-cc9d-27b9-bf33817b2818,USA,CA,California,Menlo Park,angel,1/9/2004,500000.0,500000.0,USD,NaN,NaN,NaN,4.0,df662812-7f97-0b43-9d3e-12f64f504fbb,3f47be49-2e32-8118-01a0-31685a4d0fd7
1,d950d7a5-79ff-fb93-ca87-13386b0e2feb,USA,CA,California,Menlo Park,series_a,1/5/2005,12700000.0,12700000.0,USD,98000000.0,98000000.0,USD,4.0,df662812-7f97-0b43-9d3e-12f64f504fbb,b08efc27-da40-505a-6f9d-c9e14247bf36
2,6fae3958-a001-27c0-fb7e-666266aedd78,USA,CA,California,Menlo Park,series_b,1/4/2006,27500000.0,27500000.0,USD,502500000.0,502500000.0,USD,5.0,df662812-7f97-0b43-9d3e-12f64f504fbb,"e2006571-6b7a-e477-002a-f7014f48a7e3,8d5c7e48-..."
3,bcd5a63d-ed99-6963-0dd2-e36f6582f846,USA,CO,Colorado,Denver,series_b,1/5/2006,10500000.0,10500000.0,USD,NaN,NaN,NaN,2.0,f53cb4de-236e-0b1b-dee8-7104a8b018f9,NaN
4,60e6afd9-1215-465a-dd17-0ed600d4e29b,USA,CA,California,West Hollywood,series_a,17/1/2007,NaN,NaN,NaN,10000000.0,10000000.0,USD,1.0,4111dc8b-c0df-2d24-ed33-30cd137b3098,fb2f8884-ec07-895a-48d7-d9a9d4d7175c

In [156]:
export_df=fund_rd_df[["uuid","investment_type", "raised_amount_usd", "post_money_valuation_usd", "investor_count", "org_uuid"]]
export_df["investment_type"].value_counts()

seed                     103205
series_unknown            61298
series_a                  42280
series_b                  21187
grant                     20481
angel                     19056
pre_seed                  17694
debt_financing            14050
private_equity            11093
series_c                   9823
post_ipo_equity            7550
convertible_note           7417
equity_crowdfunding        6342
non_equity_assistance      5409
undisclosed                5251
series_d                   4136
corporate_round            3335
post_ipo_debt              1743
series_e                   1719
product_crowdfunding       1023
secondary_market            790
initial_coin_offering       680
series_f                    617
series_g                    214
post_ipo_secondary           94
series_h                     90
series_i                     19
series_j                     13
Name: investment_type, dtype: int64

In [157]:
indexnames= export_df[(export_df["investment_type"]!= "seed") &(export_df["investment_type"]!= "angel")& (export_df["investment_type"]!= "pre_seed") ].index
export_df.drop(indexnames , inplace=True)

In [158]:
export_df= export_df.reset_index()

In [159]:
export_df

,index,uuid,investment_type,raised_amount_usd,post_money_valuation_usd,investor_count,org_uuid
0,0,8a945939-18e0-cc9d-27b9-bf33817b2818,angel,500000.0,NaN,4.0,df662812-7f97-0b43-9d3e-12f64f504fbb
1,6,7066cfde-674a-0fc4-514c-bf3c9b0d7b2e,seed,1500000.0,NaN,4.0,3d16cb4c-911e-75c0-de5a-15c316b39f98
2,8,e5b9d3d3-cdf5-b481-c42f-bb818225402c,seed,40000.0,NaN,2.0,21e77067-5537-408e-cad7-e5e72bb6ad86
3,28,4b50fe59-eebe-3d11-0e17-c354d6045385,seed,1000000.0,NaN,2.0,dca84eab-ed98-af47-7183-7420856db9ef
4,35,106fa953-e1ff-5f52-c81c-bb026fabda6c,seed,700000.0,NaN,1.0,697df046-5264-0394-1ff2-7109a0d6e848
...,...,...,...,...,...,...,...
139950,366604,25ee3f19-a8de-43b1-b5e1-fbe2a8a262b4,pre_seed,65000.0,415000.0,NaN,7091dcc8-0886-4fc8-af3b-864a2adf986c
139951,366605,c7a9cb50-4164-4336-8332-6bd7b83ae4b4,angel,291337.0,NaN,NaN,33eceaba-87d5-4526-ac4a-18a18caf9f67
139952,366606,b9cb094a-91de-4559-8116-3e97fcd9442b,angel,142800.0,NaN,3.0,8004c9c8-2a7a-4e40-a1df-adea3985bf8a
139953,366607,8ac9dcac-b1e9-4d97-ad17-685c36b1f4ee,pre_seed,50000.0,NaN,1.0,9d92669d-1d86-4ef5-97c5-50a8903d3ffa
139954,366608,772e2fc2-e84a-4f50-88de-4b25a40511a0,seed,2200000.0,NaN,NaN,4de70313-c66b-48b1-8a53-920a6014c76c

In [160]:
dummy_df= export_df.groupby("org_uuid")["raised_amount_usd","post_money_valuation_usd", "investor_count" ].sum()
export_df= export_df.drop(columns=["raised_amount_usd", "post_money_valuation_usd", "investor_count", "investment_type"])

In [161]:
dummy_df

,raised_amount_usd,post_money_valuation_usd,investor_count
org_uuid,,,
000014da-0c46-b9cb-0941-3a93c027b119,0.0,0.0,5.0
00002470-bff7-6226-5800-0ca1b3787b6f,3400000.0,0.0,13.0
0000d497-c93a-eea3-eeb0-a943dfb4f71e,0.0,0.0,1.0
0001a8cc-0cdc-4a30-b4d3-da1b425069e1,0.0,0.0,1.0
0002aa63-f21b-4c54-9495-895a1d09e0d4,1500000.0,4500000.0,6.0
...,...,...,...
fffd10a8-24fc-4775-947a-25b31aa778ba,110421.0,0.0,3.0
fffdb9e1-0ae9-4630-be83-b76e9e6e0ca0,0.0,0.0,2.0
fffe2508-e9e3-8602-9664-8c6ef2c803de,0.0,0.0,1.0
ffff2bea-7e44-4563-b311-65daadb683cd,451407.0,0.0,1.0
ffffabce-6d4a-b3d1-13c0-4e90cedf5270,990000.0,0.0,5.0

In [162]:
dummy_df= dummy_df.join(export_df.set_index("org_uuid"))

In [163]:
dummy_df

,raised_amount_usd,post_money_valuation_usd,investor_count,index,uuid
org_uuid,,,,,
000014da-0c46-b9cb-0941-3a93c027b119,0.0,0.0,5.0,162659,b0da850e-33a4-e73b-ec50-04e2400a8ec5
000014da-0c46-b9cb-0941-3a93c027b119,0.0,0.0,5.0,180848,c7190746-916e-4226-843b-4f1dbc4ddc9b
00002470-bff7-6226-5800-0ca1b3787b6f,3400000.0,0.0,13.0,37531,68aa5f2f-e8cb-48d1-3eb0-e4e14e2bc297
00002470-bff7-6226-5800-0ca1b3787b6f,3400000.0,0.0,13.0,58112,bbbf009a-a6da-a230-4a17-120817603c20
00002470-bff7-6226-5800-0ca1b3787b6f,3400000.0,0.0,13.0,98691,a460600d-b8c9-35b5-47e0-78692078fe71
...,...,...,...,...,...
fffe2508-e9e3-8602-9664-8c6ef2c803de,0.0,0.0,1.0,55255,b04c7972-3555-3380-cb62-2cee3fbe1a32
ffff2bea-7e44-4563-b311-65daadb683cd,451407.0,0.0,1.0,364919,b6cd618e-c9f0-4410-9f5e-4243b2b65fcd
ffffabce-6d4a-b3d1-13c0-4e90cedf5270,990000.0,0.0,5.0,132638,c09637c8-bbaf-bef0-3ebb-39f50f8063fc
ffffabce-6d4a-b3d1-13c0-4e90cedf5270,990000.0,0.0,5.0,132641,d5d0d173-9a6f-4359-f4bb-a7e71f20b988
ffffabce-6d4a-b3d1-13c0-4e90cedf5270,990000.0,0.0,5.0,149823,f6dd414e-9ed9-da8d-9260-0385580d81b3