In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None

In [2]:
df=pd.read_csv("org_final_joined_new.csv")

In [3]:
# df.columns.get_loc("event_names")

In [4]:
df.drop(df.iloc[:, 0:80], inplace = True, axis = 1)

In [5]:
# df.info()

In [6]:
# some cols will be deleted, for being too complicated / containing little useful info
col_to_drop = ['event_short_description', 'event_venue_name', 'event_description', 'person_personal_featured_job_organization_name']
df.drop(columns=col_to_drop, inplace=True)

In [7]:
# some cols will use 0 as the fillna() value
col_nan_to_zero = ['person', 'organization', 'speaker', 'sponsor', 'exhibitor', 'organizer', 'contestant', 'job_executive', 'job_employee', 'job_board_member', 'job_advisor', 'job_board_observer', 'person_person', 'person_organization', 'person_speaker', 'person_sponsor', 'person_exhibitor', 'person_organizer', 'person_contestant']
for col in col_nan_to_zero:
    df[col].fillna(value=0, inplace=True)

In [8]:
df.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018183 entries, 0 to 1018182
Data columns (total 51 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   event_names                         860952 non-null   object
 1   event_rank                          860952 non-null   float64
 2   event_started_on                    860952 non-null   object
 3   event_ended_on                      860952 non-null   object
 4   event_country_code                  850218 non-null   object
 5   event_region                        850218 non-null   object
 6   event_city                          850218 non-null   object
 7   event_event_roles                   860952 non-null   object
 8   participant_name                    860952 non-null   object
 9   person                              1018183 non-null  float64
 10  organization                        1018183 non-null  float64
 11  speaker                             1018183 non-null  float64
 12  sponsor                             1018183 non-null  float64
 13  exhibitor                           1018183 non-null  float64
 14  organizer                           1018183 non-null  float64
 15  contestant                          1018183 non-null  float64
 16  organization_name                   1000932 non-null  object
 17  job_started_on                      647535 non-null   object
 18  job_ended_on                        221714 non-null   object
 19  job_is_current                      1000932 non-null  object
 20  job_executive                       1018183 non-null  float64
 21  job_employee                        1018183 non-null  float64
 22  job_board_member                    1018183 non-null  float64
 23  job_advisor                         1018183 non-null  float64
 24  job_board_observer                  1018183 non-null  float64
 25  person_personal_name                989579 non-null   object
 26  person_personal_gender              983075 non-null   object
 27  person_personal_country_code        868088 non-null   object
 28  person_personal_region              818625 non-null   object
 29  person_personal_city                805938 non-null   object
 30  person_personal_featured_job_title  885376 non-null   object
 31  person_degree_degree_type           740716 non-null   object
 32  person_degree_subject               705265 non-null   object
 33  person_degree_started_on            376600 non-null   object
 34  person_degree_completed_on          479684 non-null   object
 35  person_degree_is_completed          740716 non-null   object
 36  person_event_name                   665160 non-null   object
 37  person_event_rank                   665160 non-null   float64
 38  person_event_started_on             665160 non-null   object
 39  person_event_ended_on               665160 non-null   object
 40  person_event_country_code           635146 non-null   object
 41  person_event_region                 635146 non-null   object
 42  person_event_city                   635146 non-null   object
 43  person_event_roles                  665160 non-null   object
 44  person_person                       1018183 non-null  float64
 45  person_organization                 1018183 non-null  float64
 46  person_speaker                      1018183 non-null  float64
 47  person_sponsor                      1018183 non-null  float64
 48  person_exhibitor                    1018183 non-null  float64
 49  person_organizer                    1018183 non-null  float64
 50  person_contestant                   1018183 non-null  float64
dtypes: float64(21), object(30)
memory usage: 396.2+ MB

In [9]:
# CD: event_rank
event_rank_mean = df['event_rank'].mean()
df['event_rank'] = df['event_rank'].fillna(event_rank_mean)

In [10]:
# CF, CG: event_started_on, event_ended_on
event_date = ['event_started_on', 'event_ended_on']
has_event = ~df['event_names'].isnull()

for col in event_date:
    df[col] = pd.to_datetime(df[col])
    mean = df[col].mean()
    df.loc[has_event,col] = df.loc[has_event,col].fillna(mean)

In [11]:
# Stardust ver one-hot for country_code, stock_exchange_symbol
def onehot_encoder(df: pd.DataFrame, col_name: str, num_selected: int) -> pd.DataFrame:
    '''
    Performs one-hot encoding on a dataframe's column for its values with most occurrences

    :param pd.DataFrame df: dataframe to be processed
    :param str col_name: name of the encoded column
    :param int num_selected: number of values with most occurrences
    :return: processed dataframe
    :rtype: pd.DataFrame
    '''
    series = df[col_name].value_counts()
    selected_col_name = series.head(num_selected).index.tolist()

    for item in selected_col_name:
        df[col_name + "_" + item] = np.where(df[col_name] == item, 1, 0) # whenever df[col_name] == cat replace it with 1 else 0
        # df[item].add_prefix(col_name + "_")
    df.drop(columns=col_name)
    return df

In [12]:
# CJ, CL: event_country_code, event_city
df = onehot_encoder(df, 'event_country_code', 20)
df = onehot_encoder(df, 'event_city', 20)

In [13]:
df.head()

,event_names,event_rank,event_started_on,event_ended_on,event_country_code,event_region,event_city,event_event_roles,participant_name,person,organization,speaker,sponsor,exhibitor,organizer,contestant,organization_name,job_started_on,job_ended_on,job_is_current,job_executive,job_employee,job_board_member,job_advisor,job_board_observer,person_personal_name,person_personal_gender,person_personal_country_code,person_personal_region,person_personal_city,person_personal_featured_job_title,person_degree_degree_type,person_degree_subject,person_degree_started_on,person_degree_completed_on,person_degree_is_completed,person_event_name,person_event_rank,person_event_started_on,person_event_ended_on,person_event_country_code,person_event_region,person_event_city,person_event_roles,person_person,person_organization,person_speaker,person_sponsor,person_exhibitor,person_organizer,person_contestant,event_country_code_USA,event_country_code_GBR,event_country_code_DEU,event_country_code_ESP,event_country_code_SGP,event_country_code_CAN,event_country_code_FRA,event_country_code_DNK,event_country_code_HKG,event_country_code_IRL,event_country_code_EST,event_country_code_NLD,event_country_code_CZE,event_country_code_ISR,event_country_code_PRT,event_country_code_BGR,event_country_code_AUT,event_country_code_IDN,event_country_code_ARE,event_country_code_FIN,event_city_San Francisco,event_city_New York,event_city_Las Vegas,event_city_London,event_city_Orlando,event_city_Berlin,event_city_Singapore,event_city_Boston,event_city_Cambridge,event_city_Copenhagen,event_city_Toronto,event_city_Paris,event_city_Santa Clara,event_city_Berkeley,event_city_Washington,event_city_Dublin,event_city_Madrid,event_city_Santa Monica,event_city_Cyberport,event_city_Tallinn
0,NaN,8293.305429,NaT,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SOICO,NaN,NaN,True,1.0,0.0,0.0,0.0,0.0,Doki Ayaka,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,NaN,8293.305429,NaT,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SOICO,NaN,NaN,True,1.0,0.0,0.0,0.0,0.0,Motoshi Shimizu,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,NaN,8293.305429,NaT,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SOICO,NaN,NaN,True,0.0,0.0,1.0,0.0,0.0,Tetsuya Sanada,male,NaN,NaN,NaN,Chairman and CEO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,NaN,8293.305429,NaT,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SOICO,NaN,NaN,True,1.0,0.0,0.0,0.0,0.0,Junichi Kayahara,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,NaN,8293.305429,NaT,NaT,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NFX,2015-02-01,NaN,True,0.0,0.0,0.0,1.0,0.0,Josh Elman,male,USA,California,San Francisco,Venture Partner,Bachelor,Symbolic Systems,1993-01-01,1997-01-01,True,TechCrunch Disrupt SF 2016,2255.0,12/9/2016,14/9/2016,USA,California,San Francisco,"competition,conference,expo,hackathon,meetup,n...",1.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
# DE, DF, DH: person_personal_gender, person_personal_country_code, person_personal_city
df = onehot_encoder(df, 'person_personal_gender', 2)
df = onehot_encoder(df, 'person_personal_country_code', 20)
df = onehot_encoder(df, 'person_personal_city', 20)

In [15]:
# DK: person_degree_degree_type
# use keyword to search for relevant degrees
bachelor_keyword = ['Bachelor', 'Degree', 'BS', 'BSc', 'B.S.', 'Bsc', 'B.S',
'BENG', 'BEng', 'B.Eng.', 'Beng', 'B.Eng', 'BE', 'B.E', 'BA', 'Ba', 'B.A.', 'B.A', 'A.B.', 'AB',
'BBA', 'B.B.A.', 'B.B.A', 'B.Tech', 'B.Tech.', 'B.Com.', 'J.D.', 'JD', 'Juris Doctor']

master_keyword = ['Master', 'Postgraduate', 'Graduate', 'MPHIL', 'MPhil', 'Mphil', 'M.Phil.', 'M.phil', 'M.Phil', 'M.S',
'MS', 'MSc', 'M.Sc', 'Msc', 'MENG', 'MEng', 'M.Eng.', 'M.eng.',
'MA', 'M.A', 'MBA', 'M.B.A.', 'M.B.A', 'Mba', 'M.BA.', 'M.Ba.', 'LLM']

phd_keyword = ['PHD', 'Phd', 'PhD', 'P.HD', 'P.Hd', 'P.hd', 'P.H.D', 'Ph.D.', 'Ph.D.', 'PhD']

df['person_degree_degree_type'].fillna(value='N/A', inplace=True)
df.loc[df['person_degree_degree_type'].str.contains('|'.join(phd_keyword)),'person_degree_degree_type']='PhD'
df.loc[df['person_degree_degree_type'].str.contains('|'.join(master_keyword)),'person_degree_degree_type']='Master'
df.loc[df['person_degree_degree_type'].str.contains('|'.join(bachelor_keyword)),'person_degree_degree_type']='Bachelor'

degree_type = []

# perform ordinal encoding: bachelor = 1, master = 2, PhD = 3, no/others = 0
for degree in df['person_degree_degree_type']:
    if degree == 'Bachelor':
        degree_type.append(1)
    elif degree == 'Master':
        degree_type.append(2)
    elif degree == 'PhD':
        degree_type.append(3)
    else:
        degree_type.append(0)
        
df['person_degree_degree_type'] = degree_type

In [16]:
# Stardust ver unique keyword search
def unique_keyword_search(df_col: pd.Series, num_selected: int) -> list:
    '''
    Performs unique keyword search on a dataframe's column for its most common keywords

    :param pd.Series df_col: column of a pd.DataFrame (e.g. df['col'])
    :param int num_selected: number of keywords
    :return: list of keywords in decreasing occurrence
    :rtype: list
    '''
    keywords = []
    for entry in df_col:
        words = entry.split(',')
        words = entry.split('&')
        words = entry.split('and')
        [keywords.append(word) for word in words]
    sorted_keywords = Counter(keywords).most_common()
    output_keywords = []
    for i in range(num_selected):
        output_keywords.append(sorted_keywords[i][0])
    return output_keywords

In [17]:
# Stardust ver one-hot encoder V2
def onehot_encoder_v2(df: pd.DataFrame, col_name: str, list_selected: list) -> pd.DataFrame:
    '''
    Performs one-hot encoding on a dataframe's column for its values with most occurrences

    :param pd.DataFrame df: dataframe to be processed
    :param str col_name: name of the encoded column
    :param list list_selected: list of most common values
    :return: processed dataframe
    :rtype: pd.DataFrame
    '''
    for item in list_selected:
        df[item] = np.where(df[col_name] == item, 1, 0) # whenever df[col_name] == cat replace it with 1 else 0
    df.drop(col_name, axis=1, inplace=True)

    return df

In [18]:
# # can't run
# subject_keywords = unique_keyword_search(df['person_degree_subject'], 50)

AttributeError: 'float' object has no attribute 'split'

In [ ]:
# onehot_encoder_v2(df, 'person_degree_subject', subject_keywords)
# df.head(50)

In [14]:
# DL_person_degree_subject
# df['person_degree_subject'].value_counts()
# df['person_degree_subject'].value_counts().head(50)

unknown                                                                99644
Computer Science                                                       67812
Business                                                               32044
Economics                                                              25396
Law                                                                    23316
Electrical Engineering                                                 20777
Finance                                                                19128
Business Administration                                                12813
Government                                                             11828
General Management                                                      9188
Philosophy                                                              9088
Mechanical Engineering                                                  8105
Engineering                                                             6975
Mathematics                                                             6678
Linguistics and Pure Mathematics                                        5616
Marketing                                                               5469
Physics                                                                 5144
Political Science                                                       5074
History                                                                 5037
Computer Information Systems                                            4848
Political Economy                                                       3988
Chemical Engineering                                                    3878
Computer Science, Economics                                             3690
Computer Engineering                                                    3509
Technology for Manufacturing                                            3429
Management                                                              3306
Business Administration, Economics                                      3261
Quantitative Finance and Economics                                      3258
Political Science, Economics & Philosophy                               3001
Entrepreneurship                                                        2825
International Business                                                  2800
Computer Science and Biomedical Engineering                             2684
Artificial Intelligence and Machine Learning in Business Strategyâ€™s     2684
Engineering and Physical Science in Medicine, Health Economics          2684
Improving Global Health: Focusing on Quality and Safety                 2684
Project Management                                                      2653
Bioinformatics                                                          2615
Economics and Management                                                2592
Computer Science & Engineering                                          2552
English Literature                                                      2525
Mathematics and Computer Science                                        2442
Finance & Management                                                    2265
Integrated Marketing Communications                                     2185
Finance & Supply Chain Management                                       2176
Computer Science and Electrical Engineering                             2143
Optoelectronics                                                         2061
Sociology                                                               2059
Optics                                                                  2052
Industrial Engineering                                                  2046
Electrical and Computer Engineering                                     2038
Name: person_degree_subject, dtype: int64