In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("jobs_processed_1.csv") # change the input CSV name

keep_col = ['uuid','permalink','created_at','updated_at','person_uuid','person_name',
            'org_uuid','org_name',
            'started_on','ended_on','is_current', "title", "job_type"] # change the cols to keep

drop_row = [0, 1] # change the rows to drop

new_df = df[keep_col].drop(drop_row)
new_df.to_csv("jobs_edited.csv", index=False) # change the output CSV name

In [7]:
new_df

,uuid,permalink,created_at,updated_at,person_uuid,person_name,org_uuid,org_name,started_on,ended_on,is_current,title,job_type
2,1319cd30-f5e8-c700-0af6-64029c6f7124,raju-vegesna-employee-zoho--1319cd30,2007-05-25 19:33:03,2018-02-13 01:19:53,9f99a98a-aa97-b30b-0d36-db67c1d277e0,Raju Vegesna,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,2000-11-01,NaN,True,Chief Evangelist,employee
3,27a252de-1ea8-c620-b2d4-5b889fa9b40f,ian-wenig-executive-zoho--27a252de,2007-05-25 19:34:53,2018-02-13 01:21:35,6e1bca72-a865-b518-b305-31214ce2d1b0,Ian Wenig,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,2006-03-01,NaN,True,VP Business Development,executive
4,5a802a79-229f-44ae-0aba-db330f10b67a,jay-adelson-executive-digg--5a802a79,2007-05-25 20:05:33,2018-02-13 01:25:38,c92a1f00-8c19-bf2e-0f28-dbbd383dc968,Jay Adelson,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,2005-07-01,2010-04-05,False,CEO,executive
5,423205d5-feb5-06e3-8bb0-67fe5c3ddf7a,owen-byrne-employee-digg--423205d5,2007-05-25 20:06:45,2018-02-13 01:23:43,3b598c59-7b6c-2d48-763c-da55bca77035,Owen Byrne,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,NaN,NaN,False,Senior Software Engineer,employee
6,55aa1e54-d21e-1697-9892-c07ef2fa8b10,ron-gorodetzky-executive-digg--55aa1e54,2007-05-25 20:07:50,2018-02-13 01:25:17,80d25c23-9726-9dda-5852-39cdf4810ea5,Ron Gorodetzky,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,NaN,NaN,False,Systems Engineering Manager,executive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337535,39d0b052-87e2-8263-b054-48c29cceda4f,tom-moon-employee-punt-club--39d0b052,2013-12-16 21:32:13,2018-02-13 01:23:06,251015eb-9e77-58a2-e1d5-7bd1858cfb5c,Tom Moon,175fd4e6-59e3-4488-7e1f-ed9261cd3ffa,Punt Club,NaN,NaN,True,BDM,employee
337536,8f2d1102-7c3d-0ff3-fefe-74c6b332002f,andrew-johnson-5-executive-subarctic-limited--...,2013-12-16 21:34:48,2018-02-13 01:29:50,a678817d-fc56-6903-cee5-fc8cbc703317,Andrew Johnson,7b015c13-ed1c-13b2-9dab-4eaa4f586615,Subarctic Limited,2013-01-01,NaN,True,CEO & Founder,executive
337537,17cebf8b-b67c-872d-9f6f-139dc8960772,nic-dipalma-executive-carfeine--17cebf8b,2013-12-16 21:45:25,2018-02-13 01:20:14,66fb9df3-609a-2755-f154-c77887022c1e,Nic DiPalma,8f936cbf-f3d7-355e-2bec-65a055a0f533,Carfeine,NaN,NaN,True,CCO,executive
337538,b2ca83d0-a28f-f40e-e4f7-cdbc693cb052,daniel-qu-executive-launchsite--b2ca83d0,2013-12-16 22:11:17,2018-02-13 01:32:56,94a4d5f1-a98b-e541-9221-5d30c7fcaad7,Daniel Qu,8114e828-3b44-daaa-78c9-250c8c240f94,Launchsite,NaN,NaN,True,Founder,executive
337539,15c289df-63b7-d19a-447e-9e25596428a5,daniel-santos-3-executive-peard--15c289df,2013-12-16 22:22:08,2018-02-13 01:20:05,eaf3a0a9-9d8b-2c88-bfbb-41d94a80ca80,Danie,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = pd.read_csv("jobs_processed_2.csv", names= new_df.columns) # change the input CSV name

In [9]:
df

,uuid,permalink,created_at,updated_at,person_uuid,person_name,org_uuid,org_name,started_on,ended_on,is_current,title,job_type
0,l Santos,feac3cfa-21ba-11bf-faab-a1bba95fce6e,PEAR'd,2013-02-02,NaN,True,"CEO, CoFounder",executive,NaN,NaN,NaN,NaN,NaN
1,337540,78a94437-cbce-026f-e961-efeb61673e9e,james-meyer-executive-urbful--78a94437,2013-12-16 22:24:13,2018-02-13 01:28:01,59bb96c6-6d41-51ef-0cbc-88a61bd1e2ce,James Meyer,5b6192db-e4a1-6e92-cf7a-95bbd31b7a79,Urbful,NaN,NaN,False,CTO
2,337541,e3ac5929-09b8-8b14-50e5-7f06845a9356,peyton-sandoz-executive-urbful--e3ac5929,2013-12-16 22:24:50,2018-02-13 01:37:08,c6a88d46-3aef-35d9-d022-a17a4c7c6c95,Peyton Sandoz,5b6192db-e4a1-6e92-cf7a-95bbd31b7a79,Urbful,NaN,NaN,False,CFO
3,337542,d4d3f97c-88bc-51ec-efe0-caca71903beb,richard-bexon-executive-namu-travel--d4d3f97c,2013-12-16 22:55:19,2018-02-13 01:35:48,354124e1-e4ac-876f-062f-61c353bd61d1,Richard Bexon,3368b1b1-ea71-7ffe-8051-74fcbae19604,Namu Travel,2004-01-01,NaN,True,COO
4,337543,754ad0a5-bb78-9b9d-82b8-6ea64d00c8e0,tony-silva-executive-namu-travel--754ad0a5,2013-12-16 22:55:19,2019-11-19 17:47:08,6bd0976d-a590-63af-0c94-01ac2d0d4742,Tony Silva,3368b1b1-ea71-7ffe-8051-74fcbae19604,Namu Travel,1999-12-01,NaN,False,Co-Founder
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337978,675517,17598e14-6235-3c96-2dc1-c3352efeb0ff,joey-tanenbaum-board-member-royal-ontario-muse...,2015-10-28 11:19:46,2018-02-13 01:20:12,578ec675-4f96-5e77-b68f-5096e9143195,Joey Tanenbaum,b436f3db-4e77-cbe4-d542-a5c1d112d939,Royal Ontario Museum Foundation,NaN,NaN,True,Board of Governor
337979,675518,a34e3058-fa34-82c0-d66d-e70157a2c9e8,james-temerty-board-member-royal-ontario-museu...,2015-10-28 11:20:37,2018-02-13 01:31:35,0d0ae283-3877-e117-4561-3e4358aae48e,James Temerty,b436f3db-4e77-cbe4-d542-a5c1d112d939,Royal Ontario Museum Foundation,NaN,NaN,True,Board of Governor
337980,675519,e9eda120-37a1-6ca7-d26c-0887db0206ac,aaron-cram-executive-protoplant--e9eda120,2015-10-28 11:24:27,2018-02-13 01:37:37,21fafbda-3b9b-8090-173b-63ba1dd593ea,Aaron Cram,521417ce-5e02-93f6-aae5-7f5255464792,ProtoPlant,NaN,NaN,True,"Co-founder, Software Engineer"
337981,675520,e06d0593-b70d-d55b-552f-e74ccd792efa,joão-bernardo-executive-inviita--e06d0593,2015-10-28 11:27:07,2018-02-13 01:36:52,3bc737bd-8d1b-569b-af00-115922721094,João Bernardo,330e010e-6147-dcb2-cc4e-1337400de121,Inviita,2015-06-15,NaN,True,CTO
337982,675521,e6f1fa16-be01-c472-2c4c-41144b0456a6,richard-wernham-board-member-royal-on,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN