In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("degrees.csv") # change the input CSV name
#df2 = pd.read_csv("event_appearances_processed_2.csv",names = df1.columns) # change the input CSV name
# df3 = pd.read_csv("jobs_processed_3.csv",  names = df1.columns) # change the input CSV name
# df4 = pd.read_csv("jobs_processed_4.csv", names = df1.columns) # change the input CSV name
# df5 = pd.read_csv("jobs_processed_5.csv", names = df1.columns) # change the input CSV name
df1

,Unnamed: 0,uuid,type,created_at,updated_at,person_uuid,person_name,institution_uuid,institution_name,degree_type,subject,started_on,completed_on,is_completed
0,0,205fdfd1-ecac-aa43-262f-219f11755f67,degree,2008-02-19 17:58:31,2018-02-13 01:40:03,4897dba9-3141-ecc0-2c4b-c9d844e6440f,John Green,1eab62d2-15d9-0db7-930f-2aa77d4688e1,Boston University,MS,Mass Communication,NaN,1992-01-01,True
1,1,1a2ac288-eb99-3318-fde5-1517bc168f51,degree,2008-02-19 17:58:31,2018-02-13 01:39:57,4897dba9-3141-ecc0-2c4b-c9d844e6440f,John Green,6ae9957a-8fb4-0ab1-73fa-dd547c4d3da4,Washington University in St. Louis,BA,"English, French",NaN,1990-01-01,True
2,2,b978d338-7ccc-7469-5ce7-ef98c34155ad,degree,2008-02-19 23:40:40,2018-02-13 01:43:09,7d187b77-94f7-e6cc-6981-d7468db5968f,Sridhar Gundaiah,b5ea73f6-12a3-576d-ae9b-f4169147f974,University of Greenwich,MS,Internet Technology,NaN,2006-01-01,True
3,3,d01cfaad-0ccc-631e-0382-1e507bf6ba04,degree,2008-02-21 01:31:01,2018-02-13 01:43:33,45e29113-19f9-c828-68d0-42ad2ef04da0,John Furrier,5f84d9fa-78fd-14b0-d335-5ac3561cdc0a,Northeastern University,BS,Computer Science,NaN,1988-01-01,True
4,4,16a607f5-8ab3-573e-8d09-57b3e352e1d3,degree,2008-02-21 01:31:34,2018-02-13 01:39:53,b3b4ec6b-86fe-dd6e-ec8a-e8e7e999f274,Ian Reardon,1a380593-fb9d-7f7b-ae67-784ce3ff3690,Rochester Institute of Technology,BS,Computer Science,NaN,2002-01-01,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370027,370027,8079dc6e-6465-4b6d-838c-3f814bc117e2,degree,2020-12-30 22:40:34,2020-12-30 22:40:34,5ed9c9b6-656e-4def-b317-1c8b22bd18fe,Christopher Kelley,5f84d9fa-78fd-14b0-d335-5ac3561cdc0a,Northeastern University,BSBA,Business Management,NaN,NaN,False
370028,370028,25720d58-edf2-4d4d-b7b3-303b01f0ab30,degree,2020-12-30 22:40:34,2020-12-30 22:40:34,5ed9c9b6-656e-4def-b317-1c8b22bd18fe,Christopher Kelley,5f84d9fa-78fd-14b0-d335-5ac3561cdc0a,Northeastern University,BSBA,Business Marketing,NaN,NaN,False
370029,370029,16300cee-ea5a-481d-91ee-b69db61c57b4,degree,2020-12-30 23:41:39,2020-12-30 23:41:39,45fb369c-dba5-4875-aa50-0f5981583eec,AJ Goldstein,ef989047-b04e-78e7-7d6d-a9281c0e0278,University of Michigan,BSE,Data Science Enginering,NaN,NaN,False
370030,370030,6d0dd169-a899-4174-9686-70f3cfc867f4,degree,2020-12-30 23:51:50,2020-12-30 23:51:50,42a3142d-3421-48ae-9117-af6b904dfb62,Robert Fox,84153cf0-01ef-4e13-9e72-565240830b3f,Texas State Board of Public Accountancy,CPA,NaN,NaN,NaN,False
370031,370031,4bfb1361-d872-4142-8f55-f19ad6afcc58,degree,2020-12-30 23:51:50,2020-12-30 23:51:50,42a3142d-3421-48ae-9117-af6b904dfb62,Robert Fox,36e3a7c4-67f9-1805-cd5b-427cac84ff46,Southeast Missouri State University,BBA,General Management,NaN,NaN,False

In [4]:
keep_col = ['uuid','type','created_at','updated_at','person_uuid','person_name',
            'institution_uuid','institution_name',
            'degree_type','subject', "started_on", "completed_on", "is_completed"] # change the cols to keep

drop_row = [0, 1] # change the rows to drop

new_df = df1[keep_col].drop(drop_row)
new_df.to_csv("degrees.csv", index=False) # change the output CSV name

In [5]:
df5 = pd.read_csv("degrees.csv") # change the input CSV name
df5

,uuid,type,created_at,updated_at,person_uuid,person_name,institution_uuid,institution_name,degree_type,subject,started_on,completed_on,is_completed
0,b978d338-7ccc-7469-5ce7-ef98c34155ad,degree,2008-02-19 23:40:40,2018-02-13 01:43:09,7d187b77-94f7-e6cc-6981-d7468db5968f,Sridhar Gundaiah,b5ea73f6-12a3-576d-ae9b-f4169147f974,University of Greenwich,MS,Internet Technology,NaN,2006-01-01,True
1,d01cfaad-0ccc-631e-0382-1e507bf6ba04,degree,2008-02-21 01:31:01,2018-02-13 01:43:33,45e29113-19f9-c828-68d0-42ad2ef04da0,John Furrier,5f84d9fa-78fd-14b0-d335-5ac3561cdc0a,Northeastern University,BS,Computer Science,NaN,1988-01-01,True
2,16a607f5-8ab3-573e-8d09-57b3e352e1d3,degree,2008-02-21 01:31:34,2018-02-13 01:39:53,b3b4ec6b-86fe-dd6e-ec8a-e8e7e999f274,Ian Reardon,1a380593-fb9d-7f7b-ae67-784ce3ff3690,Rochester Institute of Technology,BS,Computer Science,NaN,2002-01-01,True
3,0d199152-1aba-9ff2-151f-6a9ad279a1cf,degree,2008-02-22 08:16:50,2018-02-13 01:39:43,d79f466b-da07-63d4-b111-2d6be126dd2f,Michael Jones,9cb593c9-f5ad-c361-d2d9-8138b313e592,University of Oregon,BA,International Business & Marketing,NaN,1997-01-01,True
4,62cb9fa9-30b8-4b11-cebf-643208fc2e06,degree,2008-02-22 08:27:15,2018-02-13 01:41:23,5eb1057d-07a4-4e7c-0c69-650f37c9c7ce,Chris Tsakalakis,e72aab01-fbef-7d21-ac1d-84ee1413fddd,University of Pennsylvania,Bachelor of Science,Economics,1985-09-04,1989-05-01,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
370025,8079dc6e-6465-4b6d-838c-3f814bc117e2,degree,2020-12-30 22:40:34,2020-12-30 22:40:34,5ed9c9b6-656e-4def-b317-1c8b22bd18fe,Christopher Kelley,5f84d9fa-78fd-14b0-d335-5ac3561cdc0a,Northeastern University,BSBA,Business Management,NaN,NaN,False
370026,25720d58-edf2-4d4d-b7b3-303b01f0ab30,degree,2020-12-30 22:40:34,2020-12-30 22:40:34,5ed9c9b6-656e-4def-b317-1c8b22bd18fe,Christopher Kelley,5f84d9fa-78fd-14b0-d335-5ac3561cdc0a,Northeastern University,BSBA,Business Marketing,NaN,NaN,False
370027,16300cee-ea5a-481d-91ee-b69db61c57b4,degree,2020-12-30 23:41:39,2020-12-30 23:41:39,45fb369c-dba5-4875-aa50-0f5981583eec,AJ Goldstein,ef989047-b04e-78e7-7d6d-a9281c0e0278,University of Michigan,BSE,Data Science Enginering,NaN,NaN,False
370028,6d0dd169-a899-4174-9686-70f3cfc867f4,degree,2020-12-30 23:51:50,2020-12-30 23:51:50,42a3142d-3421-48ae-9117-af6b904dfb62,Robert Fox,84153cf0-01ef-4e13-9e72-565240830b3f,Texas State Board of Public Accountancy,CPA,NaN,NaN,NaN,False
370029,4bfb1361-d872-4142-8f55-f19ad6afcc58,degree,2020-12-30 23:51:50,2020-12-30 23:51:50,42a3142d-3421-48ae-9117-af6b904dfb62,Robert Fox,36e3a7c4-67f9-1805-cd5b-427cac84ff46,Southeast Missouri State University,BBA,General Management,NaN,NaN,False