In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ipos_processed.csv")

In [3]:
df

,uuid,org_uuid,org_name,country_code,region,city,stock_exchange_symbol,stock_symbol,went_public_on,share_price_usd,valuation_price_usd,money_raised_usd
0,72d30ebd-53ef-2486-6c29-22785c5173ce,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,USA,Washington,Redmond,nasdaq,MSFT,13/3/1986,NaN,NaN,NaN
1,3ad2b068-2d97-f646-0b80-1e5f3d7adfc4,756936c0-c335-f0ae-0a3d-fe26bdff5695,The Walt Disney Company,USA,Florida,Lake Buena Vista,nyse,DIS,13/1/1978,NaN,NaN,300000000.0
2,a265c6f6-4b96-4079-096a-967a37f3da2b,73296f0d-85a5-78d5-90b3-86c5f8981ba9,DivX,USA,California,San Diego,nasdaq,DIVX,22/10/2006,16.0,1.600000e+08,145000000.0
3,ee426509-826e-5dd0-9309-e79c8f384904,ff8439cf-097c-a88a-9bb9-dd83d23aa14b,"XO Group, Inc.",USA,New York,New York,nyse,XOXO,2/12/1999,NaN,NaN,35000000.0
4,66b57372-77f0-ec5f-ca33-0175fff79b0e,ab8e5ba4-df5d-121b-93b6-eae7a0c89245,BMC Software,USA,Texas,Houston,nasdaq,BMC,12/8/1988,NaN,6.000000e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
35239,8833ef61-a563-41b4-9d46-a3f12b0d3766,42e0ea12-ca51-48f1-9f80-adb1600a4fe6,Zhihuigu,CHN,Shanghai,Baoshan,neeq,872856,25/7/2018,NaN,NaN,NaN
35240,b05f6226-5403-4e9c-b6c3-27fa583d4229,d9fd3094-010e-482a-9a22-40e013c728f9,Shengcan Keji,CHN,Guangdong,Shenzhen,neeq,870226,20/12/2016,NaN,NaN,NaN
35241,b48f8f53-cdf4-409c-b412-007a41bbbcc8,eaff8678-e33b-4e5e-99c6-f1d0ac277293,MeritData,CHN,Shaanxi,Xian Shi,neeq,831546,22/12/2014,NaN,NaN,NaN
35242,3074852f-b2fc-4840-b605-c1114595eb4c,029ec071-aea8-42e2-8338-5432bd25384c,Servision,CHN,Shanghai,Shanghai,neeq,831497,15/12/2014,NaN,NaN,NaN
35243,0de19992-f6a7-421e-baf1-a9e86a9b7a45,74cfd4e9-e176-4092-90a0-5fad4663a241,Tepia Technology,CHN,Beijing,Haidian,neeq,838941,16/8/2016,NaN,NaN,NaN

In [4]:
df['share_price_usd'] = df['share_price_usd'].fillna(-99999)
df['valuation_price_usd'] = df['valuation_price_usd'].fillna(-99999)
df['money_raised_usd'] = df['money_raised_usd'].fillna(-99999)

df.dropna(how = "any", inplace = True)
df = df.reset_index(drop = True)
df

,uuid,org_uuid,org_name,country_code,region,city,stock_exchange_symbol,stock_symbol,went_public_on,share_price_usd,valuation_price_usd,money_raised_usd
0,72d30ebd-53ef-2486-6c29-22785c5173ce,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,USA,Washington,Redmond,nasdaq,MSFT,13/3/1986,-99999.0,-9.999900e+04,-99999.0
1,3ad2b068-2d97-f646-0b80-1e5f3d7adfc4,756936c0-c335-f0ae-0a3d-fe26bdff5695,The Walt Disney Company,USA,Florida,Lake Buena Vista,nyse,DIS,13/1/1978,-99999.0,-9.999900e+04,300000000.0
2,a265c6f6-4b96-4079-096a-967a37f3da2b,73296f0d-85a5-78d5-90b3-86c5f8981ba9,DivX,USA,California,San Diego,nasdaq,DIVX,22/10/2006,16.0,1.600000e+08,145000000.0
3,ee426509-826e-5dd0-9309-e79c8f384904,ff8439cf-097c-a88a-9bb9-dd83d23aa14b,"XO Group, Inc.",USA,New York,New York,nyse,XOXO,2/12/1999,-99999.0,-9.999900e+04,35000000.0
4,66b57372-77f0-ec5f-ca33-0175fff79b0e,ab8e5ba4-df5d-121b-93b6-eae7a0c89245,BMC Software,USA,Texas,Houston,nasdaq,BMC,12/8/1988,-99999.0,6.000000e+09,-99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...
35050,8833ef61-a563-41b4-9d46-a3f12b0d3766,42e0ea12-ca51-48f1-9f80-adb1600a4fe6,Zhihuigu,CHN,Shanghai,Baoshan,neeq,872856,25/7/2018,-99999.0,-9.999900e+04,-99999.0
35051,b05f6226-5403-4e9c-b6c3-27fa583d4229,d9fd3094-010e-482a-9a22-40e013c728f9,Shengcan Keji,CHN,Guangdong,Shenzhen,neeq,870226,20/12/2016,-99999.0,-9.999900e+04,-99999.0
35052,b48f8f53-cdf4-409c-b412-007a41bbbcc8,eaff8678-e33b-4e5e-99c6-f1d0ac277293,MeritData,CHN,Shaanxi,Xian Shi,neeq,831546,22/12/2014,-99999.0,-9.999900e+04,-99999.0
35053,3074852f-b2fc-4840-b605-c1114595eb4c,029ec071-aea8-42e2-8338-5432bd25384c,Servision,CHN,Shanghai,Shanghai,neeq,831497,15/12/2014,-99999.0,-9.999900e+04,-99999.0
35054,0de19992-f6a7-421e-baf1-a9e86a9b7a45,74cfd4e9-e176-4092-90a0-5fad4663a241,Tepia Technology,CHN,Beijing,Haidian,neeq,838941,16/8/2016,-99999.0,-9.999900e+04,-99999.0

In [5]:
df['country_code'].value_counts()
def enconding(state):
    if state == "-1":
        value = -1
    elif state =="USA":
        value = 0
    elif state == "GBR":
        value = 1
    elif state == "IND":
        value = 2
    elif state == "CAN":
        value = 3
    elif state == "CHI":
        value = 4
    else :
        value = 5
    return value
df['country_code'] = df['country_code'].apply(lambda x:enconding(x))

In [6]:
df['stock_exchange_symbol'].value_counts()

def enconding_sym(sym):
    if sym =="nasdaq":
        value = 0
    elif sym == "tyo":
        value = 1
    elif sym == "nyse":
        value = 2
    elif sym == "szse":
        value = 3
    elif sym == "lse":
        value = 4
    elif sym == "neeq":
        value = 5
    else :
        value = 6
    return value
df['stock_exchange_symbol'] = df['stock_exchange_symbol'].apply(lambda x:enconding_sym(x))
df

,uuid,org_uuid,org_name,country_code,region,city,stock_exchange_symbol,stock_symbol,went_public_on,share_price_usd,valuation_price_usd,money_raised_usd
0,72d30ebd-53ef-2486-6c29-22785c5173ce,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,0,Washington,Redmond,0,MSFT,13/3/1986,-99999.0,-9.999900e+04,-99999.0
1,3ad2b068-2d97-f646-0b80-1e5f3d7adfc4,756936c0-c335-f0ae-0a3d-fe26bdff5695,The Walt Disney Company,0,Florida,Lake Buena Vista,2,DIS,13/1/1978,-99999.0,-9.999900e+04,300000000.0
2,a265c6f6-4b96-4079-096a-967a37f3da2b,73296f0d-85a5-78d5-90b3-86c5f8981ba9,DivX,0,California,San Diego,0,DIVX,22/10/2006,16.0,1.600000e+08,145000000.0
3,ee426509-826e-5dd0-9309-e79c8f384904,ff8439cf-097c-a88a-9bb9-dd83d23aa14b,"XO Group, Inc.",0,New York,New York,2,XOXO,2/12/1999,-99999.0,-9.999900e+04,35000000.0
4,66b57372-77f0-ec5f-ca33-0175fff79b0e,ab8e5ba4-df5d-121b-93b6-eae7a0c89245,BMC Software,0,Texas,Houston,0,BMC,12/8/1988,-99999.0,6.000000e+09,-99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...
35050,8833ef61-a563-41b4-9d46-a3f12b0d3766,42e0ea12-ca51-48f1-9f80-adb1600a4fe6,Zhihuigu,5,Shanghai,Baoshan,5,872856,25/7/2018,-99999.0,-9.999900e+04,-99999.0
35051,b05f6226-5403-4e9c-b6c3-27fa583d4229,d9fd3094-010e-482a-9a22-40e013c728f9,Shengcan Keji,5,Guangdong,Shenzhen,5,870226,20/12/2016,-99999.0,-9.999900e+04,-99999.0
35052,b48f8f53-cdf4-409c-b412-007a41bbbcc8,eaff8678-e33b-4e5e-99c6-f1d0ac277293,MeritData,5,Shaanxi,Xian Shi,5,831546,22/12/2014,-99999.0,-9.999900e+04,-99999.0
35053,3074852f-b2fc-4840-b605-c1114595eb4c,029ec071-aea8-42e2-8338-5432bd25384c,Servision,5,Shanghai,Shanghai,5,831497,15/12/2014,-99999.0,-9.999900e+04,-99999.0
35054,0de19992-f6a7-421e-baf1-a9e86a9b7a45,74cfd4e9-e176-4092-90a0-5fad4663a241,Tepia Technology,5,Beijing,Haidian,5,838941,16/8/2016,-99999.0,-9.999900e+04,-99999.0

In [7]:
df.drop(columns=['stock_symbol'], inplace = True)
df = pd.get_dummies(df, columns=["region","city"]).head()

In [8]:
df

,uuid,org_uuid,org_name,country_code,stock_exchange_symbol,went_public_on,share_price_usd,valuation_price_usd,money_raised_usd,region_Aargau,...,city_Çiftlikköy,city_Écully,city_Élancourt,city_Étival-clairefontaine,city_Étrépagny,city_Évry,city_Ílhavo,city_Östersund,city_Ürümqi,city_Ürümqi Shi
0,72d30ebd-53ef-2486-6c29-22785c5173ce,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,0,0,13/3/1986,-99999.0,-9.999900e+04,-99999.0,0,...,0,0,0,0,0,0,0,0,0,0
1,3ad2b068-2d97-f646-0b80-1e5f3d7adfc4,756936c0-c335-f0ae-0a3d-fe26bdff5695,The Walt Disney Company,0,2,13/1/1978,-99999.0,-9.999900e+04,300000000.0,0,...,0,0,0,0,0,0,0,0,0,0
2,a265c6f6-4b96-4079-096a-967a37f3da2b,73296f0d-85a5-78d5-90b3-86c5f8981ba9,DivX,0,0,22/10/2006,16.0,1.600000e+08,145000000.0,0,...,0,0,0,0,0,0,0,0,0,0
3,ee426509-826e-5dd0-9309-e79c8f384904,ff8439cf-097c-a88a-9bb9-dd83d23aa14b,"XO Group, Inc.",0,2,2/12/1999,-99999.0,-9.999900e+04,35000000.0,0,...,0,0,0,0,0,0,0,0,0,0
4,66b57372-77f0-ec5f-ca33-0175fff79b0e,ab8e5ba4-df5d-121b-93b6-eae7a0c89245,BMC Software,0,0,12/8/1988,-99999.0,6.000000e+09,-99999.0,0,...,0,0,0,0,0,0,0,0,0,0