In [1]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None,'display.max_row', None)

default_figsize = (15,5)
# boxplot_figsize = (15,1)

In [2]:
df = pd.read_csv("ipos_processed.csv")

In [3]:
# df.head()

In [4]:
col_to_fillna = ['share_price_usd', 'valuation_price_usd', 'money_raised_usd']

for col in col_to_fillna:
    mean = df[col].mean()
    df[col] = df[col].fillna(mean)
# df['share_price_usd'] = df['share_price_usd'].fillna(-99999)
# df['valuation_price_usd'] = df['valuation_price_usd'].fillna(-99999)
# df['money_raised_usd'] = df['money_raised_usd'].fillna(-99999)

df.dropna(how = "any", inplace = True)
df = df.reset_index(drop = True)
df.head()

,uuid,org_uuid,org_name,country_code,region,city,stock_exchange_symbol,stock_symbol,went_public_on,share_price_usd,valuation_price_usd,money_raised_usd
0,72d30ebd-53ef-2486-6c29-22785c5173ce,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,USA,Washington,Redmond,nasdaq,MSFT,13/3/1986,14.409031,1.643511e+09,2.147861e+08
1,3ad2b068-2d97-f646-0b80-1e5f3d7adfc4,756936c0-c335-f0ae-0a3d-fe26bdff5695,The Walt Disney Company,USA,Florida,Lake Buena Vista,nyse,DIS,13/1/1978,14.409031,1.643511e+09,3.000000e+08
2,a265c6f6-4b96-4079-096a-967a37f3da2b,73296f0d-85a5-78d5-90b3-86c5f8981ba9,DivX,USA,California,San Diego,nasdaq,DIVX,22/10/2006,16.000000,1.600000e+08,1.450000e+08
3,ee426509-826e-5dd0-9309-e79c8f384904,ff8439cf-097c-a88a-9bb9-dd83d23aa14b,"XO Group, Inc.",USA,New York,New York,nyse,XOXO,2/12/1999,14.409031,1.643511e+09,3.500000e+07
4,66b57372-77f0-ec5f-ca33-0175fff79b0e,ab8e5ba4-df5d-121b-93b6-eae7a0c89245,BMC Software,USA,Texas,Houston,nasdaq,BMC,12/8/1988,14.409031,6.000000e+09,2.147861e+08

In [5]:
# draft by Stardust to visualize how many stuff needs to be labelled individually
# the rest can be grouped into, say, continents
# country_series = df['country_code'].value_counts()
# country_series.head(35)
# stock_exchange_series = df['stock_exchange_symbol'].value_counts()
# stock_exchange_series.head(40)

In [6]:
# Stardust ver one-hot for country_code, stock_exchange_symbol
def encoding_ipo(df: pd.DataFrame, col_name: str, num_selected: int) -> pd.DataFrame:
    '''
    Performs one-hot encoding on a dataframe's column for its values with most occurrences

    :param pd.DataFrame df: dataframe to be processed
    :param str col_name: name of the encoded column
    :param int num_selected: number of values with most occurrences
    :return: processed dataframe
    :rtype: pd.DataFrame
    '''
    series = df[col_name].value_counts()
    selected_col_name = series.head(num_selected).index.tolist()

    for item in selected_col_name:
        df[item] = np.where(df[col_name] == item, 1, 0) # whenever df[col_name] == cat replace it with 1 else 0

    return df

In [7]:
num_country = 35 # select 35 most significant countries
num_stock_exchange = 40 # select 40 most significant stock exchanges
df = encoding_ipo(df, 'country_code', num_country)
df = encoding_ipo(df, 'stock_exchange_symbol', num_stock_exchange)

In [8]:
df.head()

,uuid,org_uuid,org_name,country_code,region,city,stock_exchange_symbol,stock_symbol,went_public_on,share_price_usd,valuation_price_usd,money_raised_usd,USA,CHN,JPN,CAN,IND,GBR,AUS,HKG,MYS,FRA,TWN,IDN,ISR,DEU,SGP,SWE,KOR,BRA,TUR,ITA,CHE,NLD,BEL,ESP,THA,ZAF,SAU,IRL,DNK,RUS,POL,NZL,NOR,FIN,MEX,nasdaq,tyo,nyse,szse,lse,cve,hkg,neeq,sse,bom,asx,otcpink,otcqb,epa,nse,klse,tpe,tsx,idx,fra,tlv,sgx,etr,ist,cnsx,bvmf,sto,nysemkt,bit,swx,ebr,krx,kosdaq,otcqx,jse,ams,otcbb,bkk,tadawul,wse
0,72d30ebd-53ef-2486-6c29-22785c5173ce,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,USA,Washington,Redmond,nasdaq,MSFT,13/3/1986,14.409031,1.643511e+09,2.147861e+08,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3ad2b068-2d97-f646-0b80-1e5f3d7adfc4,756936c0-c335-f0ae-0a3d-fe26bdff5695,The Walt Disney Company,USA,Florida,Lake Buena Vista,nyse,DIS,13/1/1978,14.409031,1.643511e+09,3.000000e+08,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,a265c6f6-4b96-4079-096a-967a37f3da2b,73296f0d-85a5-78d5-90b3-86c5f8981ba9,DivX,USA,California,San Diego,nasdaq,DIVX,22/10/2006,16.000000,1.600000e+08,1.450000e+08,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,ee426509-826e-5dd0-9309-e79c8f384904,ff8439cf-097c-a88a-9bb9-dd83d23aa14b,"XO Group, Inc.",USA,New York,New York,nyse,XOXO,2/12/1999,14.409031,1.643511e+09,3.500000e+07,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,66b57372-77f0-ec5f-ca33-0175fff79b0e,ab8e5ba4-df5d-121b-93b6-eae7a0c89245,BMC Software,USA,Texas,Houston,nasdaq,BMC,12/8/1988,14.409031,6.000000e+09,2.147861e+08,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
# df['country_code'].value_counts()
# def encoding_country(state, num_selected): # select 35 most significant countries
#     if state == "-1":
#         value = -1
#     elif state =="USA":
#         value = 0
#     elif state == "GBR":
#         value = 1
#     elif state == "IND":
#         value = 2
#     elif state == "CAN":
#         value = 3
#     elif state == "CHI":
#         value = 4
#     else :
#         value = 5
#     return value
# # df['country_code'] = df['country_code'].apply(lambda x:encoding_country(x))
# print(df['country_code'].value_counts())

In [ ]:
# df['stock_exchange_symbol'].value_counts()
# def enconding_sym(sym):
#     if sym =="nasdaq":
#         value = 0
#     elif sym == "tyo":
#         value = 1
#     elif sym == "nyse":
#         value = 2
#     elif sym == "szse":
#         value = 3
#     elif sym == "lse":
#         value = 4
#     elif sym == "neeq":
#         value = 5
#     else :
#         value = 6
#     return value
# df['stock_exchange_symbol'] = df['stock_exchange_symbol'].apply(lambda x:enconding_sym(x))
# df

In [ ]:
df.drop(columns=['stock_symbol'], inplace = True)
df = pd.get_dummies(df, columns=["region","city"]).head()

In [ ]:
df