In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv("jobs_processed_1.csv")
df2 = pd.read_csv("jobs_processed_2.csv", names = df1.columns)
df3 = pd.read_csv("jobs_processed_3.csv", names = df1.columns)
df4 = pd.read_csv("jobs_processed_4.csv", names = df1.columns)
df5 = pd.read_csv("jobs_processed_5.csv", names = df1.columns)

frames = [df1, df2, df3,df4, df5]
df = pd.concat(frames)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1589783 entries, 0 to 245483
Data columns (total 14 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Unnamed: 0   1589783 non-null  object
 1   uuid         1589783 non-null  object
 2   permalink    1589780 non-null  object
 3   created_at   1589781 non-null  object
 4   updated_at   1589780 non-null  object
 5   person_uuid  1589780 non-null  object
 6   person_name  1589780 non-null  object
 7   org_uuid     1589778 non-null  object
 8   org_name     1589773 non-null  object
 9   started_on   786589 non-null   object
 10  ended_on     294015 non-null   object
 11  is_current   1589777 non-null  object
 12  title        1589695 non-null  object
 13  job_type     1589775 non-null  object
dtypes: object(14)
memory usage: 181.9+ MB