In [1]:
import pandas as pd

### Preparation of Dataframes

In [2]:
df1 = pd.read_csv("organizations_processed_1.csv")
df2 = pd.read_csv("organizations_processed_2.csv")
df3 = pd.read_csv("organizations_processed_3.csv")
org_df = df1.append(df2)
org_df = org_df.append(df3)
org_df = org_df.reset_index()
org_df = org_df.drop(columns=["index"])

df1 = pd.read_csv("people_processed_1.csv")
df2 = pd.read_csv("people_processed_2.csv")
df3 = pd.read_csv("people_processed_3.csv")
df4 = pd.read_csv("people_processed_4.csv")
df5 = pd.read_csv("people_processed_5.csv")
ppl_df = df1.append(df2)
ppl_df = ppl_df.append(df3)
ppl_df = ppl_df.append(df4)
ppl_df = ppl_df.append(df5)
ppl_df = ppl_df.reset_index()
ppl_df = ppl_df.drop(columns=["index"])

In [3]:
acq_df = pd.read_csv("acquisitions_processed.csv")
fund_df = pd.read_csv("funds_processed.csv") #investors' investment funds
fund_rd_df = pd.read_csv("funding_rounds_processed.csv") # each funding round in the dataset
ipo_df = pd.read_csv("ipos_processed.csv") 
csum_df = pd.read_csv("checksum_processed.csv") # The sum of data present in each csv file (the number of rows in each dataframe)
deg_df = pd.read_csv("degrees.csv") #people's education background
cate_gp_df = pd.read_csv("category_groups_processed.csv") #Company name with its group

df1 = pd.read_csv("event_appearances_processed_1.csv")
df2 = pd.read_csv("event_appearances_processed_2.csv")
event_app_df = df1.append(df2)
event_app_df= event_app_df.reset_index()
event_app_df= event_app_df.drop(columns=["index"]) # Event participation details

event_df= pd.read_csv("events_processed.csv") #Event details

In [4]:
df1 = pd.read_csv("jobs_processed_1.csv")
df2 = pd.read_csv("jobs_processed_2.csv")
df3 = pd.read_csv("jobs_processed_3.csv")
df4 = pd.read_csv("jobs_processed_4.csv")
df5 = pd.read_csv("jobs_processed_5.csv")
job_df = df1.append(df2)
job_df= job_df.append(df3)
job_df= job_df.append(df4)
job_df= job_df.append(df5)
job_df= job_df.reset_index()
job_df= job_df.drop(columns=["index"]) #all job and advisory roles

invest_partner_df= pd.read_csv("investment_partners_processed.csv") #Partners who are responsible for their firm's investments
investor_df= pd.read_csv("investors_processed.csv") #Active investors 
org_parent_df= pd.read_csv("org_parents_processed.csv") #Mapping between parent organizations and subsidaries

#All dataframes are now ready, org_df is the master dataframe
org_df

,uuid,type,permalink,rank,created_at,updated_at,roles,country_code,state_code,city,...,category_groups_list,num_funding_rounds,total_funding_usd,total_funding,total_funding_currency_code,founded_on,last_funding_on,closed_on,primary_role,num_exits
0,e1393508-30ea-8a36-3f96-dd3226033abd,organization,wetpaint,136763.0,25/5/2007 13:51,24/6/2019 22:19,company,USA,NY,New York,...,"Content and Publishing,Internet Services,Media...",3.0,3.975000e+07,3.975000e+07,USD,1/6/2005,19/5/2008,NaN,company,NaN
1,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,organization,zoho,7280.0,26/5/2007 2:30,27/10/2018 0:29,"investor,company",USA,CA,Pleasanton,...,"Administrative Services,Information Technology...",NaN,NaN,NaN,NaN,15/9/1996,NaN,NaN,company,1.0
2,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,organization,digg,13290.0,26/5/2007 3:03,10/12/2018 10:09,company,USA,NY,New York,...,"Internet Services,Media and Entertainment",6.0,4.900000e+07,4.900000e+07,USD,11/10/2004,13/9/2016,NaN,company,NaN
3,f4d5ab44-058b-298b-ea81-380e6e9a8eec,organization,omidyar-network,1856.0,26/5/2007 3:21,19/6/2019 12:17,investor,USA,CA,Redwood City,...,"Financial Services,Lending and Investments,Sof...",NaN,NaN,NaN,NaN,1/1/2004,NaN,NaN,investor,37.0
4,df662812-7f97-0b43-9d3e-12f64f504fbb,organization,facebook,6.0,26/5/2007 4:22,21/10/2020 13:53,"investor,company",USA,CA,Menlo Park,...,"Apps,Community and Lifestyle,Content and Publi...",17.0,1.612282e+10,1.612282e+10,USD,4/2/2004,17/10/2014,NaN,company,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048571,41105c7b-35ba-47ef-90ac-218beb506f37,organization,rishabh-digha-steel-allied-p,1113876.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Mumbai,...,"Other,Real Estate",NaN,NaN,NaN,NaN,1/1/1989,NaN,NaN,company,NaN
1048572,d8cf0714-01ed-4c28-9c0d-eca2ca133233,organization,valiant-organics,443665.0,6/6/2020 2:01,14/12/2020 10:39,company,IND,NaN,Mumbai,...,"Health Care,Manufacturing,Science and Engineering",NaN,NaN,NaN,NaN,1/1/1984,NaN,NaN,company,NaN
1048573,b4894426-32c8-47fe-8321-a84528357f60,organization,vaishali-pharma,548019.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Mumbai,...,"Biotechnology,Health Care,Science and Engineering",NaN,NaN,NaN,NaN,1/1/1989,NaN,NaN,company,NaN
1048574,5e8312d3-3a49-473b-96da-9e74a498b98e,organization,terai-tea-co,594451.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Kolkata,...,"Food and Beverage,Manufacturing",NaN,NaN,NaN,NaN,1/1/1973,NaN,NaN,company,NaN
1048575,65e4866c-64be-49e4-b8fb-d53da1969917,organization,tejnaksh-healthcare,817483.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Mumbai,...,"Health Care,Professional Services",NaN,NaN,NaN,NaN,1/1/2003,NaN,NaN,company,NaN

### Handling Naming Issues, and dropping some overlapped columns

In [5]:
# Some prefixes are needed due to duplicate coulmn names with other csv
# Some repeated columns existing info in other dataframes can be deleted

acq_df = acq_df.drop(columns=['acquiree_name', 'acquiree_country_code', 'acquiree_region', 'acquiree_city', 'rank'])
acq_df = acq_df.add_prefix('acquisitions_')
fund_df = fund_df.add_prefix('funds_')
ipo_df = ipo_df.add_prefix('ipo_')
fund_rd_df = fund_rd_df.drop(columns=['rank'])
fund_rd_df = fund_rd_df.add_prefix('fund_rd_')
cate_gp_df = cate_gp_df.drop(columns=['name'])
cate_gp_df = cate_gp_df.add_prefix('cat_')
job_df = job_df.add_prefix('job_')
org_parent_df = org_parent_df.add_prefix('parent_org_')

laed_investor_df = investor_df.add_prefix('lead_investor_')
partner_df = investor_df.add_prefix('partner_')
investor_df = investor_df.add_prefix('investor_')
event_df = event_df.add_prefix('event_')
event_df = event_df.rename(columns={'event_name': 'event_names'})
event_app_df = event_app_df.drop(columns=['uuid'])

deg_df = deg_df.drop(columns=['created_at','updated_at', 'type'])
deg_df = deg_df.add_prefix('degree_')
ppl_df = ppl_df.drop(columns=['created_at','updated_at'])
ppl_df = ppl_df.add_prefix('personal_')

### Firstly, handle investor, partners and fundings. As a partner is also an investor himself, two joinings are needed

In [6]:
# Joining Investor and Partners

#investor_df = investor_df.drop(columns=['investor_name', 'investor_country_code', 'investor_region', 'investor_city'])

invest_join_df = invest_partner_df.set_index('partner_uuid').join(partner_df.set_index('partner_uuid'))
invest_join_df = invest_join_df.set_index('investor_uuid').join(investor_df.set_index('investor_uuid'))
invest_join_df.drop(columns=['uuid'], inplace = True)

In [7]:
# Joining investor and funding rounds
fund_rd_df = fund_rd_df.set_index('fund_rd_uuid').join(invest_join_df.set_index('funding_round_uuid'))

# Joining lead investor and funding rounds
fund_rd_df = laed_investor_df.set_index('lead_investor_uuid').join(fund_rd_df.set_index('fund_rd_lead_investor_uuids'))

### Next, we handle the event. Link the event participants to the events

In [8]:
# Joining event and event_app
event_join_df = event_df.set_index('event_uuid').join(event_app_df.set_index('event_uuid'))

event_join_df.drop(columns =['permalink', 'created_at', 'updated_at','event_name'], inplace = True)

people_event_df = event_join_df.loc[event_join_df['participant_type'] == 'person']
org_event_df = event_join_df.loc[event_join_df['participant_type'] == 'organization']

### After sorting out all dataframes that are replated to "people entity", we are ready to build up a large dataframe that consists of people_uuid as index

In [9]:
#Joining People and Degrees
ppl_join = ppl_df.set_index('personal_uuid').join(deg_df.set_index('degree_person_uuid'))

In [10]:
#Joining People and People Event Participant 
ppl_join = ppl_join.join(people_event_df.set_index('participant_uuid'))

In [11]:
#Add prefix to avoid overlap of column names
ppl_join = ppl_join.add_prefix('person_')

### Now, it is time to handle organizations, put org_uuid as index

In [12]:
#Joining Organizations and IPO
org_join = org_df.set_index('uuid').join(ipo_df.set_index('ipo_org_uuid'))

In [13]:
#Joining Organizations and funds
org_join = org_join.join(fund_df.set_index('funds_entity_uuid'))

In [14]:
#Joining Organizations and fund_rounds
org_join = org_join.join(fund_rd_df.set_index('fund_rd_org_uuid'))

In [15]:
#Joining Organizations and acquisitions
org_join = org_join.join(acq_df.set_index('acquisitions_acquiree_uuid'))

In [16]:
#Joining Organizations and categories
org_join = org_join.join(cate_gp_df.set_index('cat_uuid'))

In [17]:
#Joining Organizations and its parents, if any
org_join = org_join.join(org_parent_df.set_index('parent_org_uuid'))

In [18]:
#Joining Organizations and Organization Event Participant
org_join = org_join.join(org_event_df.set_index('participant_uuid'))

### Have a look at the two large dataframes (people and organization)

In [19]:
ppl_join.info()

<class 'pandas.core.frame.DataFrame'>
Index: 756066 entries, 0000125e-5faf-822d-72d4-b7701e250550 to fffff797-41b1-4358-a991-7d9c51be798c
Data columns (total 25 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   person_personal_rank            755453 non-null  float64
 1   person_personal_description     756052 non-null  object
 2   person_degree_uuid              352960 non-null  object
 3   person_degree_person_name       352960 non-null  object
 4   person_degree_institution_uuid  352960 non-null  object
 5   person_degree_institution_name  352960 non-null  object
 6   person_degree_degree_type       344141 non-null  object
 7   person_degree_subject           332708 non-null  object
 8   person_degree_started_on        135558 non-null  object
 9   person_degree_completed_on      188916 non-null  object
 10  person_degree_is_completed      352960 non-null  object
 11  person_event_names              220736 non-null  object
 12  person_event_rank               220736 non-null  float64
 13  person_event_short_description  220736 non-null  object
 14  person_event_started_on         220736 non-null  object
 15  person_event_ended_on           220736 non-null  object
 16  person_event_venue_name         216419 non-null  object
 17  person_event_description        199386 non-null  object
 18  person_event_country_code       216423 non-null  object
 19  person_event_region             216423 non-null  object
 20  person_event_city               216423 non-null  object
 21  person_event_event_roles        220736 non-null  object
 22  person_participant_name         220736 non-null  object
 23  person_participant_type         220736 non-null  object
 24  person_appearance_type          220736 non-null  object
dtypes: float64(2), object(23)
memory usage: 150.0+ MB

In [21]:
#Drop away emtpy columns to improve efficiency
ppl_join.dropna(how = 'all', axis = 1, inplace = True)

In [20]:
org_join.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1213530 entries, 00000aa4-ba42-9b68-a9c3-040c9f3bf9b9 to fffff91b-f695-4301-90bd-3a402b4991a2
Columns: 102 entries, type to appearance_type
dtypes: float64(21), object(81)
memory usage: 953.6+ MB

In [22]:
#Drop away columns that are without any use to improve efficiency
org_join = org_join.drop(columns = ['permalink', 'created_at', 'updated_at', 'ipo_uuid', 'funds_uuid', \
                'acquisitions_uuid', 'parent_org_parent_uuid', 'ipo_stock_symbol'])
                         
#Drop away emtpy columns to improve efficiency
org_join.dropna(how = 'all', axis = 1, inplace = True)

### Finally, it is about the linkage between people and organization, through "job"

In [28]:
#Join Job with People
job_join = ppl_join.join(job_df.set_index('job_person_uuid'))

In [29]:
#Drop away columns that are without any use to improve efficiency
job_join = job_join.drop(columns=['job_uuid', 'job_permalink', 'job_created_at', 'job_updated_at',\
                                 'person_degree_uuid', 'person_degree_institution_uuid'])

In [ ]:
#Take around 10 minutes to run this cell

#Join Organization with Job
org_join = org_join.join(job_join.set_index('job_org_uuid'))

In [ ]:
# drop 'personal_uuid','job_org_uuid','job_person_uuid'

#Drop away emtpy columns to simply the final dataframe
org_join.dropna(how = 'all', axis = 1, inplace = True)

### Have a look at the joint dataframe

In [ ]:
#Take around 10 minutes to run this cell

#Let's see the info of the final DataFrame
org_join.info()

In [ ]:
#The final DataFrame
org_join

In [ ]:
"""
# Problem 1: Is the following items the same as organization itself? Can we come up a way to check? If yes, we can drop all duplications to simplify our df

# e.g.
#'ipo_country',vs 'fund_rd_country', vs 'country_code'
#'ipo_region', vs 'fund_rd_region', vs 'state_code'
#'ipo_city', vs 'fund_rd_city', vs 'city'

#'total_funding_usd', vs 'total_funding', vs 'funds_raised_amount_usd' 
#'category_list', vs 'category_groups_list' (what should we use eaxctly......)
"""
"""
# Problem 2: There are multiple rows for some organization eitites, due to their multiple funding rounds, or multiple people, etc.
#            I plan to keep here first, but we may have to come up with a way to handle this situation
"""
"""
# Problem 3: The dataframe consists of a column 'Acquirer'. I chose to join using acquiriee id instead of acquirier id,
#            due to the intuition that venture companies are more likely to be acquired than to acquire others;
#            However, may need to find a way to handle the situation if there is really a startup acquiring others
"""
"""
# Problem 4: If a startup company has a parent company, do we also need the information of its parent company in
#            our dataframes. My answer is yes and know, coz not sure how much could its parent company affect it;
#            however, after all we value a startup company all by itself. If we have to incorporate its parents' data,
#            how do we valuate its parents? We may have to build up another dataframe, or else it would be too large. 
#            Also, if its parent is an acquirer, the situation will be much more complex.
"""
"""
# Problem 5: Now, all data are raw, many NaN data and are unprocessed, we have to preprocess all the data here at once
#            Also, we have to extract those that are within 5 years and fintech field to be our target data.
"""

<class 'pandas.core.frame.DataFrame'>
Index: 1915718 entries, 0000125e-5faf-822d-72d4-b7701e250550 to fffff797-41b1-4358-a991-7d9c51be798c
Data columns (total 37 columns):
 #   Column                   Dtype
---  ------                   -----
 0   personal_rank            float64
 1   personal_description     object
 2   degree_uuid              object
 3   degree_person_name       object
 4   degree_institution_uuid  object
 5   degree_institution_name  object
 6   degree_degree_type       object
 7   degree_subject           object
 8   degree_started_on        object
 9   degree_completed_on      object
 10  degree_is_completed      object
 11  event_names              object
 12  event_rank               float64
 13  event_short_description  object
 14  event_started_on         object
 15  event_ended_on           object
 16  event_venue_name         object
 17  event_description        object
 18  event_country_code       object
 19  event_region             object
 20  event_city               object
 21  event_event_roles        object
 22  participant_name         object
 23  participant_type         object
 24  appearance_type          object
 25  job_uuid                 object
 26  job_permalink            object
 27  job_created_at           object
 28  job_updated_at           object
 29  job_person_name          object
 30  job_org_uuid             object
 31  job_org_name             object
 32  job_started_on           object
 33  job_ended_on             object
 34  job_is_current           object
 35  job_title                object
 36  job_job_type             object
dtypes: float64(2), object(35)
memory usage: 555.4+ MB