In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("organizations_processed_1.csv")
df2 = pd.read_csv("organizations_processed_2.csv")
df3 = pd.read_csv("organizations_processed_3.csv")
org_df = df1.append(df2)
org_df= org_df.append(df3)
org_df= org_df.reset_index()
org_df= org_df.drop(columns=["index"])

df1 = pd.read_csv("people_processed_1.csv")
df2 = pd.read_csv("people_processed_2.csv")
df3 = pd.read_csv("people_processed_3.csv")
df4 = pd.read_csv("people_processed_4.csv")
df5 = pd.read_csv("people_processed_5.csv")
ppl_df = df1.append(df2)
ppl_df= ppl_df.append(df3)
ppl_df= ppl_df.append(df4)
ppl_df= ppl_df.append(df5)
ppl_df= ppl_df.reset_index()
ppl_df= ppl_df.drop(columns=["index"])

acq_df= pd.read_csv("acquisitions_processed.csv")
fund_df= pd.read_csv("funds_processed.csv") #investors' investment funds
fund_rd_df= pd.read_csv("funding_rounds_processed.csv") # each funding round in the dataset
ipo_df= pd.read_csv("ipos_processed.csv") 
csum_df= pd.read_csv("checksum_processed.csv") #Basic information of all csv file 
deg_df= pd.read_csv("degrees.csv") #people's education background

df1 = pd.read_csv("event_appearances_processed_1.csv")
df2 = pd.read_csv("event_appearances_processed_2.csv")
event_app_df = df1.append(df2)
event_app_df= event_app_df.reset_index()
event_app_df= event_app_df.drop(columns=["index"]) # Event participation details

event_df= pd.read_csv("events_processed.csv") #Event details

df1 = pd.read_csv("jobs_processed_1.csv")
df2 = pd.read_csv("jobs_processed_2.csv")
df3 = pd.read_csv("jobs_processed_3.csv")
df4 = pd.read_csv("jobs_processed_4.csv")
df5 = pd.read_csv("jobs_processed_5.csv")
job_df = df1.append(df2)
job_df= job_df.append(df3)
job_df= job_df.append(df4)
job_df= job_df.append(df5)
job_df= job_df.reset_index()
job_df= job_df.drop(columns=["index"]) #all job and advisory roles

invest_partner_df= pd.read_csv("investment_partners_processed.csv") #Partners who are responsible for their firm's investments
investor_df= pd.read_csv("investors_processed.csv") #Active investors 
org_parent_df= pd.read_csv("org_parents_processed.csv") #Mapping between parent organizations and subsidaries


#All dataframes are ready, org_df is the master dataframe

Preparing dateframe

In [3]:

acq_df = acq_df.rename(columns={'uuid': 'acquisitions_uuid'})
acq_df = acq_df.drop(columns=['acquiree_name', 'acquiree_country_code', 'acquiree_region', 'acquiree_city', 'rank'])

 
fund_df = fund_df.rename(columns={'uuid': 'funds_uuid', 'raised_amount_usd': 'funds_raised_amount_usd'})


ipo_df = ipo_df.rename(columns={'uuid': 'ipo_uuid', 'country_code': 'ipo_country', 'city': 'ipo_city', 'region': 'ipo_region'})


fund_rd_df= fund_rd_df.rename(columns={'uuid': 'fund_rd_uuid', 'country_code': 'fund_rd_country', 'city': 'fund_rd_city', \
                                       'region': 'fund_rd_region', 'investment_type': 'fund_rd_invs_type', 'raised_amount_usd':\
                                      'fund_rd_raised_amount_usd', 'post_money_valuation_usd' : 'fund_rd_post_value_usd',\
                                       'investor_count':'fund_rd_investor_count'})
fund_rd_df = fund_rd_df.drop(columns=['rank'])

#rename is needed due to duplicate coulmn names with "org_df"

In [4]:
cate_gp_df= pd.read_csv("category_groups_processed.csv") #Company name with its group
cate_gp_df

,uuid,name,category_groups_list
0,f9b14a15-5517-8f38-0562-729ebb54dfdb,Homeless Shelter,Other
1,f8320fcf-b657-37d2-1495-daa3ad888ece,Freemium,Other
2,f0193199-a968-b457-eb49-95344e22a5ce,Industrial,Manufacturing
3,ed8217ff-bd11-26fe-d82e-eb98a276dc2e,Innovation Management,Professional Services
4,e9794581-9547-2150-8185-7b747f5c9913,Lighting,Hardware
...,...,...,...
739,68413bd1-e42d-4cf1-815b-62e64a6b922a,Quantum Computing,Science and Engineering
740,3e0e2772-75e9-4f7b-aa6d-a8dc3dc9e7c6,Marine Technology,Science and Engineering
741,ce11fd97-65a0-4f8c-b385-2ca48f444479,Smart Cities,Real Estate
742,b561fa84-cb20-4a82-a6bc-fea613d74cdd,Last Mile Transportation,Transportation
743,3fb898d3-4b96-418e-a58e-eaff8295e182,Legal Tech,Professional Services

In [5]:
csum_df

,filename,previous_check_sum,current_check_sum
0,organizations.csv,1774211c184a3dfffa9aeac46b8bf693,31c6892ac7a92214c2094e0efb0f1a56
1,organization_descriptions.csv,027bffcd79c4fe6c1101782987814755,eb84eb98b2f847746812bc8208d7b0af
2,people.csv,b7b2f4e406b560e5ab9eca70c9d6820d,682309c9ec2e3bd45bc830d0c334e4c5
3,people_descriptions.csv,5ed1d63675bf7b800716578094528635,81fe8d6630bc551c296a16bd57a89f40
4,degrees.csv,b91d68893455ada6938da9310e003bda,80a59e6f9e482c53c4b53712d29b90d1
5,funding_rounds.csv,1a9260872623384b07d3a3e72eb62163,cf9ba64b63ff63169db63ae0fcf3bb0b
6,investments.csv,d734f0613c03b1fb1af41e2717eb0320,b643c377d23c3d9ba6385f2b03a58c80
7,investment_partners.csv,0967f47728ae6bf4cce10333c3625f20,176e978d5dac3ae9f666310f3b41b1c4
8,investors.csv,a22e480a9ce398436293a9aa9199a0b5,f510434d2edcf4ca0f0ac8959f6217b9
9,funds.csv,7dbd34a2280d198b95896b3086db23ed,1e56b383c217d226200e2f84fc65f4be
10,acquisitions.csv,97922f0d79724e1df81a2be38033d6bb,2ce8a67c9472bf600a7b3740a6ef6e96
11,ipos.csv,3c4b2320450bf3c7015de76bb2105f6b,a38e72149175c761d2d90b08e2ee4df0
12,events.csv,568c2120c50605bee8d9c14c44b1fc20,39c123489c8e1ef93a7a9b1aa1df269c
13,event_appearances.csv,a0ba5050845d4b399ddf8fdc6c443ea5,47b638f50f3088d13fdbfe90b8cb31fe
14,jobs.csv,90b644850f0d34ef2b0d8035580f67f3,999959cab5b4ac9ba5665075a893309a
15,category_groups.csv,6cb4931a59492c1706b849ca35c8f75d,6cb4931a59492c1706b849ca35c8f75d
16,org_parents.csv,2c7b51dd0d971008367d4ea88bd7ee84,fc881fd3564a5c1154edd9ba7ca5e8e4

In [6]:
deg_df

,uuid,type,created_at,updated_at,person_uuid,person_name,institution_uuid,institution_name,degree_type,subject,started_on,completed_on,is_completed
0,b978d338-7ccc-7469-5ce7-ef98c34155ad,degree,2008-02-19 23:40:40,2018-02-13 01:43:09,7d187b77-94f7-e6cc-6981-d7468db5968f,Sridhar Gundaiah,b5ea73f6-12a3-576d-ae9b-f4169147f974,University of Greenwich,MS,Internet Technology,NaN,2006-01-01,True
1,d01cfaad-0ccc-631e-0382-1e507bf6ba04,degree,2008-02-21 01:31:01,2018-02-13 01:43:33,45e29113-19f9-c828-68d0-42ad2ef04da0,John Furrier,5f84d9fa-78fd-14b0-d335-5ac3561cdc0a,Northeastern University,BS,Computer Science,NaN,1988-01-01,True
2,16a607f5-8ab3-573e-8d09-57b3e352e1d3,degree,2008-02-21 01:31:34,2018-02-13 01:39:53,b3b4ec6b-86fe-dd6e-ec8a-e8e7e999f274,Ian Reardon,1a380593-fb9d-7f7b-ae67-784ce3ff3690,Rochester Institute of Technology,BS,Computer Science,NaN,2002-01-01,True
3,0d199152-1aba-9ff2-151f-6a9ad279a1cf,degree,2008-02-22 08:16:50,2018-02-13 01:39:43,d79f466b-da07-63d4-b111-2d6be126dd2f,Michael Jones,9cb593c9-f5ad-c361-d2d9-8138b313e592,University of Oregon,BA,International Business & Marketing,NaN,1997-01-01,True
4,62cb9fa9-30b8-4b11-cebf-643208fc2e06,degree,2008-02-22 08:27:15,2018-02-13 01:41:23,5eb1057d-07a4-4e7c-0c69-650f37c9c7ce,Chris Tsakalakis,e72aab01-fbef-7d21-ac1d-84ee1413fddd,University of Pennsylvania,Bachelor of Science,Economics,1985-09-04,1989-05-01,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
370025,8079dc6e-6465-4b6d-838c-3f814bc117e2,degree,2020-12-30 22:40:34,2020-12-30 22:40:34,5ed9c9b6-656e-4def-b317-1c8b22bd18fe,Christopher Kelley,5f84d9fa-78fd-14b0-d335-5ac3561cdc0a,Northeastern University,BSBA,Business Management,NaN,NaN,False
370026,25720d58-edf2-4d4d-b7b3-303b01f0ab30,degree,2020-12-30 22:40:34,2020-12-30 22:40:34,5ed9c9b6-656e-4def-b317-1c8b22bd18fe,Christopher Kelley,5f84d9fa-78fd-14b0-d335-5ac3561cdc0a,Northeastern University,BSBA,Business Marketing,NaN,NaN,False
370027,16300cee-ea5a-481d-91ee-b69db61c57b4,degree,2020-12-30 23:41:39,2020-12-30 23:41:39,45fb369c-dba5-4875-aa50-0f5981583eec,AJ Goldstein,ef989047-b04e-78e7-7d6d-a9281c0e0278,University of Michigan,BSE,Data Science Enginering,NaN,NaN,False
370028,6d0dd169-a899-4174-9686-70f3cfc867f4,degree,2020-12-30 23:51:50,2020-12-30 23:51:50,42a3142d-3421-48ae-9117-af6b904dfb62,Robert Fox,84153cf0-01ef-4e13-9e72-565240830b3f,Texas State Board of Public Accountancy,CPA,NaN,NaN,NaN,False
370029,4bfb1361-d872-4142-8f55-f19ad6afcc58,degree,2020-12-30 23:51:50,2020-12-30 23:51:50,42a3142d-3421-48ae-9117-af6b904dfb62,Robert Fox,36e3a7c4-67f9-1805-cd5b-427cac84ff46,Southeast Missouri State University,BBA,General Management,NaN,NaN,False

In [7]:
event_app_df

,uuid,permalink,created_at,updated_at,event_uuid,event_name,participant_uuid,participant_name,participant_type,appearance_type
0,21884e6c-d097-4c54-8513-10536a0ea60d,twitter-sponsor-adobe-max-2014104-los-angeles-...,2014-10-03 18:21:55,2018-02-13 01:16:23,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,5da6106f-0d27-0d37-e9d7-dcfeccc1f709,Twitter,organization,sponsor
1,c3782f8f-4684-47d6-8649-d0b3e1825eb5,hewlett-packard-sponsor-adobe-max-2014104-los-...,2014-10-03 18:22:03,2018-02-13 01:16:54,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,8adadbfb-be63-6602-8ca0-b037397a7038,Hewlett-Packard,organization,sponsor
2,55e2ee8b-b5b7-49d3-bd21-a63eedf6b7f2,intel-sponsor-adobe-max-2014104-los-angeles--5...,2014-10-03 18:22:11,2018-02-13 01:16:24,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,1e4f199c-363b-451b-a164-f94571075ee5,Intel,organization,sponsor
3,f854bd3f-056b-40f6-923f-8b841c4e0d8d,samir-arora-speaker-ad-tech-new-york-2014105-n...,2014-10-03 18:42:47,2018-02-13 01:15:06,c6006d9f-e796-2a2a-2efc-c4e55caa98f8,ad:tech New York,967d56ac-ffb5-9313-ee3f-e45a803ff2da,Samir Arora,person,speaker
4,e003dd92-93bd-40a7-bf24-cbf46ec748c1,cynthia-breazeal-speaker-ad-tech-new-york-2014...,2014-10-03 18:42:58,2018-02-13 01:15:48,c6006d9f-e796-2a2a-2efc-c4e55caa98f8,ad:tech New York,4109671d-5563-a6e0-c650-c4d75b29cef4,Cynthia Breazeal,person,speaker
...,...,...,...,...,...,...,...,...,...,...
413413,513b7641-60a0-48d4-ad81-2d814a7f8feb,alexander-storozhuk-speaker-e-residency-digita...,2020-12-29 12:11:52,2020-12-29 12:11:52,7538ec54-5ce8-46b3-80c2-0617424bd292,e-Residency Digital Summit: Ukraine & Eastern ...,c27070ec-507f-7227-c192-72156d2740b2,Alexander Storozhuk,person,speaker
413414,eb5fad66-a2ca-4d0d-99bc-f4d0aa46ecdb,steering-llc-exhibitor-automobili-d--eb5fad66,2020-12-29 17:30:04,2020-12-29 17:30:04,62d85d3b-a355-4569-bd61-af5835d5b7cf,AutoMobili-D,65464d43-3a45-43cd-bec0-1a3bd01e6ac3,the STEERING,organization,exhibitor
413415,7355f052-67d4-47c8-93ba-5a23a59dd683,jpmorgan-chase-co-a20b-sponsor-mit-fintech-con...,2020-12-29 19:56:29,2020-12-29 19:56:29,645b5ea2-685e-4ba1-800d-a9c030715e04,MIT FinTech Conference 2021,dd8c42ef-da3c-46de-baf0-3cab9f7da20b,JPMorgan Chase & Co.,organization,sponsor
413416,732c9c23-605b-47af-a39c-21bdb0adb1b1,wearable-devices-ltd-exhibitor-gitex-technolog...,2020-12-30 10:27:04,2020-12-30 10:27:04,ab67acc1-9794-4f04-83c0-a7ca10209f11,GITEX Technology Week 2020 - live in-person - ...,a5c83a92-855b-f2ee-87b8-b9067097b1cd,Wearable Devices,organization,exhibitor
413417,93b46820-ed86-4b64-8816-90a45d25777c,moneymoo-speaker-saint-petersburg-startup-day-...,2020-12-30 14:06:50,2020-12-30 14:06:50,fd6fb1c5-b0e8-4624-af46-efce1b8d3637,Saint-Petersburg Startup Day 2018,db7e867c-0209-4980-8d95-affa913f24b8,MoneyMoo,organization,speaker

In [8]:
event_df

,uuid,name,rank,short_description,started_on,ended_on,venue_name,description,country_code,region,city,event_roles
0,6a21f93a-3cae-02ac-44c7-c166c0ed50fa,SF New Tech,5941.0,"Join us on Wed, Oct 15th for another edition o...",14/10/2014,14/10/2014,RocketStudios,NaN,USA,California,San Francisco,conference
1,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,11776.0,"Sessions, labs, and creativity workshops where...",4/10/2014,8/10/2014,Los Angeles Convention Center,NaN,USA,California,Los Angeles,conference
2,c6006d9f-e796-2a2a-2efc-c4e55caa98f8,ad:tech New York,13544.0,ad:tech New York will showcase keynote speaker...,5/10/2014,6/10/2014,Javits Center,NaN,USA,New York,New York,conference
3,2710319a-f022-5cd3-f855-6594fd0d6db3,Engadget Expand,12176.0,Engadget Expand is designed from the ground up...,7/11/2014,8/11/2014,Javits Center,"Itâ€™s a free, 10,000+ attendee event that give...",USA,New York,New York,"conference,expo"
4,35e61ac8-58bf-0492-8285-39dc9c2b236d,Dreamforce 2014,9604.0,Dreamforce is your chance to learn from indust...,13/10/2014,16/10/2014,Moscone Center,NaN,USA,California,San Francisco,conference
...,...,...,...,...,...,...,...,...,...,...,...,...
22323,27e886f8-66d2-4ed1-9fbd-5d23b19069b7,The Quirk's Event London,1435.0,An exciting and interactive marketing research...,11/2/2020,12/2/2020,NaN,NaN,NaN,NaN,NaN,conference
22324,fdec618d-dc6b-4672-9ac1-6b12613f1f4a,madcon NYC,1438.0,Bringing members of the digital marketing and ...,1/12/2020,3/12/2020,NaN,NaN,NaN,NaN,NaN,virtual
22325,6e5e9917-a539-493c-89c6-dfe44855e180,MRMW Europe,1440.0,Europe's Leading Market Research Conference,1/12/2020,2/12/2020,NaN,NaN,NaN,NaN,NaN,virtual
22326,47c2b1a0-3557-41aa-bee0-69f393256b1f,Cortexene Nootropic,NaN,Cortexene Nootropic,31/12/2020,31/12/2022,NaN,Cortexene Nootropic,NaN,NaN,NaN,other
22327,7538ec54-5ce8-46b3-80c2-0617424bd292,e-Residency Digital Summit: Ukraine & Eastern ...,7094.0,How to take your business global through Estonia,8/12/2020,8/12/2020,NaN,E-Residency service providers are offering a d...,NaN,NaN,NaN,webinar

In [9]:
invest_partner_df

,uuid,funding_round_uuid,investor_uuid,partner_uuid
0,524986f0-3049-54a4-fa72-f60897a5e61d,d950d7a5-79ff-fb93-ca87-13386b0e2feb,b08efc27-da40-505a-6f9d-c9e14247bf36,2d78d1e7-203c-3eb6-bf1b-c51f10e0679b
1,524986f0-3049-54a4-fa72-f60897a5e61d,d950d7a5-79ff-fb93-ca87-13386b0e2feb,b08efc27-da40-505a-6f9d-c9e14247bf36,eaf6c243-d355-32f3-e23a-2a5fc82e8b34
2,6556ab92-6465-25aa-1ffc-7f8b4b09a476,6fae3958-a001-27c0-fb7e-666266aedd78,e2006571-6b7a-e477-002a-f7014f48a7e3,478e7efd-bec4-b9f5-304b-cffedc1fc012
3,0216e06a-61f8-9cf1-19ba-20811229c53e,6fae3958-a001-27c0-fb7e-666266aedd78,8d5c7e48-82da-3025-dd46-346a31bab86f,0f9f3c05-cb79-f58f-6cc5-98ddc8382d4f
4,dadd7d86-520d-5e35-3033-fc1d8792ab91,bcd5a63d-ed99-6963-0dd2-e36f6582f846,7ca12f7a-2f8e-48b4-a8d1-1a33a0e275b9,ea9f4980-600c-84f4-a5d6-b4f8c2f787fb
...,...,...,...,...
96400,5939c509-77c0-4eca-b5bf-ff8aed8bf0a2,afa06eda-0a8b-4c81-afc8-ce125255633a,47e7c0be-b615-440b-10f6-d058228904eb,1f7fe7a0-ae88-0da2-ba57-b014c3c1a998
96401,4e17f833-798f-47ab-b124-2b473a75d825,0b289791-c434-4a8b-b29d-d2c9541961f4,fb061f8d-e08d-45a5-8fe4-9f7d52807199,f7a54eff-9cd4-4d17-be08-6e2729af3d33
96402,9e64526b-df31-4682-84ea-b7d4d2912844,59b1745e-7011-4c62-a33e-1b7acfd3dbe9,3718597a-dd39-6661-3630-09cdd43bcac2,98232a48-1cd3-6017-cb64-59fa16974822
96403,972b5bb8-27a5-47bd-9851-1f08059d77f7,f88a60c3-c955-4793-bae6-fc99417e843a,5677a985-17d8-4511-b58f-0d45975ebe7b,85df70b6-d30a-4779-a907-7dfcef7ad348
96404,4c0bf7e9-949f-4039-9ad3-64b81f7e029e,d3f2f66f-23dc-414b-9322-e0ea8d1ad3c0,796e4250-e66a-1c7b-6ccf-5a4fbd3b1936,1393b3a8-9c09-a916-ac9b-b5d400b25866

In [10]:
fund_df

,funds_uuid,entity_uuid,funds_raised_amount_usd
0,8190b28a-3c78-0ac4-1e7c-f0b5edce4b2e,fe743289-a4aa-a470-00d8-bbe937e0955b,300000000.0
1,cbb6644a-eafb-4686-5505-61f32e1c3638,0c867fde-2b9a-df10-fdb9-66b74f355f91,200750000.0
2,19fa5c4f-23c3-8c03-2b37-bcd0334505c9,3eb9d040-1487-8d0e-4db8-72ec93ce32a5,650000000.0
3,e803081d-0974-eda7-ab5f-c0f1a0a432fe,a2b35e8b-e3e9-883b-8a07-38e6ef57d726,625000000.0
4,49a5722a-084c-3466-fd90-37e885c800b1,c00d6191-2fbe-f796-54b3-fab074445635,51750000.0
...,...,...,...
16273,d6354e6e-8b42-43c1-b284-d57d6d389f8a,e56630fd-5134-49e0-bd9e-4a9ae0f6855b,325000000.0
16274,73299bb5-46fd-4a58-bb45-d57c76cdc10a,ceaf2af2-925c-454a-8c6a-03b581da6476,NaN
16275,a6c38634-d843-47a3-b5e4-982dd81614c3,2e088b1e-86ae-4869-950c-59f84a97f96b,120000000.0
16276,8dc3ed5e-290a-41ca-9f74-55e6abd9c628,ca2c5260-b295-4362-a40b-4c12736a7520,4340000.0
16277,f49c7c83-9501-45fd-864b-ad39b9448fde,e6db62d1-3cbc-4bad-ba8f-33e90f2f38d1,15000000.0

In [11]:
investor_df

,uuid,name,type,roles,domain,country_code,region,city,investor_types,investment_count,total_funding_usd,founded_on,closed_on
0,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,organization,"investor,company",zoho.com,USA,California,Pleasanton,NaN,6.0,NaN,15/9/1996,NaN
1,f4d5ab44-058b-298b-ea81-380e6e9a8eec,Omidyar Network,organization,investor,omidyar.com,USA,California,Redwood City,family_investment_office,315.0,NaN,1/1/2004,NaN
2,df662812-7f97-0b43-9d3e-12f64f504fbb,Facebook,organization,"investor,company",facebook.com,USA,California,Menlo Park,NaN,32.0,1.612282e+10,4/2/2004,NaN
3,a01b8d46-d311-3333-7c34-aa3ae9c03f22,Mark Zuckerberg,person,investor,NaN,USA,California,Palo Alto,angel,8.0,NaN,NaN,NaN
4,084aaa07-0795-1fe8-9c46-98bbeb02cd64,Dustin Moskovitz,person,investor,NaN,USA,California,San Francisco,angel,13.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
168186,6547c123-eb17-477a-8bb9-030658efb682,Sara Wright,person,investor,cash.app,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168187,3fad5254-f811-4774-a4d4-db37b396f392,Shanghai Yongquan Yixin Investment Development...,organization,investor,NaN,CHN,Shanghai,Shanghai,NaN,1.0,NaN,1/1/2011,NaN
168188,a6060229-6086-438e-a5e3-d6580d0105cf,Ignite Capital,organization,investor,iwbmore.org,USA,Maryland,Baltimore,NaN,NaN,NaN,1/1/2020,NaN
168189,f4006a09-7df1-4e75-a9ab-1e4c7843b11f,S&C Messina Capital,organization,investor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168190,14529d7f-4e0b-41d5-933c-b734e1478cda,Line of Credit.AI,organization,investor,NaN,NaN,NaN,NaN,"corporate_venture_capital,family_investment_of...",NaN,NaN,NaN,NaN

In [12]:
job_df

,uuid,permalink,created_at,updated_at,person_uuid,person_name,org_uuid,org_name,started_on,ended_on,is_current,title,job_type
0,1319cd30-f5e8-c700-0af6-64029c6f7124,raju-vegesna-employee-zoho--1319cd30,2007-05-25 19:33:03,2018-02-13 01:19:53,9f99a98a-aa97-b30b-0d36-db67c1d277e0,Raju Vegesna,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,2000-11-01,NaN,True,Chief Evangelist,employee
1,27a252de-1ea8-c620-b2d4-5b889fa9b40f,ian-wenig-executive-zoho--27a252de,2007-05-25 19:34:53,2018-02-13 01:21:35,6e1bca72-a865-b518-b305-31214ce2d1b0,Ian Wenig,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,2006-03-01,NaN,True,VP Business Development,executive
2,5a802a79-229f-44ae-0aba-db330f10b67a,jay-adelson-executive-digg--5a802a79,2007-05-25 20:05:33,2018-02-13 01:25:38,c92a1f00-8c19-bf2e-0f28-dbbd383dc968,Jay Adelson,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,2005-07-01,2010-04-05,False,CEO,executive
3,423205d5-feb5-06e3-8bb0-67fe5c3ddf7a,owen-byrne-employee-digg--423205d5,2007-05-25 20:06:45,2018-02-13 01:23:43,3b598c59-7b6c-2d48-763c-da55bca77035,Owen Byrne,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,NaN,NaN,False,Senior Software Engineer,employee
4,55aa1e54-d21e-1697-9892-c07ef2fa8b10,ron-gorodetzky-executive-digg--55aa1e54,2007-05-25 20:07:50,2018-02-13 01:25:17,80d25c23-9726-9dda-5852-39cdf4810ea5,Ron Gorodetzky,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,NaN,NaN,False,Systems Engineering Manager,executive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1589764,9da31564-d0ab-4b43-a68b-bf6d789ab6b2,rohan-hoare-board-member-kwivik-therapeutics-i...,2020-12-30 23:57:52,2020-12-30 23:57:52,64c80a81-2d64-4b8e-a977-5c1d319ede08,Julian Ross,da415beb-a2f9-4ad1-ba9f-5b593cdf726b,Kwivik Therapeutics Inc,2020-03-27,NaN,True,"Chairman, Nominating Committee",board_member
1589765,8463d45a-46e3-4a55-a7c6-b777d77c6d70,ulrich-kranz-executive-evelozcity--8463d45a,2020-12-30 23:58:56,2020-12-30 23:58:56,7ff9a9ef-e781-6637-dfb8-4cf794324662,Ulrich Kranz,c67712d0-6273-4534-b168-1a127a070745,Canoo,2018-01-01,2019-08-01,False,CTO,executive
1589766,d4a4f228-de87-46e8-941c-b0618a15164b,kerem-ozmen-executive-8090-partners--d4a4f228,2020-12-31 00:05:18,2020-12-31 00:05:18,4246df16-979a-49bb-8d2c-e284ff64021f,Kerem Ozmen,87af5786-b952-4f07-9b09-871bbdfd67e0,8090 Partners,NaN,NaN,True,Co-Founder,executive
1589767,5c127856-75f0-45b0-bb4d-e695421488c6,jasper-lau-executive-8090-partners--5c127856,2020-12-31 00:05:18,2020-12-31 00:05:18,791a3842-82ed-4508-8a4b-03b3a343ae98,Jasper Lau,87af5786-b952-4f07-9b09-871bbdfd67e0,8090 Partners,NaN,NaN,True,Co-Founder,executive
1589768,f2ad5582-5d84-42da-b5e9-1744b64154a4,rohan-hoare-executive-kwivik-therapeutics-inc-...,2020-12-31 00:07:25,2020-12-31 00:07:25,64c80a81-2d64-4b8e-a977-5c1d319ede08,Julian Ross,da415beb-a2f9-4ad1-ba9f-5b593cdf726b,Kwivik Therapeutics Inc,2016-07-21,NaN,True,CEO,executive

In [13]:
org_parent_df

,uuid,rank,parent_uuid
0,d70777cc-14bd-2416-0692-5a483781b78b,120456,ddfe6b91-4541-7f5c-7d6a-724f75c98088
1,5858c937-702e-c278-1725-2b5e02471482,247036,7ea4b08b-6643-f9a8-20ad-cd3e93d3df26
2,f09c1228-2e7d-1889-6647-ba5021b2e4ea,99764,cd19ea0d-745c-e3b6-d819-30b91caf8ebb
3,91f5ca18-e026-9482-8e4f-22593943e0f5,111860,fbc7746d-86e0-8fd6-19d8-69280c686d02
4,fc89cfde-a28e-e12c-443c-edccb6c93fd4,23073,bef5bd4b-72c6-7877-d7ab-8bbe43f7bda7
...,...,...,...
16977,c80fb7f5-0f45-47cf-a024-2bcb64a50f2b,395703,fbebde54-5af4-66b1-8d46-bf499be30c5e
16978,72df41ec-319f-439c-8874-623773cc5871,830456,fbebde54-5af4-66b1-8d46-bf499be30c5e
16979,32ad808d-3214-4ef8-bde0-17efd4a1a54e,1230736,b7fe568b-1145-e578-0b5a-669aa848c58a
16980,abced296-1bca-47f7-ae2f-19d3e0e60709,1230697,380ef24c-17d0-4c22-af8e-e7d58ef53e12
16981,4aebc204-6b18-4406-bcbb-54b99d60d46f,1229996,fe87d55e-0741-a041-837f-6bcdfdd7ca6a

In [14]:
org_df

,uuid,type,permalink,rank,created_at,updated_at,roles,country_code,state_code,city,...,category_groups_list,num_funding_rounds,total_funding_usd,total_funding,total_funding_currency_code,founded_on,last_funding_on,closed_on,primary_role,num_exits
0,e1393508-30ea-8a36-3f96-dd3226033abd,organization,wetpaint,136763.0,25/5/2007 13:51,24/6/2019 22:19,company,USA,NY,New York,...,"Content and Publishing,Internet Services,Media...",3.0,3.975000e+07,3.975000e+07,USD,1/6/2005,19/5/2008,NaN,company,NaN
1,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,organization,zoho,7280.0,26/5/2007 2:30,27/10/2018 0:29,"investor,company",USA,CA,Pleasanton,...,"Administrative Services,Information Technology...",NaN,NaN,NaN,NaN,15/9/1996,NaN,NaN,company,1.0
2,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,organization,digg,13290.0,26/5/2007 3:03,10/12/2018 10:09,company,USA,NY,New York,...,"Internet Services,Media and Entertainment",6.0,4.900000e+07,4.900000e+07,USD,11/10/2004,13/9/2016,NaN,company,NaN
3,f4d5ab44-058b-298b-ea81-380e6e9a8eec,organization,omidyar-network,1856.0,26/5/2007 3:21,19/6/2019 12:17,investor,USA,CA,Redwood City,...,"Financial Services,Lending and Investments,Sof...",NaN,NaN,NaN,NaN,1/1/2004,NaN,NaN,investor,37.0
4,df662812-7f97-0b43-9d3e-12f64f504fbb,organization,facebook,6.0,26/5/2007 4:22,21/10/2020 13:53,"investor,company",USA,CA,Menlo Park,...,"Apps,Community and Lifestyle,Content and Publi...",17.0,1.612282e+10,1.612282e+10,USD,4/2/2004,17/10/2014,NaN,company,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048571,41105c7b-35ba-47ef-90ac-218beb506f37,organization,rishabh-digha-steel-allied-p,1113876.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Mumbai,...,"Other,Real Estate",NaN,NaN,NaN,NaN,1/1/1989,NaN,NaN,company,NaN
1048572,d8cf0714-01ed-4c28-9c0d-eca2ca133233,organization,valiant-organics,443665.0,6/6/2020 2:01,14/12/2020 10:39,company,IND,NaN,Mumbai,...,"Health Care,Manufacturing,Science and Engineering",NaN,NaN,NaN,NaN,1/1/1984,NaN,NaN,company,NaN
1048573,b4894426-32c8-47fe-8321-a84528357f60,organization,vaishali-pharma,548019.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Mumbai,...,"Biotechnology,Health Care,Science and Engineering",NaN,NaN,NaN,NaN,1/1/1989,NaN,NaN,company,NaN
1048574,5e8312d3-3a49-473b-96da-9e74a498b98e,organization,terai-tea-co,594451.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Kolkata,...,"Food and Beverage,Manufacturing",NaN,NaN,NaN,NaN,1/1/1973,NaN,NaN,company,NaN
1048575,65e4866c-64be-49e4-b8fb-d53da1969917,organization,tejnaksh-healthcare,817483.0,6/6/2020 2:01,6/6/2020 2:01,company,IND,NaN,Mumbai,...,"Health Care,Professional Services",NaN,NaN,NaN,NaN,1/1/2003,NaN,NaN,company,NaN

In [15]:
#Linking IPO and Organizations
org_join = org_df.set_index('uuid').join(ipo_df.set_index('org_uuid'))

In [16]:
#Joining Organizations and funds
org_join = org_join.join(fund_df.set_index('entity_uuid'))

In [17]:
#Joining Organizations and fund_rounds
org_join = org_join.join(fund_rd_df.set_index('org_uuid'))

In [18]:
#Joining Organizations and acquisitions
org_join = org_join.join(acq_df.set_index('acquiree_uuid'))

In [19]:
org_join

,type,permalink,rank,created_at,updated_at,roles,country_code,state_code,city,status,...,fund_rd_investor_count,lead_investor_uuids,acquisitions_uuid,acquirer_uuid,acquirer_name,acquirer_country_code,acquirer_region,acquirer_city,acquired_on,price_usd
00000aa4-ba42-9b68-a9c3-040c9f3bf9b9,organization,formel-d-gmbh,20574.0,1/6/2016 6:58,14/8/2019 9:53,company,DEU,NaN,Troisdorf,acquired,...,NaN,NaN,b9884e73-0a1e-b6cc-ae92-91a919588916,df8c8ca9-1444-08bf-70dd-831c341fdb4d,Deutsche Beteiligungs,DEU,Hessen,Frankfurt,25/2/2013,NaN
00000aa4-ba42-9b68-a9c3-040c9f3bf9b9,organization,formel-d-gmbh,20574.0,1/6/2016 6:58,14/8/2019 9:53,company,DEU,NaN,Troisdorf,acquired,...,NaN,NaN,4f627756-7d2b-9896-a3bc-d16552a9ff8d,30bcdd65-41ce-122b-8ef3-52a187ed4bf9,3i Group,GBR,England,London,12/5/2017,NaN
000014da-0c46-b9cb-0941-3a93c027b119,organization,resiliohq,232091.0,3/5/2017 20:09,9/7/2019 3:43,company,USA,CA,San Francisco,operating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00001dba-e22c-2285-55ee-352a8b087a04,organization,buy-man-things,793175.0,10/8/2013 0:59,24/6/2019 22:04,company,NaN,NaN,NaN,operating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0000221d-6dfd-a049-dcfc-b4a5ca3b0fe7,organization,stabil-capital-management,938612.0,3/10/2016 16:35,12/2/2018 23:47,company,NaN,NaN,NaN,operating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ffffc67f-b861-1787-18c6-f0dff47e9a9c,organization,rexam-plastic-thermoformed-food-business,1166442.0,2/1/2017 13:59,12/2/2018 23:57,company,GBR,NaN,London,acquired,...,NaN,NaN,ed75623f-fd2b-0c1c-a2d3-1a859c8c9d42,71eb4c2c-31c6-a218-7c58-efe0f3eb9d74,Silgan Holdings,USA,Connecticut,Stamford,3/7/2012,NaN
ffffc9c9-2e62-f7ac-ea29-9d75d222cdd7,organization,radishbo-ya-co-ltd,533572.0,21/5/2016 3:07,17/4/2018 13:37,company,NaN,NaN,NaN,operating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ffffded7-8c63-8f47-1f8a-40582f1f975c,organization,gryphon-holdings,796120.0,10/3/2016 12:05,12/2/2018 23:47,investor,USA,NY,New York,operating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fffff8b9-e22c-449f-ac24-3162469e6207,organization,baltec,546157.0,4/4/2018 10:28,24/6/2019 21:52,company,CHE,NaN,Pfaffikon,operating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fffff91b-f695-4301-90bd-3a402b4991a2,organization,halian,381327.0,19/3/2020 2:09,19/3/2020 2:09,company,BEL,NaN,Laeken,operating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN