In [14]:
import pandas as pd


df1 = pd.read_csv("checksum_processed.csv")
df2 = pd.read_csv("acquisitions_processed.csv")
df3 = pd.read_csv("category_groups_processed.csv")
df4 = pd.read_csv("degrees.csv")
df5 = pd.read_csv("event_appearances_processed_1.csv")
df6 = pd.read_csv("events_processed.csv")
df7 = pd.read_csv("funding_rounds_processed.csv")
df8 = pd.read_csv("funds_processed.csv")
df9 = pd.read_csv("investment_partners_processed.csv")
df10 = pd.read_csv("investors_processed.csv")
df11 = pd.read_csv("ipos_processed.csv")
df12 = pd.read_csv("jobs_processed_1.csv", error_bad_lines=False, engine="python")
df13 = pd.read_csv("org_parents_processed.csv")
df14 = pd.read_csv("organizations_processed_1.csv")
df15 = pd.read_csv("people_processed_1.csv", error_bad_lines=False, engine="python")

df5 = df5.drop(columns=["Unnamed: 0"])
df6 = df6.drop(columns=["Unnamed: 0"])
df12 = df12.drop(columns=["Unnamed: 0"])

Skipping line 123362: Expected 14 fields in line 123362, saw 15
Skipping line 363290: Expected 14 fields in line 363290, saw 18
Skipping line 539710: Expected 14 fields in line 539710, saw 16
Skipping line 606724: Expected 14 fields in line 606724, saw 17
Skipping line 120312: unexpected end of data

In [15]:
df1

,filename,previous_check_sum,current_check_sum
0,organizations.csv,1774211c184a3dfffa9aeac46b8bf693,31c6892ac7a92214c2094e0efb0f1a56
1,organization_descriptions.csv,027bffcd79c4fe6c1101782987814755,eb84eb98b2f847746812bc8208d7b0af
2,people.csv,b7b2f4e406b560e5ab9eca70c9d6820d,682309c9ec2e3bd45bc830d0c334e4c5
3,people_descriptions.csv,5ed1d63675bf7b800716578094528635,81fe8d6630bc551c296a16bd57a89f40
4,degrees.csv,b91d68893455ada6938da9310e003bda,80a59e6f9e482c53c4b53712d29b90d1
5,funding_rounds.csv,1a9260872623384b07d3a3e72eb62163,cf9ba64b63ff63169db63ae0fcf3bb0b
6,investments.csv,d734f0613c03b1fb1af41e2717eb0320,b643c377d23c3d9ba6385f2b03a58c80
7,investment_partners.csv,0967f47728ae6bf4cce10333c3625f20,176e978d5dac3ae9f666310f3b41b1c4
8,investors.csv,a22e480a9ce398436293a9aa9199a0b5,f510434d2edcf4ca0f0ac8959f6217b9
9,funds.csv,7dbd34a2280d198b95896b3086db23ed,1e56b383c217d226200e2f84fc65f4be
10,acquisitions.csv,97922f0d79724e1df81a2be38033d6bb,2ce8a67c9472bf600a7b3740a6ef6e96
11,ipos.csv,3c4b2320450bf3c7015de76bb2105f6b,a38e72149175c761d2d90b08e2ee4df0
12,events.csv,568c2120c50605bee8d9c14c44b1fc20,39c123489c8e1ef93a7a9b1aa1df269c
13,event_appearances.csv,a0ba5050845d4b399ddf8fdc6c443ea5,47b638f50f3088d13fdbfe90b8cb31fe
14,jobs.csv,90b644850f0d34ef2b0d8035580f67f3,999959cab5b4ac9ba5665075a893309a
15,category_groups.csv,6cb4931a59492c1706b849ca35c8f75d,6cb4931a59492c1706b849ca35c8f75d
16,org_parents.csv,2c7b51dd0d971008367d4ea88bd7ee84,fc881fd3564a5c1154edd9ba7ca5e8e4

In [16]:
df2

,uuid,rank,acquiree_uuid,acquiree_name,acquiree_country_code,acquiree_region,acquiree_city,acquirer_uuid,acquirer_name,acquirer_country_code,acquirer_region,acquirer_city,acquired_on,price_usd
0,c62807f2-3487-f63b-e7fc-559b752ed44c,26818.0,180ebf67-68d0-2316-e93d-8e1e546330ba,Flektor,USA,California,Culver City,d70777cc-14bd-2416-0692-5a483781b78b,Fox Interactive Media,USA,California,Beverly Hills,30/5/2007,NaN
1,419cabe1-4d71-5f64-3e9b-c9d0fb445cca,51088.0,5b05e013-a448-3a0b-d872-a6ae668e1192,GrandCentral,USA,California,Fremont,6acfa7da-1dbd-936e-d985-cf07a1b27711,Google,USA,California,Mountain View,1/7/2007,60000000.0
2,01bd2058-ccf8-6102-f253-9224a67a592b,35009.0,8249dffa-1ca6-6f99-9f76-d56c83f85f2d,Last.fm,GBR,England,London,f09c1228-2e7d-1889-6647-ba5021b2e4ea,CBS,USA,New York,New York,1/5/2007,280000000.0
3,831becd6-e913-b9f5-ac09-2bff915f9453,41607.0,10dd03fa-69ff-3a82-6321-c6b16c9a9f41,Kosiso - store,USA,Illinois,Chicago,6acfa7da-1dbd-936e-d985-cf07a1b27711,Google,USA,California,Mountain View,23/5/2007,100000000.0
4,9da90ee7-aad7-e0b4-8456-839363032e5e,82210.0,0af10345-613d-e144-f8bd-b62e288985a0,Recipezaar,USA,Washington,Vashon,b5a96cd7-044d-70f0-04c5-f125e57a4b35,Scripps Networks,USA,Tennessee,Knoxville,1/7/2007,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109820,1e5d9ac2-a293-47b9-a599-bc2be8c3b069,6608.0,88916525-5f2b-4be6-a7b5-0b879ce4efb3,Carl von Linnékliniken,SWE,Uppsala Lan,Uppsala,4aebc204-6b18-4406-bcbb-54b99d60d46f,GeneraLife IVF,ESP,Madrid,Madrid,1/10/2020,NaN
109821,436fabdf-305a-4dc8-88ff-7d333d9ab620,6607.0,2f2a9e5f-1a7e-4916-a240-8f5e8e3c6efc,Demetra,ITA,Lazio,Tuscania,4aebc204-6b18-4406-bcbb-54b99d60d46f,GeneraLife IVF,ESP,Madrid,Madrid,1/10/2020,NaN
109822,99f54962-ec76-4456-8f19-d0f6833e01d2,36988.0,26863a5f-509e-45f6-ac1f-bb4abe63f3b4,Data Driver,CHN,Shanghai,Shanghai,67e319ff-d9e6-49fb-b5b6-cf44af694d08,SGSG Science & Technology Company,CHN,Guangdong,Zhuhai,12/7/2020,7140919.0
109823,bac58cf7-c6a5-4fa2-96e5-6341b9237cb1,1573.0,ba060c5f-6947-4a36-ba63-a0a10ed74df8,Great and Relentless Few Show,NaN,NaN,NaN,f8c3d362-1d7c-4ed8-9a6b-f0fc62edc5d9,Institute of Higher Global Studies | Since 200...,USA,Alabama,Huntsville,25/12/2020,100000.0
109824,8d6b103d-89f9-44e2-8f96-d81c237caa44,NaN,74cfd4e9-e176-4092-90a0-5fad4663a241,Tepia Technology,CHN,Beijing,Haidian,d17f0d6e-ccad-498f-9b80-ed751932c463,Zhejiang Yongan Rongtong Holdings,CHN,Zhejiang,Shaoxing,19/3/2019,13409020.0

In [17]:
df3

,uuid,name,category_groups_list
0,f9b14a15-5517-8f38-0562-729ebb54dfdb,Homeless Shelter,Other
1,f8320fcf-b657-37d2-1495-daa3ad888ece,Freemium,Other
2,f0193199-a968-b457-eb49-95344e22a5ce,Industrial,Manufacturing
3,ed8217ff-bd11-26fe-d82e-eb98a276dc2e,Innovation Management,Professional Services
4,e9794581-9547-2150-8185-7b747f5c9913,Lighting,Hardware
...,...,...,...
739,68413bd1-e42d-4cf1-815b-62e64a6b922a,Quantum Computing,Science and Engineering
740,3e0e2772-75e9-4f7b-aa6d-a8dc3dc9e7c6,Marine Technology,Science and Engineering
741,ce11fd97-65a0-4f8c-b385-2ca48f444479,Smart Cities,Real Estate
742,b561fa84-cb20-4a82-a6bc-fea613d74cdd,Last Mile Transportation,Transportation
743,3fb898d3-4b96-418e-a58e-eaff8295e182,Legal Tech,Professional Services

In [9]:
df4

,filename,previous_check_sum,current_check_sum
0,organizations.csv,1774211c184a3dfffa9aeac46b8bf693,31c6892ac7a92214c2094e0efb0f1a56
1,organization_descriptions.csv,027bffcd79c4fe6c1101782987814755,eb84eb98b2f847746812bc8208d7b0af
2,people.csv,b7b2f4e406b560e5ab9eca70c9d6820d,682309c9ec2e3bd45bc830d0c334e4c5
3,people_descriptions.csv,5ed1d63675bf7b800716578094528635,81fe8d6630bc551c296a16bd57a89f40
4,degrees.csv,b91d68893455ada6938da9310e003bda,80a59e6f9e482c53c4b53712d29b90d1
5,funding_rounds.csv,1a9260872623384b07d3a3e72eb62163,cf9ba64b63ff63169db63ae0fcf3bb0b
6,investments.csv,d734f0613c03b1fb1af41e2717eb0320,b643c377d23c3d9ba6385f2b03a58c80
7,investment_partners.csv,0967f47728ae6bf4cce10333c3625f20,176e978d5dac3ae9f666310f3b41b1c4
8,investors.csv,a22e480a9ce398436293a9aa9199a0b5,f510434d2edcf4ca0f0ac8959f6217b9
9,funds.csv,7dbd34a2280d198b95896b3086db23ed,1e56b383c217d226200e2f84fc65f4be
10,acquisitions.csv,97922f0d79724e1df81a2be38033d6bb,2ce8a67c9472bf600a7b3740a6ef6e96
11,ipos.csv,3c4b2320450bf3c7015de76bb2105f6b,a38e72149175c761d2d90b08e2ee4df0
12,events.csv,568c2120c50605bee8d9c14c44b1fc20,39c123489c8e1ef93a7a9b1aa1df269c
13,event_appearances.csv,a0ba5050845d4b399ddf8fdc6c443ea5,47b638f50f3088d13fdbfe90b8cb31fe
14,jobs.csv,90b644850f0d34ef2b0d8035580f67f3,999959cab5b4ac9ba5665075a893309a
15,category_groups.csv,6cb4931a59492c1706b849ca35c8f75d,6cb4931a59492c1706b849ca35c8f75d
16,org_parents.csv,2c7b51dd0d971008367d4ea88bd7ee84,fc881fd3564a5c1154edd9ba7ca5e8e4

In [6]:
df5.columns

Index(['Unnamed: 0', 'uuid', 'type', 'created_at', 'updated_at', 'person_uuid',
       'person_name', 'institution_uuid', 'institution_name', 'degree_type',
       'subject', 'started_on', 'completed_on', 'is_completed'],
      dtype='object')

In [7]:
df6.columns

Index(['uuid', 'name', 'permalink', 'rank', 'created_at', 'updated_at',
       'event_uuid', 'event_name', 'participant_uuid', 'participant_name',
       'participant_type', 'appearance_type'],
      dtype='object')

In [8]:
df7.columns

Index(['uuid', 'name', 'rank', 'short_description', 'started_on', 'ended_on',
       'venue_name', 'description', 'country_code', 'region', 'city',
       'event_roles'],
      dtype='object')

df7.columns

df8.columns

In [18]:
df8.columns

Index(['uuid', 'entity_uuid', 'raised_amount_usd'], dtype='object')

In [19]:
df9.columns

Index(['uuid', 'funding_round_uuid', 'investor_uuid', 'partner_uuid'], dtype='object')

In [20]:
df10.columns

Index(['uuid', 'name', 'type', 'roles', 'domain', 'country_code', 'region',
       'city', 'investor_types', 'investment_count', 'total_funding_usd',
       'founded_on', 'closed_on'],
      dtype='object')

In [21]:
df11.columns

Index(['uuid', 'org_uuid', 'org_name', 'country_code', 'region', 'city',
       'stock_exchange_symbol', 'stock_symbol', 'went_public_on',
       'share_price_usd', 'valuation_price_usd', 'money_raised_usd'],
      dtype='object')

In [22]:
df12.columns

Index(['Unnamed: 0', 'uuid', 'permalink', 'created_at', 'updated_at',
       'person_uuid', 'person_name', 'org_uuid', 'org_name', 'started_on',
       'ended_on', 'is_current', 'title', 'job_type'],
      dtype='object')

In [23]:
df13.columns

Index(['uuid', 'rank', 'parent_uuid'], dtype='object')

In [24]:
df14.columns

Index(['uuid', 'type', 'permalink', 'rank', 'created_at', 'updated_at',
       'roles', 'country_code', 'state_code', 'city', 'status',
       'category_list', 'category_groups_list', 'num_funding_rounds',
       'total_funding_usd', 'total_funding', 'total_funding_currency_code',
       'founded_on', 'last_funding_on', 'closed_on', 'primary_role',
       'num_exits'],
      dtype='object')

In [28]:
df15

,uuid,rank,created_at,updated_at,description
0,ed13cd36-fe2b-3707-197b-0c2d56e37a71,28151.0,25/5/2007 14:03,21/2/2020 5:19,Ben Elowitz is co-founder and CEO of [Wetpaint...
1,5ceca97b-493c-1446-6249-5aaa33464763,259205.0,25/5/2007 14:04,12/2/2018 23:14,"Brand development, creative agency management,..."
2,9f99a98a-aa97-b30b-0d36-db67c1d277e0,2711.0,26/5/2007 2:33,13/2/2018 2:12,Raju is an evangelist for Zoho and is one of t...
3,6e1bca72-a865-b518-b305-31214ce2d1b0,125116.0,26/5/2007 2:34,12/2/2018 23:27,Ian Wenig has more then twenty years experienc...
4,3b598c59-7b6c-2d48-763c-da55bca77035,300413.0,26/5/2007 3:06,12/2/2018 22:14,Legend has it that Owen Byrne was hired by [Di...
...,...,...,...,...,...
120305,375d1859-14c5-4424-c028-4f5a8c00fa9a,543980.0,22/12/2013 13:14,12/2/2018 23:26,"Group Leader, Infectious Disease Models, Inter..."
120306,7e7bdbbf-2bb4-a661-18a9-10a6c0c95efb,648389.0,22/12/2013 13:14,13/2/2018 0:00,A seasoned executive with a deep and distingui...
120307,8ec94660-fd74-4244-0e40-b066ca2f1f55,170974.0,22/12/2013 13:15,12/2/2018 23:46,"Prior to Arsanis he was Group Leader, Serology..."
120308,73834bdc-ef2f-a4f5-9dcc-d88d49474fbc,231620.0,22/12/2013 13:15,12/2/2018 23:28,"Protein Chemistry, Enzymology & Newcastle Uni..."
120309,58f2579c-a9c9-3244-1074-14fbcd93308a,900975.0,22/12/2013 13:19,12/2/2018 23:42,Phil Souza has 40 years experience in supply c...

In [31]:
df

Empty DataFrame
Columns: [uuid, rank, acquiree_uuid, acquiree_name, acquiree_country_code, acquiree_region, acquiree_city, acquirer_uuid, acquirer_name, acquirer_country_code, acquirer_region, acquirer_city, acquired_on, price_usd, name, category_groups_list]
Index: []

In [33]:
df3

,uuid,name,category_groups_list
0,f9b14a15-5517-8f38-0562-729ebb54dfdb,Homeless Shelter,Other
1,f8320fcf-b657-37d2-1495-daa3ad888ece,Freemium,Other
2,f0193199-a968-b457-eb49-95344e22a5ce,Industrial,Manufacturing
3,ed8217ff-bd11-26fe-d82e-eb98a276dc2e,Innovation Management,Professional Services
4,e9794581-9547-2150-8185-7b747f5c9913,Lighting,Hardware
...,...,...,...
739,68413bd1-e42d-4cf1-815b-62e64a6b922a,Quantum Computing,Science and Engineering
740,3e0e2772-75e9-4f7b-aa6d-a8dc3dc9e7c6,Marine Technology,Science and Engineering
741,ce11fd97-65a0-4f8c-b385-2ca48f444479,Smart Cities,Real Estate
742,b561fa84-cb20-4a82-a6bc-fea613d74cdd,Last Mile Transportation,Transportation
743,3fb898d3-4b96-418e-a58e-eaff8295e182,Legal Tech,Professional Services