Analysing with Decision tree
Setup: put it in the same folder as "unifed_csv_without_duplicated_company.csv" and "ROI.csv" (generated by get_roi notebook)

In [31]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split   
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, VotingClassifier 
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from IPython.display import Image
import graphviz
from sklearn.model_selection import GridSearchCV
from statistics import mean

pd.set_option('display.max_columns', None)
# Optional
# import library for visuaiization
from sklearn import tree
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
#Read CSV
df=pd.read_csv("unified_csv.csv")
df.info(max_cols=1000)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4050 entries, 0 to 4049
Data columns (total 96 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   company_name                                 4050 non-null   object
 1   status                                       4050 non-null   object
 2   category_group_list                          4050 non-null   object
 3   num_funding_rounds                           4050 non-null   float64
 4   total_funding_usd                            4050 non-null   float64
 5   founded_on                                   4050 non-null   float64
 6   employee_count                               4050 non-null   object
 7   cat_commerce_shopping                        4050 non-null   float64
 8   cat_fin_services                             4050 non-null   float64
 9   cat_lending_invests                          4050 non-null   float64
 10  cat_payments                                 4050 non-null   float64
 11  fd_rd_latest_investment                      4050 non-null   float64
 12  fd_rd_investment_type_series_unknown         4050 non-null   float64
 13  fd_rd_investment_type_grant                  4050 non-null   float64
 14  fd_rd_investment_type_debt_financing         4050 non-null   float64
 15  fd_rd_investment_type_pre_seed               4050 non-null   float64
 16  fd_rd_investment_type_post_ipo_equity        4050 non-null   float64
 17  fd_rd_investment_type_convertible_note       4050 non-null   float64
 18  fd_rd_investment_type_equity_crowdfunding    4050 non-null   float64
 19  fd_rd_investment_type_private_equity         4050 non-null   float64
 20  fd_rd_investment_type_undisclosed            4050 non-null   float64
 21  fd_rd_investment_type_post_ipo_debt          4050 non-null   float64
 22  fd_rd_investment_type_corporate_round        4050 non-null   float64
 23  fd_rd_investment_type_product_crowdfunding   4050 non-null   float64
 24  fd_rd_investment_type_non_equity_assistance  4050 non-null   float64
 25  fd_rd_investment_type_initial_coin_offering  4050 non-null   float64
 26  fd_rd_investment_type_secondary_market       4050 non-null   float64
 27  fd_rd_investment_type_post_ipo_secondary     4050 non-null   float64
 28  fd_rd_num_invested_by_top_100                4050 non-null   float64
 29  event_count                                  4050 non-null   float64
 30  job_duration                                 4050 non-null   float64
 31  gender_male                                  4050 non-null   float64
 32  gender_female                                4050 non-null   float64
 33  degree_type                                  4050 non-null   float64
 34  subject_Business                             4050 non-null   float64
 35  subject_STEM                                 4050 non-null   float64
 36  subject_Arts_SoSc                            4050 non-null   float64
 37  num_exec                                     4050 non-null   float64
 38  first_fund_raised                            4050 non-null   float64
 39  first_fund_post_money                        4050 non-null   float64
 40  first_fund_investor_count                    4050 non-null   float64
 41  has_parent                                   4050 non-null   int64
 42  continent_NA                                 4050 non-null   int64
 43  continent_EU                                 4050 non-null   int64
 44  continent_AS                                 4050 non-null   int64
 45  continent_SA                                 4050 non-null   int64
 46  continent_AF                                 4050 non-null   int64
 47  continent_OC                                 4050 non-null   int64
 48  country_code_USA                             4050 non-null   int64
 49  country_code_GBR                             4050 non-null   int64
 50  country_code_IND                             4050 non-null   int64
 51  country_code_CHN                             4050 non-null   int64
 52  country_code_CAN                             4050 non-null   int64
 53  country_code_SGP                             4050 non-null   int64
 54  country_code_AUS                             4050 non-null   int64
 55  country_code_DEU                             4050 non-null   int64
 56  country_code_BRA                             4050 non-null   int64
 57  country_code_CHE                             4050 non-null   int64
 58  country_code_ESP                             4050 non-null   int64
 59  country_code_FRA                             4050 non-null   int64
 60  country_code_NLD                             4050 non-null   int64
 61  country_code_HKG                             4050 non-null   int64
 62  country_code_ISR                             4050 non-null   int64
 63  country_code_KOR                             4050 non-null   int64
 64  country_code_SWE                             4050 non-null   int64
 65  country_code_JPN                             4050 non-null   int64
 66  country_code_MEX                             4050 non-null   int64
 67  country_code_IDN                             4050 non-null   int64
 68  city_London                                  4050 non-null   int64
 69  city_New York                                4050 non-null   int64
 70  city_San Francisco                           4050 non-null   int64
 71  city_Singapore                               4050 non-null   int64
 72  city_Toronto                                 4050 non-null   int64
 73  city_Beijing                                 4050 non-null   int64
 74  city_Mumbai                                  4050 non-null   int64
 75  city_Los Angeles                             4050 non-null   int64
 76  city_Chicago                                 4050 non-null   int64
 77  city_Sydney                                  4050 non-null   int64
 78  city_Paris                                   4050 non-null   int64
 79  city_SÃ£o Paulo                               4050 non-null   int64
 80  city_Tokyo                                   4050 non-null   int64
 81  city_Berlin                                  4050 non-null   int64
 82  city_Boston                                  4050 non-null   int64
 83  city_Stockholm                               4050 non-null   int64
 84  city_Shanghai                                4050 non-null   int64
 85  city_Tel Aviv                                4050 non-null   int64
 86  city_Amsterdam                               4050 non-null   int64
 87  city_Madrid                                  4050 non-null   int64
 88  status_operating                             4050 non-null   int64
 89  status_exited                                4050 non-null   int64
 90  status_closed                                4050 non-null   int64
 91  has_acquisitions                             4050 non-null   int64
 92  has_ipo                                      4050 non-null   int64
 93  average_change_in_funds                      4050 non-null   float64
 94  average_momentum                             4050 non-null   float64
 95  latest_momentum                              4050 non-null   float64
dtypes: float64(40), int64(52), object(4)
memory usage: 3.0+ MB

In [24]:
#Preparing xlabel and ylabel
col= df.columns[:28]
features=df[col]
col= df.columns[42:]
dummy_df=df[col]
features= features.join(dummy_df)
features= features.drop(columns=["has_ipo","has_acquisitions","status_closed", "status_exited", "status_operating","founded_on","founded_on","employee_count" , "company_name", "status", "category_group_list", "total_funding_usd", "average_change_in_funds", "average_momentum", "latest_momentum" ])


col= df.columns[88:]
ylabel=df[col]
ylabel= ylabel.drop(columns=["has_acquisitions"])


ylabel

,status_operating,status_exited,status_closed,has_ipo,average_change_in_funds,average_momentum,latest_momentum
0,1,0,0,0,1.478261,2.964229,2.964229
1,0,1,0,0,0.557546,0.934681,0.331667
2,1,0,0,0,0.579845,0.825104,1.801594
3,1,0,0,0,0.515446,0.228600,0.228600
4,1,0,0,0,0.908425,0.341418,0.298739
...,...,...,...,...,...,...,...
4045,1,0,0,0,1.009921,1.008996,0.834738
4046,1,0,0,0,0.498214,1.521582,0.575279
4047,1,0,0,0,0.173378,1.498871,-0.230100
4048,1,0,0,0,0.559524,0.476957,0.457399
4049,1,0,0,0,0.836687,2.047393,5.489054

In [26]:
#print value_counts of each column of feature dataframe
for i in features.columns: 
    x= features[i].value_counts()
    print("column: ",i,", value is:",x)
    print()

column:  num_funding_rounds , value is: 2.0     1311
3.0     1018
4.0      684
5.0      417
6.0      241
7.0      158
8.0       98
9.0       47
10.0      26
11.0      20
14.0       8
12.0       7
13.0       6
15.0       3
16.0       2
23.0       1
17.0       1
19.0       1
20.0       1
Name: num_funding_rounds, dtype: int64

column:  cat_commerce_shopping , value is: 0.0    3498
1.0     552
Name: cat_commerce_shopping, dtype: int64

column:  cat_fin_services , value is: 1.0    3848
0.0     202
Name: cat_fin_services, dtype: int64

column:  cat_lending_invests , value is: 0.0    3122
1.0     928
Name: cat_lending_invests, dtype: int64

column:  cat_payments , value is: 0.0    2789
1.0    1261
Name: cat_payments, dtype: int64

column:  fd_rd_latest_investment , value is: 1.0    1741
2.0     900
3.0     533
0.0     495
4.0     242
5.0      88
6.0      29
7.0      22
Name: fd_rd_latest_investment, dtype: int64

column:  fd_rd_investment_type_series_unknown , value is: 0.0     3153
1.0      594
2.0      220
3.0       52
4.0       16
5.0        7
7.0        3
6.0        3
10.0       1
11.0       1
Name: fd_rd_investment_type_series_unknown, dtype: int64

column:  fd_rd_investment_type_grant , value is: 0.0     3775
1.0      187
2.0       70
3.0        9
5.0        3
4.0        3
10.0       1
9.0        1
12.0       1
Name: fd_rd_investment_type_grant, dtype: int64

column:  fd_rd_investment_type_debt_financing , value is: 0.0     3580
1.0      308
2.0      100
3.0       33
4.0       16
5.0        7
7.0        3
6.0        2
15.0       1
Name: fd_rd_investment_type_debt_financing, dtype: int64

column:  fd_rd_investment_type_pre_seed , value is: 0.0    3448
1.0     461
2.0     105
3.0      22
4.0      13
8.0       1
Name: fd_rd_investment_type_pre_seed, dtype: int64

column:  fd_rd_investment_type_post_ipo_equity , value is: 0.0    4021
1.0      12
2.0      12
3.0       2
5.0       2
4.0       1
Name: fd_rd_investment_type_post_ipo_equity, dtype: int64

column:  fd_rd_investment_type_convertible_note , value is: 0.0    3743
1.0     247
2.0      40
3.0      13
4.0       4
6.0       2
5.0       1
Name: fd_rd_investment_type_convertible_note, dtype: int64

column:  fd_rd_investment_type_equity_crowdfunding , value is: 0.0    3866
1.0     118
2.0      40
3.0      16
4.0       7
5.0       2
8.0       1
Name: fd_rd_investment_type_equity_crowdfunding, dtype: int64

column:  fd_rd_investment_type_private_equity , value is: 0.0    3989
1.0      46
2.0      12
3.0       3
Name: fd_rd_investment_type_private_equity, dtype: int64

column:  fd_rd_investment_type_undisclosed , value is: 0.0    3916
1.0     109
2.0      19
6.0       2
5.0       2
4.0       1
3.0       1
Name: fd_rd_investment_type_undisclosed, dtype: int64

column:  fd_rd_investment_type_post_ipo_debt , value is: 0.0    4039
1.0       8
2.0       3
Name: fd_rd_investment_type_post_ipo_debt, dtype: int64

column:  fd_rd_investment_type_corporate_round , value is: 0.0     3986
1.0       53
2.0        7
3.0        3
12.0       1
Name: fd_rd_investment_type_corporate_round, dtype: int64

column:  fd_rd_investment_type_product_crowdfunding , value is: 0.0    4034
1.0      13
2.0       2
3.0       1
Name: fd_rd_investment_type_product_crowdfunding, dtype: int64

column:  fd_rd_investment_type_non_equity_assistance , value is: 0.0    4003
1.0      44
2.0       3
Name: fd_rd_investment_type_non_equity_assistance, dtype: int64

column:  fd_rd_investment_type_initial_coin_offering , value is: 0.0    3956
1.0      76
2.0      17
3.0       1
Name: fd_rd_investment_type_initial_coin_offering, dtype: int64

column:  fd_rd_investment_type_secondary_market , value is: 0.0    4040
1.0       9
2.0       1
Name: fd_rd_investment_type_secondary_market, dtype: int64

column:  fd_rd_investment_type_post_ipo_secondary , value is: 0.0    4050
Name: fd_rd_investment_type_post_ipo_secondary, dtype: int64

column:  continent_NA , value is: 0    2258
1    1792
Name: continent_NA, dtype: int64

column:  continent_EU , value is: 0    2926
1    1124
Name: continent_EU, dtype: int64

column:  continent_AS , value is: 0    3249
1     801
Name: continent_AS, dtype: int64

column:  continent_SA , value is: 0    3916
1     134
Name: continent_SA, dtype: int64

column:  continent_AF , value is: 0    3959
1      91
Name: continent_AF, dtype: int64

column:  continent_OC , value is: 0    3956
1      94
Name: continent_OC, dtype: int64

column:  country_code_USA , value is: 0    2432
1    1618
Name: country_code_USA, dtype: int64

column:  country_code_GBR , value is: 0    3580
1     470
Name: country_code_GBR, dtype: int64

column:  country_code_IND , value is: 0    3876
1     174
Name: country_code_IND, dtype: int64

column:  country_code_CHN , value is: 0    3806
1     244
Name: country_code_CHN, dtype: int64

column:  country_code_CAN , value is: 0    3933
1     117
Name: country_code_CAN, dtype: int64

column:  country_code_SGP , value is: 0    3949
1     101
Name: country_code_SGP, dtype: int64

column:  country_code_AUS , value is: 0    3965
1      85
Name: country_code_AUS, dtype: int64

column:  country_code_DEU , value is: 0    3958
1      92
Name: country_code_DEU, dtype: int64

column:  country_code_BRA , value is: 0    3984
1      66
Name: country_code_BRA, dtype: int64

column:  country_code_CHE , value is: 0    3992
1      58
Name: country_code_CHE, dtype: int64

column:  country_code_ESP , value is: 0    3983
1      67
Name: country_code_ESP, dtype: int64

column:  country_code_FRA , value is: 0    3969
1      81
Name: country_code_FRA, dtype: int64

column:  country_code_NLD , value is: 0    4015
1      35
Name: country_code_NLD, dtype: int64

column:  country_code_HKG , value is: 0    4019
1      31
Name: country_code_HKG, dtype: int64

column:  country_code_ISR , value is: 0    4015
1      35
Name: country_code_ISR, dtype: int64

column:  country_code_KOR , value is: 0    4024
1      26
Name: country_code_KOR, dtype: int64

column:  country_code_SWE , value is: 0    3990
1      60
Name: country_code_SWE, dtype: int64

column:  country_code_JPN , value is: 0    3980
1      70
Name: country_code_JPN, dtype: int64

column:  country_code_MEX , value is: 0    4007
1      43
Name: country_code_MEX, dtype: int64

column:  country_code_IDN , value is: 0    4034
1      16
Name: country_code_IDN, dtype: int64

column:  city_London , value is: 0    3662
1     388
Name: city_London, dtype: int64

column:  city_New York , value is: 0    3733
1     317
Name: city_New York, dtype: int64

column:  city_San Francisco , value is: 0    3757
1     293
Name: city_San Francisco, dtype: int64

column:  city_Singapore , value is: 0    3949
1     101
Name: city_Singapore, dtype: int64

column:  city_Toronto , value is: 0    3994
1      56
Name: city_Toronto, dtype: int64

column:  city_Beijing , value is: 0    3968
1      82
Name: city_Beijing, dtype: int64

column:  city_Mumbai , value is: 0    4000
1      50
Name: city_Mumbai, dtype: int64

column:  city_Los Angeles , value is: 0    4011
1      39
Name: city_Los Angeles, dtype: int64

column:  city_Chicago , value is: 0    4002
1      48
Name: city_Chicago, dtype: int64

column:  city_Sydney , value is: 0    4001
1      49
Name: city_Sydney, dtype: int64

column:  city_Paris , value is: 0    3990
1      60
Name: city_Paris, dtype: int64

column:  city_SÃ£o Paulo , value is: 0    4005
1      45
Name: city_SÃ£o Paulo, dtype: int64

column:  city_Tokyo , value is: 0    3990
1      60
Name: city_Tokyo, dtype: int64

column:  city_Berlin , value is: 0    4008
1      42
Name: city_Berlin, dtype: int64

column:  city_Boston , value is: 0    3997
1      53
Name: city_Boston, dtype: int64

column:  city_Stockholm , value is: 0    4004
1      46
Name: city_Stockholm, dtype: int64

column:  city_Shanghai , value is: 0    4008
1      42
Name: city_Shanghai, dtype: int64

column:  city_Tel Aviv , value is: 0    4031
1      19
Name: city_Tel Aviv, dtype: int64

column:  city_Amsterdam , value is: 0    4027
1      23
Name: city_Amsterdam, dtype: int64

column:  city_Madrid , value is: 0    4024
1      26
Name: city_Madrid, dtype: int64

In [27]:
#print value_counts of each column of ylabel dataframe
for i in ylabel.columns: 
    x= ylabel[i].value_counts()
    print("column: ",i,", value is:",x)
    print()

column:  status_operating , value is: 1    3587
0     463
Name: status_operating, dtype: int64

column:  status_exited , value is: 0    3715
1     335
Name: status_exited, dtype: int64

column:  status_closed , value is: 0    3922
1     128
Name: status_closed, dtype: int64

column:  has_ipo , value is: 0    4025
1      25
Name: has_ipo, dtype: int64

column:  average_change_in_funds , value is:  0.666667    38
 1.200000    33
 1.333333    29
 1.000000    24
-0.666667    17
             ..
 0.488295     1
 1.460208     1
 1.838384     1
 0.642102     1
 0.394340     1
Name: average_change_in_funds, Length: 3480, dtype: int64

column:  average_momentum , value is: -0.333333    5
 2.380480    3
 0.111111    2
 0.811275    2
 0.760427    2
            ..
-0.239214    1
 0.508306    1
 1.116198    1
-0.055383    1
 1.250000    1
Name: average_momentum, Length: 4015, dtype: int64

column:  latest_momentum , value is:  0.000000    44
 1.076923     6
 0.857143     5
 2.380480     5
 1.200000     4
             ..
 1.404455     1
-0.239214     1
-1.051127     1
 0.509953     1
-0.019797     1
Name: latest_momentum, Length: 3863, dtype: int64

In [28]:
###### DO qcut for all ylabels ####### 

binary_labels = [0,1]

ylabel["average_change_in_funds"]= pd.qcut(ylabel["average_change_in_funds"], 2, labels = binary_labels)
ylabel["average_momentum"]= pd.qcut(ylabel["average_momentum"], 2, labels = binary_labels)
ylabel["latest_momentum"]= pd.qcut(ylabel["latest_momentum"], 2, labels = binary_labels)

ylabel

,status_operating,status_exited,status_closed,has_ipo,average_change_in_funds,average_momentum,latest_momentum
0,1,0,0,0,1,1,1
1,0,1,0,0,0,1,0
2,1,0,0,0,0,1,1
3,1,0,0,0,0,0,0
4,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...
4045,1,0,0,0,1,1,1
4046,1,0,0,0,0,1,0
4047,1,0,0,0,0,1,0
4048,1,0,0,0,0,0,0
4049,1,0,0,0,1,1,1

In [29]:
#Train model to predict each ylabel
im_arr=[]
im_num_arr=[]

for i in ylabel: 
    X_train, X_test, y_train, y_test = train_test_split(features, ylabel[i], test_size=0.3, random_state=5)
    model=DecisionTreeClassifier()
    model.fit(X_train, y_train)
    
    # use the trained model to predict test set for evaluation
    pred_test = model.predict(X_test)

    # print out evaluation result
    print("Predicting: ", i)
    
    print("Accuracy:{}".format(accuracy_score(y_test, pred_test, normalize=True, sample_weight=None)))
    print("Classification Report:\n{}".format(classification_report(y_test, pred_test)))
    print("Confusion Matrix:\n{}".format(confusion_matrix(y_test, pred_test)))
    print("--------------------------------------------------------------------------")
    
    x_col= features.columns
    col=[]
    num=[]
    importance= model.feature_importances_

    for i in range(len(x_col)):
        str= x_col[i], importance[i]
        col.append(str )
        num.append(importance[i])
    im_arr.append(col)
    im_num_arr.append(num)

Predicting:  status_operating
Accuracy:0.8065843621399177
Classification Report:
              precision    recall  f1-score   support

           0       0.15      0.14      0.15       139
           1       0.89      0.89      0.89      1076

    accuracy                           0.81      1215
   macro avg       0.52      0.52      0.52      1215
weighted avg       0.80      0.81      0.81      1215

Confusion Matrix:
[[ 20 119]
 [116 960]]
--------------------------------------------------------------------------
Predicting:  status_exited
Accuracy:0.8609053497942387
Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.93      0.92      1116
           1       0.12      0.11      0.12        99

    accuracy                           0.86      1215
   macro avg       0.52      0.52      0.52      1215
weighted avg       0.86      0.86      0.86      1215

Confusion Matrix:
[[1035   81]
 [  88   11]]
--------------------------------------------------------------------------
Predicting:  status_closed
Accuracy:0.9440329218106996
Classification Report:
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      1175
           1       0.06      0.05      0.06        40

    accuracy                           0.94      1215
   macro avg       0.52      0.51      0.51      1215
weighted avg       0.94      0.94      0.94      1215

Confusion Matrix:
[[1145   30]
 [  38    2]]
--------------------------------------------------------------------------
Predicting:  has_ipo
Accuracy:0.9893004115226337
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.99      0.99      1209
           1       0.11      0.17      0.13         6

    accuracy                           0.99      1215
   macro avg       0.55      0.58      0.56      1215
weighted avg       0.99      0.99      0.99      1215

Confusion Matrix:
[[1201    8]
 [   5    1]]
--------------------------------------------------------------------------
Predicting:  average_change_in_funds
Accuracy:0.5415637860082304
Classification Report:
              precision    recall  f1-score   support

           0       0.50      0.62      0.55       557
           1       0.60      0.48      0.53       658

    accuracy                           0.54      1215
   macro avg       0.55      0.55      0.54      1215
weighted avg       0.55      0.54      0.54      1215

Confusion Matrix:
[[343 214]
 [343 315]]
--------------------------------------------------------------------------
Predicting:  average_momentum
Accuracy:0.5242798353909465
Classification Report:
              precision    recall  f1-score   support

           0       0.49      0.62      0.55       566
           1       0.57      0.44      0.50       649

    accuracy                           0.52      1215
   macro avg       0.53      0.53      0.52      1215
weighted avg       0.53      0.52      0.52      1215

Confusion Matrix:
[[353 213]
 [365 284]]
--------------------------------------------------------------------------
Predicting:  latest_momentum
Accuracy:0.5209876543209877
Classification Report:
              precision    recall  f1-score   support

           0       0.51      0.57      0.54       591
           1       0.54      0.48      0.51       624

    accuracy                           0.52      1215
   macro avg       0.52      0.52      0.52      1215
weighted avg       0.52      0.52      0.52      1215

Confusion Matrix:
[[336 255]
 [327 297]]
--------------------------------------------------------------------------

In [42]:
# Choosing the most important feature (Alter "num_of_top" to get number of top features)

avg_arr= []

for i in range(len(im_num_arr[0])):
    dummy_list=[]
    for j in range(len(im_num_arr)): 
        dummy_list.append(im_num_arr[j][i])
    avg_arr.append(mean(dummy_list))

num_of_top=20

top_index= sorted(range(len(avg_arr)), key=lambda i: avg_arr[i], reverse=True)[:num_of_top]

print("Top ", num_of_top  , " features are: ")

for i in range(len(top_index)): 
    print(features.columns[top_index[i]])

[0, 5, 6, 3, 8, 4, 1, 10, 7, 49, 11, 9, 50, 53, 16, 31, 28, 12, 14, 13]

In [ ]:
# # Create a decision tree 

# dotfile = open("dtree2.dot", 'w')
# tree.export_graphviz(model, out_file = dotfile, feature_names = x.columns)
# dotfile.close()