In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
# read the CSV
df = pd.read_csv("jobs.csv")
# change the cols to keep
keep_col = ['uuid','person_uuid','org_uuid','org_name','started_on','ended_on','is_current','job_type']
df = df[keep_col]

In [3]:
df.reset_index(inplace=True)
df.drop(axis=1, labels='index', inplace=True)

In [4]:
# df.info()

In [5]:
# series = df['job_type'].value_counts()
# print(series)

In [6]:
# one-hot encoder for country_code, stock_exchange_symbol
def encoding_jobs(df: pd.DataFrame, col_name: str, num_selected: int) -> pd.DataFrame:
    '''
    Performs one-hot encoding on a dataframe's column for its values with most occurrences

    :param pd.DataFrame df: dataframe to be processed
    :param str col_name: name of the encoded column
    :param int num_selected: number of values with most occurrences
    :return: processed dataframe
    :rtype: pd.DataFrame
    '''
    series = df[col_name].value_counts()
    selected_col_name = series.head(num_selected).index.tolist()

    for item in selected_col_name:
        df[item] = np.where(df[col_name] == item, 1, 0) # whenever df[col_name] == cat replace it with 1 else 0

    return df

In [7]:
num_job_type = 5 # there are only 4: executive, employee, board_member, advisor, board_observer
df = encoding_jobs(df, 'job_type', num_job_type)
df.drop(labels='job_type', axis=1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1589222 entries, 0 to 1589221
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   uuid            1589222 non-null  object
 1   person_uuid     1589222 non-null  object
 2   org_uuid        1589222 non-null  object
 3   org_name        1589218 non-null  object
 4   started_on      786367 non-null   object
 5   ended_on        293932 non-null   object
 6   is_current      1589222 non-null  bool
 7   executive       1589222 non-null  int32
 8   employee        1589222 non-null  int32
 9   board_member    1589222 non-null  int32
 10  advisor         1589222 non-null  int32
 11  board_observer  1589222 non-null  int32
dtypes: bool(1), int32(5), object(6)
memory usage: 104.6+ MB

In [9]:
# df

In [10]:
# df.to_csv("jobs_cleaned.csv", index=False)
df1 = df[0:529741]
df2 = df[529741:1059482]
df3 = df[1059482:1589222]

df1.to_csv("jobs_cleaned_1.csv", index=False)
df2.to_csv("jobs_cleaned_2.csv", index=False)
df3.to_csv("jobs_cleaned_3.csv", index=False)

In [11]:
# df1

In [12]:
# df2

In [13]:
# df3