In [1]:
# import library
import pandas as pd

In [2]:
# read the CSV
df = pd.read_csv("../bulk_export_processed/cleaned_csv/event_appearances_cleaned.csv")
# change the cols to keep
keep_col = ['participant_uuid', 'participant_name']
df = df[keep_col]

In [3]:
event_count_dict = df['participant_name'].value_counts().to_dict()
df['event_count'] = df['participant_name'].map(event_count_dict)
df.drop_duplicates(inplace=True)
df.sort_values(by='event_count', axis=0, ascending=False, inplace=True)

In [4]:
df.reset_index(inplace=True)
df.drop(axis=1, labels='index', inplace=True)

In [5]:
df

,participant_uuid,participant_name,event_count
0,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,775
1,fc5fbe7a-562d-d577-b05e-46797caa134c,IBM,644
2,1e4f199c-363b-451b-a164-f94571075ee5,Intel,490
3,6acfa7da-1dbd-936e-d985-cf07a1b27711,Google,438
4,e0906c05-fae5-9591-ba5f-2142d8b0065a,Cisco,415
...,...,...,...
225093,59d13f73-dd9b-fb6f-0c5f-81159ab41af8,Olivier Albessard,1
225094,c2e43b73-9037-0b50-74d2-5d36a73facfc,Ludovic Assémat,1
225095,0ae1b0f9-806f-7635-2ad1-54128246ab8a,SARIO,1
225096,7617c238-53ca-756c-a98c-5d2342734b29,Alexandre Ali,1
225097,dd8c42ef-da3c-46de-baf0-3cab9f7da20b,JPMorgan Chase & Co.,1

In [6]:
# df.to_csv("event_summary.csv", index=False)