In [1]:
# import library
import pandas as pd

In [2]:
# read the CSV
df = pd.read_csv("../bulk_export_processed/investors_processed.csv")
# change the cols to keep
keep_col = ['uuid','name','investment_count','founded_on','closed_on']
df = df[keep_col]

In [3]:
df.dropna(axis=0, how='any', subset=['investment_count'], inplace=True)

In [4]:
df.drop(df[df['investment_count'] < 100].index, inplace=True)

In [5]:
df['investment_count'] = df['investment_count'].astype(int)

In [6]:
df.sort_values(by='investment_count', axis=0, ascending=False, inplace=True)

In [7]:
df.reset_index(inplace=True)
df.drop(axis=1, labels='index', inplace=True)

In [10]:
frontend_output = df[['name','investment_count']].head(20)
frontend_output

                                    name  investment_count
0   EASME - EU Executive Agency for SMEs              3715
1                           Y Combinator              3272
2                              Techstars              3093
3                           500 Startups              2427
4              New Enterprise Associates              1874
5                                   SOSV              1830
6                                  Accel              1499
7                        Sequoia Capital              1427
8                          Intel Capital              1418
9                          MassChallenge              1342
10                           IDG Capital              1238
11                          Venture Kick              1231
12                       Kleiner Perkins              1213
13                                 Wayra              1158
14                             Crowdcube              1133
15                         plug and play              1072
16             Bessemer Venture Partners              1010
17                               NYSERDA              1004
18                              SV Angel               932
19         Right Side Capital Management               914

In [11]:
# frontend_output.to_csv("top_20_investors.csv", index=False)

In [8]:
# df.to_csv("top_20_investors.csv", index=False)