In [1]:
# import library
import pandas as pd

In [2]:
# read the CSV
df = pd.read_csv("../bulk_export_processed/investors_processed.csv")
# change the cols to keep
keep_col = ['uuid','name','investment_count','founded_on','closed_on']
df = df[keep_col]

In [3]:
df.dropna(axis=0, how='any', subset=['investment_count'], inplace=True)

In [4]:
df.drop(df[df['investment_count'] < 100].index, inplace=True)

In [5]:
df['investment_count'] = df['investment_count'].astype(int)

In [6]:
df.sort_values(by='investment_count', axis=0, ascending=False, inplace=True)

In [7]:
df.reset_index(inplace=True)
df.drop(axis=1, labels='index', inplace=True)

In [11]:
len(df)

763

In [13]:
frontend_output = df[['name','investment_count']].head(20)
frontend_output

                                    uuid  investment_count
0   1d0c86bf-c986-6b40-d757-4d97cdd5d877              3715
1   73633ee4-ea65-2967-6c5d-9b5fec7d2d5e              3272
2   3718597a-dd39-6661-3630-09cdd43bcac2              3093
3   56e40f50-97c7-2a77-255d-1d97d5f30646              2427
4   47b84763-9727-7cdf-b194-2742e3963147              1874
..                                   ...               ...
95  7475db43-36a9-414d-f7a9-b92b78bae47b               402
96  9db0b6bb-4b28-fa20-e2df-e2af6ebd3a3d               395
97  36feed26-9375-138b-3eef-e1e00faa858f               394
98  506b68d7-61d1-b593-0a0d-518cfa5ff5f3               393
99  18019029-7c3e-8476-c4f3-9216298db9e1               393

[100 rows x 2 columns]

In [14]:
backend_top_investors = df[['uuid']].head(100)
backend_top_investors

                                    uuid
0   1d0c86bf-c986-6b40-d757-4d97cdd5d877
1   73633ee4-ea65-2967-6c5d-9b5fec7d2d5e
2   3718597a-dd39-6661-3630-09cdd43bcac2
3   56e40f50-97c7-2a77-255d-1d97d5f30646
4   47b84763-9727-7cdf-b194-2742e3963147
..                                   ...
95  7475db43-36a9-414d-f7a9-b92b78bae47b
96  9db0b6bb-4b28-fa20-e2df-e2af6ebd3a3d
97  36feed26-9375-138b-3eef-e1e00faa858f
98  506b68d7-61d1-b593-0a0d-518cfa5ff5f3
99  18019029-7c3e-8476-c4f3-9216298db9e1

[100 rows x 1 columns]

In [15]:
# backend_top_investors.to_csv("top_100_investors.csv", index=False)

In [9]:
# frontend_output.to_csv("top_100_investors.csv", index=False)

In [10]:
# df.to_csv("top_20_investors.csv", index=False)