In [1]:
# import library
import pandas as pd
import numpy as np

In [2]:
# read the CSV
df = pd.read_csv("agg_multiple_investors.csv")
# change the cols to keep
keep_col = ['funding_round_uuid','investor_uuid','partner_uuid']
df = df[keep_col]

In [3]:
df = df.merge(df.groupby('funding_round_uuid').agg(investor_list=('partner_uuid',list)).reset_index())
df

  funding_round_uuid investor_uuid partner_uuid           investor_list
0               abcd         betty     stardust        [stardust, ball]
1               abcd         betty         ball        [stardust, ball]
2               efgh       chiming        anson  [anson, boris, calvin]
3               efgh       chiming        boris  [anson, boris, calvin]
4               efgh       chiming       calvin  [anson, boris, calvin]

In [4]:
for index, row in df.iterrows():
    row[df.columns.get_loc('investor_list')] = np.insert(row[df.columns.get_loc('investor_list')], 0, row[df.columns.get_loc('investor_uuid')], axis=0)
df

,funding_round_uuid,investor_uuid,partner_uuid,investor_list
0,abcd,betty,stardust,"[betty, stardust, ball]"
1,abcd,betty,ball,"[betty, stardust, ball]"
2,efgh,chiming,anson,"[chimin, anson, boris, calvin]"
3,efgh,chiming,boris,"[chimin, anson, boris, calvin]"
4,efgh,chiming,calvin,"[chimin, anson, boris, calvin]"

In [5]:
df.drop(labels=['investor_uuid', 'partner_uuid'], axis=1, inplace=True)
df

  funding_round_uuid                   investor_list
0               abcd         [betty, stardust, ball]
1               abcd         [betty, stardust, ball]
2               efgh  [chimin, anson, boris, calvin]
3               efgh  [chimin, anson, boris, calvin]
4               efgh  [chimin, anson, boris, calvin]

In [6]:
df.drop_duplicates(subset='funding_round_uuid', inplace=True)
df

  funding_round_uuid                   investor_list
0               abcd         [betty, stardust, ball]
2               efgh  [chimin, anson, boris, calvin]

In [7]:
df.reset_index(inplace=True)
df.drop(axis=1, labels='index', inplace=True)
df

  funding_round_uuid                   investor_list
0               abcd         [betty, stardust, ball]
1               efgh  [chimin, anson, boris, calvin]